<div layout="row" layout-align="center start" ng-repeat="item in $ctrl.news">
    <md-card flex-xs="100" flex-sm="100" flex-md="70" flex-gt-md="50" ng-click="$ctrl.goToNews(item.id)">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{ item.title }}</span>
                <span class="md-subhead">{{ item.summary }}
                </span>
            </md-card-title-text>
        </md-card-title>

        <md-card-content>{{ item.description }}</md-card-content>
    </md-card>
</div>