mat-progress-bar {
  margin: 0 0 15px;
}

.chip-list {
  width: 100%;
}

.table-container {
  position: relative;
  //max-height: 65vh;
  //overflow-x: hidden;
  //overflow-y: auto;
}

table {
  width: 100%;
}

td, th {
  width: 25%;
}

.description {
  color: rgba(0, 0, 0, 0.4)
}
