<h1>Test Data</h1>
<md-card>
    <md-card-header>
        <md-card-title>Title</md-card-title>
        <md-card-subtitle>Subtitle</md-card-subtitle>
    </md-card-header>
    <md-card-content>
        <mdt-table
                table-card="{visible: true, title: 'Issues'}"
                paginated-rows="{isEnabled: true, rowsPerPageValues: [5,10,20,50]}"
                mdt-row-paginator="$ctrl.issues(page, pageSize, options)"
                selectable-rows="true"
                alternate-headers="'contextual'"
                selected-row-callback="$ctrl.selectedRowCallback(rows)"
                mdt-row="{
                'table-row-id-key': 'id',
                'column-keys': [
                'id',
                'tracker_id',
                'status_id',
                'priority_id',
                'subject',
                'full_name',
                'updated_on'
            ]
        }">

            <mdt-header-row>
                <mdt-column align-rule="left" column-sort="true"><span>#</span></mdt-column>
                <mdt-column align-rule="left" column-sort="true"><span>Tracker</span></mdt-column>
                <mdt-column align-rule="left" column-sort="true"><span>Status</span></mdt-column>
                <mdt-column align-rule="left" column-sort="true"><span>Priority</span></mdt-column>
                <mdt-column align-rule="left" column-sort="true"><span>Subject</span></mdt-column>
                <mdt-column align-rule="left" column-sort="true"><span>Assigned to</span></mdt-column>
                <mdt-column align-rule="left" column-sort="true"><span>Updated</span></mdt-column>
            </mdt-header-row>
            <mdt-custom-cell column-key="id"><a ng-href="/issues/{{value}}" target="_blank">{{ rowId }}</a>
            </mdt-custom-cell>
            <mdt-custom-cell column-key="subject"><a ng-href="/issues/{{ rowId }}" target="_blank">{{ value }}</a>
            </mdt-custom-cell>
            <mdt-custom-cell column-key="full_name"><a ng-href="/user/{{ rowId }}" target="_blank">{{ value }}</a></mdt-custom-cell>
        </mdt-table>
    </md-card-content>
    <md-card-actions align="start">

    </md-card-actions>
    <md-card-footer>
        Footer
    </md-card-footer>
</md-card>