<div layout-gt-sm="row" layout-align="center start">
    <md-card flex-xs="100" flex-sm="100" flex-md="70" flex-gt-md="50">
        <md-card-header>
            <md-button class="md-icon-button" ng-click="$ctrl.selectAll()">
                <md-icon>done_all</md-icon>
            </md-button>

            <md-button class="md-icon-button" ng-click="$ctrl.load()">
                <md-icon>refresh</md-icon>
            </md-button>

            <div flex></div>

            <md-button class="pages-button">
                1-20 / 100
            </md-button>

            <md-button class="md-icon-button">
                <md-icon>keyboard_arrow_left</md-icon>
            </md-button>

            <md-button class="md-icon-button">
                <md-icon>keyboard_arrow_right</md-icon>
            </md-button>

            <md-button class="md-icon-button">
                <md-icon>settings</md-icon>
            </md-button>
        </md-card-header>

        <md-card-content>
            <md-chips
                    ng-model="$ctrl.tags"
                    readonly="false"
                    md-removable="true"
                    placeholder="Filter"
                    md-require-match="true"
                    delete-button-label="Remove param"
                    delete-hint="Press delete to remove param">

                <md-chip-template>
                    <strong>{{ $chip.name }}</strong>
                    <em>({{ $chip.type }})</em>
                </md-chip-template>

                <md-autocomplete
                        md-no-cache="true"
                        md-search-text="$ctrl.searchText"
                        md-item-text="item.name"
                        md-items="item in $ctrl.querySearch($ctrl.searchText)">
                    <span md-highlight-text="$ctrl.searchText">{{item.name}} :: {{item.type}}</span>
                </md-autocomplete>
            </md-chips>
        </md-card-content>

        <md-list class="md-dense">
            <md-list-item class="md-2-line" ng-repeat="row in $ctrl.list" ng-click="$ctrl.viewIssue(row)">
                <md-checkbox ng-model="row.selected" aria-label="Select issue"></md-checkbox>

                <div class="md-list-item-text" layout="column">
                    <h3>{{ row.id }} | Feature | Open | {{ row.subject }}</h3>
                    <p>Developer Name</p>
                </div>

                <md-icon ng-if="row.is_private">lock</md-icon>
                <md-icon ng-if="row.priority_id == 5">priority_high</md-icon>

                <md-divider ng-if="!$last"></md-divider>
            </md-list-item>
        </md-list>

        <md-card-actions layout="row" layout-align="center center">
            <md-button ng-click="null">
                <md-icon>rss_feed</md-icon>
                Atom
            </md-button>

            <md-button ng-click="null">
                <md-icon>file_download</md-icon>
                CSV
            </md-button>

            <md-button ng-click="null">
                <md-icon>file_download</md-icon>
                PDF
            </md-button>
        </md-card-actions>
    </md-card>

    <md-card flex-xs="100" flex-sm="100" flex-md="70" flex-gt-md="50" ng-if="$ctrl.selectedIssue">
        <md-progress-linear md-mode="determinate" ng-value="$ctrl.selectedIssue.done_ratio"></md-progress-linear>

        <md-card-header>
            <md-card-header-text>
                <span class="md-title">
                    <md-icon ng-if="$ctrl.selectedIssue.is_private">lock</md-icon>
                    {{ $ctrl.selectedIssue.subject }}
                </span>
                <span class="md-subhead">#{{ $ctrl.selectedIssue.id }} | Feature | Open</span>
            </md-card-header-text>

            <div flex></div>

            <md-button class="md-icon-button" ng-click="$ctrl.toggleShowMore()">
                <md-icon>{{ $ctrl.showMore ? 'expand_less' :'expand_more' }}</md-icon>
            </md-button>

            <md-button class="md-icon-button" ng-click="$ctrl.closeIssueCard()">
                <md-icon>close</md-icon>
            </md-button>
        </md-card-header>

        <md-card-content ng-if="$ctrl.showMore">
            <p><b>Priority:</b> normal</p>
            <p><b>Assignee:</b> developer name</p>
            <p><b>Target version:</b> -</p>
            <p><b>Start date:</b> {{ $ctrl.selectedIssue.start_date }}</p>
            <p><b>Due date:</b> {{ $ctrl.selectedIssue.due_date || '-' }}</p>
            <md-divider></md-divider>
        </md-card-content>

        <md-card-content ng-scrollbars markdown-to-html="$ctrl.selectedIssue.description || ''"></md-card-content>

        <md-card-actions layout="row" layout-align="center center">
            <md-button ng-click="$ctrl.openIssue($ctrl.selectedIssue.id)">
                <md-icon>open_in_browser</md-icon>
                Open
            </md-button>

            <md-button ng-click="$ctrl.editIssue($ctrl.selectedIssue.id)">
                <md-icon>mode_edit</md-icon>
                Edit
            </md-button>

            <md-button ng-click="null">
                <md-icon>star_border</md-icon>
                Watch
            </md-button>

            <md-button ng-click="null">
                <md-icon>content_copy</md-icon>
                Copy
            </md-button>

            <md-button ng-click="null">
                <md-icon>delete</md-icon>
                Delete
            </md-button>
        </md-card-actions>
    </md-card>
</div>