<div layout="column" layout-align="center none">
    <md-card layout="row">
        <div layout-align="start start" flex="80" ng-if="!$ctrl.editMode">
            <md-list>
                <md-list-item>
                    <md-button class="md-raised md-primary animation-target md-secondary"
                               ng-click="$ctrl.newWikiPage($event)">
                        New wiki page
                    </md-button>
                    <md-button class="md-raised md-primary animation-target md-secondary"
                               ng-click="$ctrl.goToEdit()">
                        Edit
                    </md-button>
                    <md-button class="md-raised md-primary animation-target md-secondary"
                               ng-click="$ctrl.watchPage()">
                        Watch
                    </md-button>
                    <md-button class="md-raised md-primary animation-target md-secondary"
                               ng-click="$ctrl.deletePage()">
                        Delete
                    </md-button>
                    <md-button class="md-raised md-primary animation-target md-secondary"
                               ng-click="$ctrl.showHistory()">
                        History
                    </md-button>
                </md-list-item>
            </md-list>
            <md-card-content class="md-body-1" markdown-to-html="$ctrl.data.text || ''"></md-card-content>
            <md-list>
                <md-list-item>
                    <md-button class="md-raised md-primary animation-target md-secondary"
                               ng-click="$ctrl.addFile($event)">
                        Add File
                    </md-button>
                </md-list-item>
            </md-list>
        </div>
        <form ng-if="$ctrl.editMode" name="PageWikiForm" ng-submit="$ctrl.submit()" flex="80">
            <md-input-container layout-padding layout="column">
                    <textarea name="editor" ng-model="$ctrl.data.text" required>
                    </textarea>
                <div ng-messages="EditWikiForm.editor.$error">
                    <div ng-message="required">
                        Wiki can't be blank!
                    </div>
                </div>
            </md-input-container>
            <md-card-actions layout="row" layout-align="center center">
                <md-button class="md-raised md-primary animation-target" type="submit"
                           ng-disabled="EditWikiForm.$invalid">Save
                </md-button>
                <md-button class="md-raised animation-target" ng-click="$ctrl.cancel()">
                    Cancel
                </md-button>
            </md-card-actions>
        </form>
        <div layout-align="end start" flex="20">
            <md-list>
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h3>Wiki page</h3>
                    </div>
                </md-toolbar>
                <md-list-item class="md-3-line"
                              ng-repeat="page in $ctrl.pageList" ng-click="$ctrl.goto(page.title)">
                    <div class="md-list-item-text" layout="column">
                        <h3>{{ page.title }}</h3>
                    </div>
                    <md-divider ng-if="!$last"></md-divider>
                </md-list-item>
            </md-list>
        </div>
    </md-card>
</div>