<div layout="row" layout-align="center start">
    <md-card flex-gt-sm="70" flex-gt-md="50" flex-xs="100" flex-sm="100">
        <md-progress-linear md-mode="indeterminate" ng-if="$ctrl.loadProccess"></md-progress-linear>

        <md-tabs md-dynamic-height md-border-bottom md-selected="$ctrl.pageIndex">
            <md-tab ng-repeat="tab in ::$ctrl.settingsTabs"
                    label="{{ ::tab.name }}"
                    ng-if="tab.enable"
                    md-on-select="$ctrl.selectTab(tab.url)">
                <div compile="tab.componentTag"></div>
            </md-tab>
        </md-tabs>
    </md-card>
</div>