<md-nav-bar class="md-primary md-hue-2" md-selected-nav-item="$ctrl.currentNavItem"
            nav-bar-aria-label="Project navigation links">
    <!--<md-nav-item md-nav-sref="page6" sref-opts="{reload:true, notify:true}">-->
    <md-nav-item ng-repeat="item in $ctrl.items" md-nav-click="$ctrl.goto(item.url)" name="{{ item.url }}">
        {{ item.name === 'issue_tracking' ? 'activity' : item.name }}
    </md-nav-item>
</md-nav-bar>

<div ui-view="content"></div>

<md-fab-speed-dial md-open="$ctrl.menuOpen" md-direction="up" class="md-scale md-fab-top-righ">
    <md-fab-trigger>
        <md-button aria-label="menu" class="md-fab md-warn">
            <md-icon>add</md-icon>
        </md-button>
    </md-fab-trigger>

    <md-fab-actions>
        <md-button aria-label="Twitter" class="md-fab md-raised md-mini" ng-click="$ctrl.goto(item.url)" ng-repeat="item in $ctrl.newItems">
            <md-tooltip md-direction="left" md-visible="$ctrl.menuOpen"
                        md-autohide="true">{{ item.name }}
            </md-tooltip>
            <md-icon>{{ item.icon }}</md-icon>
        </md-button>
    </md-fab-actions>
</md-fab-speed-dial>