<md-dialog flex="75">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Wiki preview: {{$ctrl.title}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="$ctrl.cancel()">
                    <md-icon aria-label="Close dialog">clear</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <div class="md-body-1" markdown-to-html="$ctrl.content.text || ''"></div>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <!--<md-button target="_blank" md-autofocus>-->
                <!--More on Wikipedia-->
            <!--</md-button>-->
            <span flex></span>
            <md-button ng-click="$ctrl.cancel()">
                Close
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>

