/node_modules
/public/hot
/public/storage
/storage/uploads
/public/css
/public/js
/public/fonts
/public/images
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
Будет удалено public/mix-manifest.json
.phpstorm.meta.php
_ide_helper.php