<div layout-gt-sm="row" flex-gt-sm="70" flex-offset-gt-sm="15" layout-align="center start">
    <md-card flex>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Overview</span>
                <span class="md-subhead" ng-if="$ctrl.project.homepage">{{ $ctrl.project.homepage }}</span>
            </md-card-title-text>
        </md-card-title>

        <md-card-content class="md-body-1" ng-bind-html="($ctrl.project.description || '') | nl2p"></md-card-content>
    </md-card>

    <div layout="column" flex>
        <md-card flex>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Issue tracking</span>
                </md-card-title-text>
            </md-card-title>

            <md-card-content class="md-body-1">
                <p>Feature:</p>
                <p>Bug:</p>
            </md-card-content>

            <md-card-actions layout="row" layout-align="center center">
                <md-button>View all issues</md-button>
            </md-card-actions>
        </md-card>

        <md-card flex>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Members</span>
                </md-card-title-text>
            </md-card-title>

            <md-card-content class="md-body-1">
                <p>Manager:</p>
                <p>Developer:</p>
            </md-card-content>
        </md-card>
    </div>
</div>

<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="col-md-12 ">-->
<!--<div class="panel panel-default">-->
<!--<div class="panel-heading clearfix">-->
<!--<div class="panel-title pull-left">{{ $ctrl.project.name }}</div>-->

<!--<div class="btn-toolbar" role="toolbar">-->
<!--<div class="btn-group pull-right" uib-dropdown>-->
<!--<a ui-sref="projects.new" id="split-button" type="button" class="btn btn-primary btn-sm">-->
<!--<i class="fa fa-plus"></i> New subproject-->
<!--</a>-->
<!--<a href="#" type="button" class="btn btn-default btn-sm">-->
<!--<i class="fa fa-times"></i> Close-->
<!--</a>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="panel-body">-->
<!--<div class="row">-->
<!--<div class="col-md-7">-->
<!--<h4>Overview</h4>-->
<!--<div ng-bind-html="$ctrl.project.description | nl2p"></div>-->
<!--</div>-->
<!--<div class="col-md-5">-->
<!--<h4>Spent time</h4>-->

<!--<h4>Members</h4>-->
<!--<h4>Issue tracking</h4>-->
<!--<h4>Subprojects</h4>-->
<!--</div>-->
<!--</div>-->

<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->