mat-grid-tile {
  box-shadow: 0 0 1px red;
}

mat-card-title {
  text-align: center;
}

mat-form-field {
  width: 100%;
  input {
    color: black;
  }
}

#profile {
  min-height: 500px;
  #avatar {
    padding: 5px;
    margin: 15px 5px;
    img {
      border-radius: 50%;
      height: 150px;
      width: 150px;
      object-fit: cover;

    }
  }

}

.icon {
  padding: 0 14px;
}

.spacer {
  flex: 1 1 auto;
}

.mat-icon {
  cursor: pointer;
  user-select: none;
}

.mat-form-field-wrapper {
  overflow: hidden;
}
