.main {
  width: 80%;
  margin-right: 10px !important;
  margin-left: 10px;
  //float:left;
}

.task-description {
  margin-top: 20px;
  margin-right: 10px !important;
  margin-left: 10px;
}

.status {
  padding-top: 10px;
}

.status, .priority, .assigned {
  padding-bottom: 10px;
}

.assigned {
  .progress-line {
    margin-top: 7px;
  }
}

.short-desciption p {
  margin: 5px 5px;
  display: inline-block;
}

.short-desciption img {
  float: left;
  display: inline-block;
}

.content {
  margin-top: 0 !important;
}

.edit {
  margin-top: 30px;
  width: 80%;
}