<!--<md-card>-->
<div layout="row" layout-align="center start">
<md-card flex-xs="100" flex-sm="100" flex-md="70" flex-gt-md="50">
    <md-progress-linear md-mode="indeterminate" ng-if="$ctrl.loadProcess"></md-progress-linear>

    <md-card-header>
        <!--<md-card-avatar>-->
            <!--<md-icon class="md-avatar-icon">work</md-icon>-->
        <!--</md-card-avatar>-->

        <md-card-header-text>
            <span class="md-title">Projects</span>
            <span class="md-subhead" ng-if="::$ctrl.isExtended">Administration</span>
        </md-card-header-text>

        <div flex></div>

        <md-button class="md-icon-button" ng-click="$ctrl.load()">
            <md-icon>refresh</md-icon>
        </md-button>

        <div ng-if="$ctrl.meta.total > 0">
            <md-menu>
                <md-button class="card-button" ng-click="$mdMenu.open()">
                    {{ $ctrl.meta.from + ' - ' + $ctrl.meta.to + ' / ' + $ctrl.meta.total }}
                </md-button>

                <md-menu-content>
                    <md-menu-item ng-repeat="item in ::$ctrl.perPageList">
                        <md-button ng-click="$ctrl.setLimitPerPage(item)" ng-disabled="$ctrl.limitPerPage === item">
                            {{ ::item }}
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>

            <md-button
                    ng-click="$ctrl.previous()"
                    ng-disabled="!$ctrl.links.prev || $ctrl.loadProcess"
                    class="md-icon-button">
                <md-icon>keyboard_arrow_left</md-icon>
            </md-button>

            <md-button
                    ng-click="$ctrl.next()"
                    ng-disabled="!$ctrl.links.next || $ctrl.loadProcess"
                    class="md-icon-button">
                <md-icon>keyboard_arrow_right</md-icon>
            </md-button>

            <md-menu>
                <md-button class="md-icon-button" ng-click="$mdMenu.open()">
                    <md-icon>sort</md-icon>
                </md-button>
                <md-menu-content width="3">
                    <md-menu-item ng-repeat="item in ::$ctrl.sortList">
                        <md-button ng-click="$ctrl.setSort(item)" ng-disabled="$ctrl.sort.param === item.param">
                            {{ ::item.name }}
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>

            <md-menu>
                <md-button class="md-icon-button" aria-label="User menu" ng-click="$mdMenu.open()">
                    <md-icon>more_vert</md-icon>
                </md-button>
                <md-menu-content width="3">
                    <md-menu-item ng-click="null">
                        <md-button>
                            <md-icon>rss_feed</md-icon>
                            Atom
                        </md-button>
                    </md-menu-item>

                    <md-menu-item ng-click="null">
                        <md-button>
                            <md-icon>file_download</md-icon>
                            CSV
                        </md-button>
                    </md-menu-item>

                    <md-menu-item ng-click="null">
                        <md-button>
                            <md-icon>file_download</md-icon>
                            PDF
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </md-card-header>

    <md-card-content>
        <md-chips
                ng-model="$ctrl.tags"
                readonly="false"
                md-removable="true"
                placeholder="Filter"
                md-require-match="true"
                delete-button-label="Remove param"
                md-on-add="$ctrl.onChangeFilterValue()"
                md-on-remove="$ctrl.onChangeFilterValue()"
                delete-hint="Press delete to remove param">

            <md-chip-template>
                <strong>{{ ::$chip.name }}</strong>
                <em>({{ ::$chip.type }})</em>
            </md-chip-template>

            <md-autocomplete
                    md-no-cache="true"
                    md-search-text="$ctrl.searchText"
                    md-item-text="item.name"
                    md-items="item in $ctrl.querySearch()"
                    md-min-length="0"
                    placeholder="Add filter">
                <span md-highlight-text="$ctrl.searchText" md-highlight-flags="i">
                    {{ ::item.name }} ({{ ::item.type }})
                </span>
            </md-autocomplete>
        </md-chips>
    </md-card-content>

    <md-list class="md-dense">
        <div ng-if="$ctrl.meta.total === 0" layout-align="center center" layout="row" class="md-padding">
            No data to display
        </div>

        <div ng-repeat="project in $ctrl.list" class="animate-repeat">
            <md-list-item class="md-2-line"
                          ng-href="{{ ::project._sref }}"
                          ng-click="null" aria-label="{{ ::project.name }}">

                <div class="md-avatar md-avatar-text">{{ ::project._name }}</div>

                <div class="md-list-item-text" layout="column">
                    <h3>
                        {{ ::project.name }}
                        <span class="description">{{ ::project.description }}</span>
                    </h3>

                    <h4 layout="row">
                        <span class="label label-default" ng-if="::$ctrl.isExtended">
                            {{ ::(project.is_public ? 'Public' : 'Private') }}
                        </span>

                        <span class="label label-default" ng-if="::(project.status === $ctrl.PROJECT_STATUS_OPEN)">
                            Open
                        </span>

                        <span class="label label-default" ng-if="::(project.status === $ctrl.PROJECT_STATUS_CLOSE)">
                            Closed
                        </span>

                        <span class="label label-default" ng-if="::(project.status === $ctrl.PROJECT_STATUS_ARCHIVE)">
                            Archived
                        </span>

                        <span class="label label-primary" ng-if="::project.is_my">
                           Member
                        </span>

                        <span flex></span>

                        <span ng-if="::$ctrl.isExtended">{{ ::project.created_on }}</span>
                    </h4>
                </div>

                <md-menu-bar>
                    <md-menu md-position-mode="target-right target">
                        <md-button aria-label="More actions" class="md-icon-button" ng-click="$mdMenu.open()">
                            <md-icon>more_vert</md-icon>
                        </md-button>

                        <md-menu-content width="3">
                            <md-menu-item class="md-indent" ng-if="::(project.status !== $ctrl.PROJECT_STATUS_ARCHIVE)">
                                <md-icon>open_in_browser</md-icon>
                                <md-button ng-href="{{ ::project._sref }}">
                                    Open
                                </md-button>
                            </md-menu-item>

                            <md-menu-item class="md-indent" ng-if="::$ctrl.isExtended">
                                <md-menu>
                                    <md-button ng-click="$mdMenu.open()">
                                        Status
                                    </md-button>

                                    <md-menu-content width="3">
                                        <md-menu-item class="md-indent">
                                            <md-icon ng-if="::(project.status === $ctrl.PROJECT_STATUS_OPEN)">check</md-icon>
                                            <md-button ng-click="null" ng-disabled="::(project.status === $ctrl.PROJECT_STATUS_OPEN)">
                                                Open
                                            </md-button>
                                        </md-menu-item>

                                        <md-menu-item class="md-indent">
                                            <md-icon ng-if="::(project.status === $ctrl.PROJECT_STATUS_CLOSE)">check</md-icon>
                                            <md-button ng-click="null" ng-disabled="::(project.status === $ctrl.PROJECT_STATUS_CLOSE)">
                                                Close
                                            </md-button>
                                        </md-menu-item>

                                        <md-menu-item class="md-indent">
                                            <md-icon ng-if="::(project.status === $ctrl.PROJECT_STATUS_ARCHIV)">check</md-icon>
                                            <md-button ng-click="null" ng-disabled="::(project.status === $ctrl.PROJECT_STATUS_ARCHIVE)">
                                                Archive
                                            </md-button>
                                        </md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                            </md-menu-item>

                            <md-menu-item class="md-indent" ng-click="null" ng-if="::$ctrl.isExtended">
                                <md-icon>content_copy</md-icon>
                                <md-button>
                                    Copy
                                </md-button>
                            </md-menu-item>

                            <md-menu-divider></md-menu-divider>

                            <md-menu-item class="md-indent" ng-click="null" ng-if="::$ctrl.isExtended">
                                <md-icon>delete</md-icon>
                                <md-button>
                                    Delete
                                </md-button>
                            </md-menu-item>

                            <md-menu-divider ng-if="::$ctrl.isExtended"></md-menu-divider>

                            <md-menu-item class="md-indent" ng-repeat="module in ::project._modules">
                                <md-button ui-sref="{{ ::module.url }}({project_id: project.identifier})">
                                    {{ ::module.title }}
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </md-menu-bar>
            </md-list-item>

            <md-divider ng-if="!$last"></md-divider>
        </div>
    </md-list>
</md-card>
</div>