<!--<div layout-gt-sm="row" layout-align="center start">-->
<!--<md-card flex-xs="100" flex-sm="100" flex-md="70" flex-gt-md="50">-->
<md-card>
    <md-progress-linear md-mode="indeterminate" ng-if="$ctrl.loadProccess"></md-progress-linear>

    <md-card-header>
        <md-card-header-text>
            <span class="md-headline">[{{ $ctrl.page.title }}]</span>
        </md-card-header-text>

        <md-button class="md-icon-button" ng-click="$ctrl.load()">
            <md-icon>refresh</md-icon>
            <md-tooltip md-direction="down" md-autohide="true">
                Refresh
            </md-tooltip>
        </md-button>

        <md-menu>
            <md-button class="md-icon-button" aria-label="User menu" ng-click="$mdMenu.open()">
                <md-icon>more_vert</md-icon>
            </md-button>

            <md-menu-content width="3">
                <md-menu-item>
                    <md-button>
                        <md-icon>bookmark</md-icon>
                        Start page
                    </md-button>
                </md-menu-item>

                <md-menu-item>
                    <md-button>
                        <md-icon>title</md-icon>
                        Index by title
                    </md-button>
                </md-menu-item>

                <md-menu-item>
                    <md-button>
                        <md-icon>date_range</md-icon>
                        Index by date
                    </md-button>
                </md-menu-item>

                <md-divider></md-divider>

                <md-menu-item>
                    <md-button>
                        <md-icon>file_download</md-icon>
                        PDF
                    </md-button>
                </md-menu-item>

                <md-menu-item>
                    <md-button>
                        <md-icon>file_download</md-icon>
                        HTML
                    </md-button>
                </md-menu-item>

                <md-menu-item>
                    <md-button>
                        <md-icon>file_download</md-icon>
                        TXT
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </md-card-header>

    <md-card-content>
        <div class="markdown" markdown-to-html="$ctrl.page.content.text || ''"></div>
    </md-card-content>

    <md-card-actions layout="row" layout-align="center center">
        <!--<md-card-icon-actions>-->
        <md-button class="md-icon-button">
            <md-icon>delete</md-icon>
            <md-tooltip md-direction="top">Delete</md-tooltip>
        </md-button>

        <md-button class="md-icon-button">
            <md-icon>star_border</md-icon>
            <md-tooltip md-direction="top">Watch</md-tooltip>
        </md-button>

        <md-button class="md-icon-button">
            <md-icon>lock_open</md-icon>
            <md-tooltip md-direction="top">Lock</md-tooltip>
        </md-button>

        <md-button class="md-icon-button" ui-sref="wiki.page.rename({name:$ctrl.page.title})">
            <md-icon>link</md-icon>
            <md-tooltip md-direction="top">Rename</md-tooltip>
        </md-button>

        <md-button class="md-icon-button" ui-sref="wiki.page.history({name:$ctrl.page.title})">
            <md-icon>history</md-icon>
            <md-tooltip md-direction="top">History</md-tooltip>
        </md-button>

        <md-button class="md-icon-button">
            <md-icon>file_upload</md-icon>
            <md-tooltip md-direction="top">Add file</md-tooltip>
        </md-button>

        <md-button class="md-icon-button" ui-sref="wiki.page.edit({name:$ctrl.page.title})">
            <md-icon>edit</md-icon>
            <md-tooltip md-direction="top">Edit</md-tooltip>
        </md-button>
        <!--</md-card-icon-actions>-->
    </md-card-actions>
</md-card>
<!--</div>-->