<!--<div layout-gt-sm="row" layout-align="center start">-->
<!--<md-card flex-xs="100" flex-sm="100" flex-md="70" flex-gt-md="50">-->
<md-card>
    <md-card-header>
        <md-card-header-text>
            <span class="md-headline">{{ $ctrl.page.title }}</span>
        </md-card-header-text>

        <md-button class="md-icon-button" ng-click="$ctrl.startPage()" ng-if="!$ctrl.isStart">
            <md-icon>bookmark</md-icon>
            <md-tooltip md-direction="down" md-autohide="true">
                Start page
            </md-tooltip>
        </md-button>

        <md-button class="md-icon-button" ng-click="$ctrl.indexBy('title')">
            <md-icon>title</md-icon>
            <md-tooltip md-direction="down" md-autohide="true">
                Index by title
            </md-tooltip>
        </md-button>

        <md-button class="md-icon-button" ng-click="$ctrl.indexBy('date')">
            <md-icon>date_range</md-icon>
            <md-tooltip md-direction="down" md-autohide="true">
                Index by date
            </md-tooltip>
        </md-button>

        <md-menu>
            <md-button class="md-icon-button" aria-label="User menu"
                       ng-click="$ctrl.openActionMenu($mdMenu, $event)">
                <md-icon>more_vert</md-icon>
            </md-button>

            <md-menu-content width="4">
                <md-menu-item show-xs>
                    <md-button aria-label="label" class="md-button" ng-click="null">
                        <!--<md-icon>edit</md-icon>-->
                        coming soon
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </md-card-header>

    <md-card-content>
        <div class="md-body-1" markdown-to-html="$ctrl.page.content.text || ''"></div>
    </md-card-content>

    <md-card-actions layout="row" layout-align="center center">
        <!--<md-card-icon-actions>-->
        <md-button class="md-icon-button">
            <md-icon>delete</md-icon>
            <md-tooltip md-direction="top">Delete</md-tooltip>
        </md-button>

        <md-button class="md-icon-button">
            <md-icon>star_border</md-icon>
            <md-tooltip md-direction="top">Watch</md-tooltip>
        </md-button>

        <md-button class="md-icon-button">
            <md-icon>history</md-icon>
            <md-tooltip md-direction="top">History</md-tooltip>
        </md-button>

        <md-button class="md-icon-button">
            <md-icon>file_upload</md-icon>
            <md-tooltip md-direction="top">Add file</md-tooltip>
        </md-button>

        <md-button class="md-icon-button">
            <md-icon>edit</md-icon>
            <md-tooltip md-direction="top">Edit</md-tooltip>
        </md-button>
        <!--</md-card-icon-actions>-->
    </md-card-actions>
</md-card>
<!--</div>-->