body,
html {
    height: 100%;
    position: relative;
}

body {
    min-height: 100%;
    height: initial;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

mat-card {
    &.content-card {
        position: relative;
        overflow: hidden;

        mat-progress-bar {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;

            // fix mat card first child
            & + * {
                margin-top: 0 !important;
            }
        }
    }
}

.mat-menu-panel {
    min-width: 192px !important;
}

.mat-fab {
    &.fab-fixed {
        position: fixed;
        right: 20px;
        bottom: 20px;
    }
}

.mat-checkbox-layout {
    margin-bottom: 0;
}

.mat-menu-item,
.mat-icon-button {
    outline: none !important;
}
