<div ng-if="!$ctrl.categories.length" layout-align="center center" layout="row"
     class="md-padding">
    <div layout-align="center center" layout="row"
         class="md-padding">
        No data
    </div>
</div>

<md-list>
    <md-list-item class="md-2-line" ng-repeat="item in $ctrl.categories"
                  ui-sref="issues-categories.item.edit({id: item.id})" ng-click="false">
        <div class="md-list-item-text">
            <h3>{{ ::item.name }}</h3>
            <p>{{ ::item.assigned.full_name }}</p>
        </div>

        <md-menu>
            <md-button class="md-icon-button" aria-label="Issue category menu" ng-click="$mdMenu.open()">
                <md-icon>more_vert</md-icon>
            </md-button>

            <md-menu-content width="3">
                <md-menu-item>
                    <md-button ui-sref="issues-categories.item.edit({id: item.id})">
                        <md-icon>edit</md-icon>
                        Edit
                    </md-button>
                </md-menu-item>

                <md-menu-item>
                    <md-button  ng-click="$ctrl.remove(item)">
                        <md-icon>delete</md-icon>
                        Delete
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </md-list-item>
</md-list>

<div layout-align="center center" layout="row" class="md-padding">
    <md-button class="md-raised md-primary animation-target"
               ui-sref="issues-categories-inner.new">
        New category
    </md-button>
</div>