<md-card>
    <md-toolbar>
        <div layout="column" layout-padding layout-align="center center">
            <div class="md-headline md-padding">Sign up</div>
        </div>
    </md-toolbar>
    <md-card-content>
        <form name="RegistrationForm" ng-submit="$ctrl.submit()">
            <md-input-container class="md-icon-float md-block">
                <label>Login</label>
                <input ng-model="$ctrl.signup.login" name="login" type="text" required>

                <div ng-messages="RegistrationForm.login.$error">
                    <div ng-message="required">
                        Login can't be blank
                    </div>
                </div>
            </md-input-container>

            <md-input-container class="md-icon-float md-block">
                <label>Password</label>
                <input ng-model="$ctrl.signup.password" minlength="6"
                       name="password" type="password" required>

                <div ng-messages="RegistrationForm.password.$error">
                    <div ng-message="minlength">The password must be at least 6 characters.</div>
                    <div ng-message="required">Password can't be blank!</div>
                </div>
            </md-input-container>

            <md-input-container class="md-icon-float md-block">
                <label for="repeatPass">Repeat Password</label>
                <input ng-model="$ctrl.signup.repeat_password" id="repeatPass"
                       ng-pattern="{{$ctrl.signup.password}}"
                       name="repeatPass" minlength="6"
                       type="password" required>

                <div ng-messages="RegistrationForm.repeatPass.$error">
                    <div ng-message="minlength">The password must be at least 6 characters.</div>
                    <div ng-message="required">Password can't be blank!</div>
                    <div ng-message-exp="['pattern']">Passwords must match!</div>
                </div>
            </md-input-container>

            <md-input-container class="md-icon-float md-block">
                <label>First Name</label>
                <input ng-model="$ctrl.signup.first_name" name="firstName" type="text" required>

                <div ng-messages="RegistrationForm.firstName.$error">
                    <div ng-message="required">
                        First name can't be blank
                    </div>
                </div>
            </md-input-container>

            <md-input-container class="md-icon-float md-block">
                <label>Last Name</label>
                <input ng-model="$ctrl.signup.last_name" name="lastName" type="text" required>

                <div ng-messages="RegistrationForm.lastName.$error">
                    <div ng-message="required">
                        Last name can't be blank
                    </div>
                </div>
            </md-input-container>

            <md-input-container class="md-icon-float md-block">
                <label>Email</label>
                <input ng-model="$ctrl.signup.email" name="email" type="email" ng-pattern="/^.+@.+\..+$/" required>

                <div ng-messages="RegistrationForm.email.$error">
                    <div ng-message-exp="['required', 'pattern']">Email is invalid or already taken</div>
                </div>
            </md-input-container>

            <md-input-container class="md-icon-float md-block">
                <md-checkbox class="md-primary" md-no-ink ng-model="$ctrl.signup.hideMail" aria-label="Hide my Email">
                    Hide my Email
                </md-checkbox>
            </md-input-container>

            <md-input-container class="md-icon-float md-block">
                <label>Language</label>
                <md-select ng-model="$ctrl.signup.lang">
                    <md-option ng-value="language.id" ng-repeat="language in $ctrl.languages">{{ language.name }}
                    </md-option>
                </md-select>
            </md-input-container>

            <md-card-actions layout="row" layout-align="center center">
                <md-button class="md-raised md-primary" type="submit"
                           ng-disabled="RegistrationForm.$invalid">Registration
                </md-button>

                <!--<md-button ng-click="$ctrl.submit()" class="md-raised md-primary">Registration-->
                <!--</md-button>-->
            </md-card-actions>

        </form>
    </md-card-content>
</md-card>

<p layout="row" layout-align="center center">
    <a ui-sref="login" class="md-body-1">Already have an account? Sign in!</a>
</p>

