mat-tab-group {
  width: calc(100% + 48px);
  margin: 0 -24px 16px -24px;

  //&:first-child {
    margin-top: -24px !important;
  //}
}

.mat-card-image {
  max-height: 150px;
//  background: url("./header.svg");
}