<div layout="column" layout-align="center center">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>New Version</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="$ctrl.cancel()">
                <md-icon aria-label="Close dialog">clear</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <div class="popup-content-show-add-version">
        <md-content class="md-padding">
            <form name="versionForm">
                <md-input-container class="md-block">
                    <label>Name</label>
                    <input ng-model="$ctrl.version.name" name="name" required>
                    <div ng-messages="versionForm.name.$error">
                        <div ng-message="required">
                            Name can't be blank!
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Description</label>
                    <input ng-model="$ctrl.version.description" name="description">
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Status</label>
                    <md-select ng-model="$ctrl.version.status">
                        <md-option
                                ng-repeat="(key, status) in $ctrl.statuses"
                                ng-value="key"
                                ng-selected="status.selected">
                            {{ status.name }}
                        </md-option>
                    </md-select>
                    <div class="md-errors-spacer"></div>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Wiki Page</label>
                    <input ng-model="$ctrl.version.wiki_page_title" name="wiki_page_title">
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Date</label>
                    <md-datepicker ng-model="$ctrl.version.effective_date"></md-datepicker>
                </md-input-container>

                <md-input-container class="md-icon-float md-block">
                    <label>Sharing</label>
                    <md-select ng-model="$ctrl.version.sharing">
                        <md-option
                                ng-repeat="(key, sharing) in $ctrl.sharings"
                                ng-value="key"
                                ng-selected="sharing.selected">
                            {{ sharing.name }}
                        </md-option>
                    </md-select>
                    <div class="md-errors-spacer"></div>
                </md-input-container>


                <md-button class="md-raised md-primary animation-target"
                           ng-disabled="!$ctrl.version.name"
                           ng-click="$ctrl.createVersion()">
                    Save
                </md-button>
            </form>
        </md-content>
    </div>

</div>
