<div layout-gt-sm="row" layout-align="center start">
    <md-card flex-xs="100" flex-sm="100" flex-md="70" flex-gt-md="50">

        <md-card-header>
            <h1>Administration</h1>
        </md-card-header>

        <md-card-content>
            <md-list>
                <md-list-item ng-repeat="row in ::$ctrl.list" ng-click="$ctrl.goto(row.url)">
                    <md-icon>{{ ::row.icon }}</md-icon>
                    <p>{{ ::row.name }}</p>
                </md-list-item>
            </md-list>
        </md-card-content>
    </md-card>
</div>