<div class="container mt-3">
    <mat-card class="content-card">
        <mat-card-header>
            <mat-card-title>Administration</mat-card-title>
            <mat-card-subtitle>Categories</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            <mat-nav-list>
                <a mat-list-item
                    *ngFor="let category of categories"
                    [routerLink]="category.url"
                >
                    <mat-icon mat-list-icon>{{ category.icon }}</mat-icon>
                    <h4 mat-line>{{ category.name }}</h4>
                    <mat-icon>arrow_right</mat-icon>
                </a>
            </mat-nav-list>
        </mat-card-content>
    </mat-card>
</div>
