<div layout="row" layout-align="center start">
    <md-card flex-xs="100" flex-sm="100" flex-md="70" flex-gt-md="50">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Overview</span>
                <span class="md-subhead" ng-if="$ctrl.project.data.homepage">
                    <md-icon>open_in_new</md-icon>
                    <a href="{{ $ctrl.project.data.homepage }}" target="_blank">{{ $ctrl.project.data.homepage }}</a>
                </span>
            </md-card-title-text>
        </md-card-title>

        <md-card-content class="md-body-1" markdown-to-html="$ctrl.project.description || ''"></md-card-content>
    </md-card>
</div>

<div layout="row" layout-align="center start" ng-if="$ctrl.project.members">
    <md-card flex-xs="100" flex-sm="100" flex-md="70" flex-gt-md="50">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Members</span>
            </md-card-title-text>
        </md-card-title>

        <md-list class="md-dense">
            <!-- todo: group by role -->
            <div ng-repeat="member in $ctrl.project.members" class="animate-repeat">
                <md-list-item class="md-2-line" ng-click="$ctrl.goToUser(member.user)">

                    <img ng-if="::member.user.avatar" ng-src="{{ ::member.user.avatar }}" class="md-avatar">
                    <span ng-if="::!member.user.avatar" class="md-avatar">{{ ::member.user.full_name | limitTo:1 }}</span>

                    <div class="md-list-item-text" layout="column">
                        <h3>{{ ::member.user.full_name }}</h3>

                        <h4 layout="row">
                            <span ng-repeat="role in member.roles">
                                {{ role.name }}
                                <span ng-if="!$last">, </span>
                            </span>
                        </h4>
                    </div>

                    <md-menu-bar>
                        <md-menu md-position-mode="target-right target">
                            <md-button aria-label="More actions" class="md-icon-button" ng-click="$mdMenu.open()">
                                <md-icon>more_vert</md-icon>
                            </md-button>

                            <md-menu-content width="3">
                                <md-menu-item class="md-indent" ng-click="null">
                                    <!--<md-icon>open_in_browser</md-icon>-->

                                    <md-button disabled="disabled">
                                        coming soon
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </md-menu-bar>

                </md-list-item>

                <md-divider ng-if="!$last"></md-divider>
            </div>
        </md-list>

    </md-card>
</div>