<form [formGroup]="form" (ngSubmit)="form.valid && onSubmit()">
    <div class="row flex-column">
        <mat-form-field class="col-12">
            <input
                matInput
                placeholder="Login"
                formControlName="login"
                required
            />
            <!--<mat-error>Login cannot be blank</mat-error>-->
            <mat-error>{{ getLoginErrorMessage() }}</mat-error>
        </mat-form-field>
        <mat-form-field class="col-12">
            <input
                matInput
                type="password"
                placeholder="Password"
                formControlName="password"
                required
            />
            <!--<mat-error>Password cannot be blank</mat-error>-->
            <mat-error>{{ getPasswordErrorMessage() }}</mat-error>
        </mat-form-field>
    </div>
    <div class="text-center">
        <button
            mat-flat-button
            color="primary"
            class="submit"
            [disabled]="form.invalid"
        >
            Login
        </button>
    </div>
</form>
