<form name="wikiForm" class="md-padding">
    <md-input-container class="md-block">
        <label>Start page</label>

        <input ng-model="$ctrl.model.wiki.start_page" name="wiki" type="text" required
               ng-pattern="/^[A-z0-9,./?;:|]+$/">

        <div class="md-caption">Unallowed characters: , . / ? ; : |</div>

        <div ng-messages="wikiForm.wiki.$error">
            <div ng-message="required">Start page cannot be blank</div>
            <div ng-message="pattern">Start page is invalid</div>
        </div>
    </md-input-container>

    <div layout-align="center center" layout="row">
        <md-button class="md-raised md-primary animation-target" type="submit"
                   ng-disabled="wikiForm.$invalid"
                   ng-click="$ctrl.saveWiki()"
        >
            Save
        </md-button>

        <md-button class="md-raised animation-target">
            Delete
        </md-button>
    </div>
</form>