gantt-index-component {

  .rotate-180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  #horizontal-container {
    width: 100%;
    height: 100%;
  }

  .repeated-head {
    display: inline-block;
    height: 65px;
    text-align: center;
    width: 30px;
  }

  .repeated-head div{
    width: 100%;
    height: 100%;
    padding-top: 20px;
  }

  .repeated-item {
    display: inline-block;
    text-align: center;
    width: 20px;
  }

  .repeated-item.header {
    background-color: #e5e5e5;
    color: #f4511e;
    width: 65px;
    font-style: italic;
    font-size: 16px;
  }

  md-content {
    margin: 16px;
  }

  md-virtual-repeat-container {
    border: solid 1px grey;
  }

  .divTable{
    display: table;
    width: 100%;
  }
  .divTableRow {
    display: table-row;
  }
  .divTableHeading {
    background-color: #EEE;
    display: table-header-group;
  }
  .divTableCell, .divTableHead {
    border: 1px solid #ddd;
    //border: 1px solid #999999;
    //display: table-cell;
    padding: 3px 10px;
  }
  .divTableHeading {
    background-color: #EEE;
    display: table-header-group;
    font-weight: bold;
  }
  .divTableFoot {
    background-color: #EEE;
    display: table-footer-group;
    font-weight: bold;
  }
  .divTableBody {
    display: table-row-group;
  }
}
