.my-flex-container {
  display: flex;
  padding: 5px;
  font-size: 14px;
}

.my-flex-block {
  word-wrap: break-word;
  white-space: pre-line;
  min-width: 50px;
}

img {
  width: 24px;
  height: 24px;
  margin-right: 20px;
  border-radius: 50%;
  box-sizing: content-box;
  float: left;
}

ul {
  list-style: none;
  padding: 0;
}
