:host ::ng-deep .mat-card-header-text {
  margin: 0;
  white-space: nowrap;
}

.mat-card-header .mat-card-title {
  margin-bottom: 50px;
}

mat-progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

img {
  width: 24px;
  height: 24px;
  margin-right: 20px;
  border-radius: 50%;
  box-sizing: content-box;
  float: left;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 4px 0;
}

markdown {
  p {
    margin-top: 0px;
  }
}
.mat-card-content {
  margin: 0 -16px 16px -16px;
}