<div fxLayout="row" fxLayoutAlign="center start">
    <mat-card [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="100" [fxFlex.gt-md]="100" *ngIf="item">

        <mat-card-header>
            <mat-card-title>{{item.subject}}</mat-card-title>
            <div fxFlex="100"></div>

            <button mat-icon-button (click)="refresh()">
                <mat-icon>refresh</mat-icon>
            </button>
            <mat-menu #appMenu="matMenu">
                <a mat-menu-item>
                    <mat-icon>open_in_browser</mat-icon>
                    Edit
                </a>
                <mat-divider></mat-divider>
                <a mat-menu-item>
                    <mat-icon>mode_edit</mat-icon>
                    Copy
                </a>
                <mat-divider></mat-divider>
                <a mat-menu-item>
                    <mat-icon>star_border</mat-icon>
                    Watch
                </a>
                <mat-divider></mat-divider>
                <a mat-menu-item>
                    <mat-icon>delete</mat-icon>
                    Delete
                </a>
            </mat-menu>
            <button mat-icon-button [matMenuTriggerFor]="appMenu">
                <mat-icon>more_vert</mat-icon>
            </button>
        </mat-card-header>

        <div class="my-flex-container">
            <div class="my-flex-block">
                <mat-icon>info</mat-icon>
            </div>
            <div class="my-flex-block">{{item.tracker.name}} #{{item.id}}</div>
        </div>

        <div class="my-flex-container">
            <div class="my-flex-block">
                <mat-icon>sort</mat-icon>
            </div>
            <div class="my-flex-block">{{item.priority.name}}</div>
        </div>

        <div class="my-flex-container" *ngIf="item.author">
            <div class="my-flex-block">
                <mat-icon>create</mat-icon>
            </div>
            <div class="my-flex-block">
                <img
                        src="{{ item.author ? item.author.avatar : item.author.avatar }}">
                <a href="user/{{item.author.id}}">{{item.author.full_name}}</a>
            </div>
        </div>

        <div class="my-flex-container" *ngIf="item.assigned">
            <div class="my-flex-block">
                <mat-icon>people</mat-icon>
            </div>
            <div class="my-flex-block">
                <img
                        src="{{ item.assigned ? item.assigned.avatar : item.assigned.avatar }}">
                <a href="user/{{item.assigned.id}}">{{item.assigned.full_name}}</a>
            </div>
        </div>

        <div class="my-flex-container">
            <div class="my-flex-block">
                <mat-icon class="w-50">date_range</mat-icon>
            </div>
            <div class="my-flex-block">
                {{item.created_on}}
            </div>
        </div>

        <div class="my-flex-container">
            <div class="my-flex-block">
                <mat-icon>short_text</mat-icon>
            </div>
            <div class="my-flex-block">
                {{item.description}}
            </div>
        </div>

        <div class="my-flex-container" *ngIf="item.attachments && item.attachments.length">
            <div class="my-flex-block">
                <mat-icon>attachment</mat-icon>
            </div>
            <div class="my-flex-block">
                <ul>
                    <li *ngFor="let item of item.attachments">
                        {{item.filename}} ({{item.filesize}}) <a href="user/{{item.author.id}}">{{item.author.full_name}}</a>,
                        {{item.author.created_on}}
                    </li>
                </ul>
            </div>
        </div>


        <div class="my-flex-container" *ngIf="item.journals && item.journals.length">
            <div class="my-flex-block">
                <mat-icon>history</mat-icon>
            </div>
            <div class="my-flex-block">
                <ul>
                    <li *ngFor="let item of item.journals; let i = index">
                        <img src="{{ item.user ? item.user.avatar : item.user.avatar }}">
                        Updated by <a href="user/{{item.user.id}}"> {{item.user.full_name}}</a> on {{item.created_on}}
                        <ul *ngIf="item.details && item.details.length">
                            <li *ngFor="let detail of item.details">
                                <strong>{{detail.prop_key}}</strong> changed from {{detail.value | slice:0:20}}...
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

    </mat-card>
</div>