<div layout="row" layout-align="center start">
    <md-card flex-gt-sm="70" flex-gt-md="50" flex-xs="100" flex-sm="100">

        <md-card-header>
            <md-card-header-text>
                <span class="md-title">Settings</span>
            </md-card-header-text>
        </md-card-header>

        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Information">
                <md-content class="md-padding">
                    <form name="InfoForm">
                        <md-input-container class="md-block">
                            <label>Name</label>
                            <input ng-model="$ctrl.model.name" name="name" type="text" required>
                            <div ng-messages="InfoForm.name.$error">
                                <div ng-message="required">
                                    Name can't be blank!
                                </div>
                            </div>
                        </md-input-container>

                        <md-input-container class="md-block">
                            <label>Description</label>
                            <textarea ng-model="$ctrl.model.description" name="description"></textarea>
                        </md-input-container>

                        <md-input-container class="md-block">
                            <label>Identifier</label>
                            <input ng-model="$ctrl.model.identifier" type="text" ng-readonly="true">
                        </md-input-container>

                        <md-input-container class="md-block">
                            <label>Homepage</label>
                            <input ng-model="$ctrl.model.homepage" name="homepage" type="text">
                        </md-input-container>

                        <md-input-container class="md-block">
                            <md-checkbox class="md-primary" ng-model="$ctrl.model.is_public" aria-label="Public">
                                Public
                            </md-checkbox>
                        </md-input-container>

                        <md-divider></md-divider>

                        <md-input-container class="md-block">
                            <label>Subproject of</label>
                            <md-select ng-model="$ctrl.model.parent_identifier">
                                <md-option md-option-empty></md-option>
                                <md-option ng-value="item.identifier" ng-repeat="item in $ctrl.projects">
                                    {{ item.name }}
                                </md-option>
                            </md-select>
                        </md-input-container>

                        <md-input-container class="md-block">
                            <md-checkbox class="md-primary" ng-model="$ctrl.model.inherit_members"
                                         aria-label="Inherit members"
                                         ng-disabled="!$ctrl.model.parent_identifier">
                                Inherit members
                            </md-checkbox>
                        </md-input-container>

                        <div layout-align="center center" layout="row">
                            <md-button class="md-raised md-primary animation-target" ng-disabled="InfoForm.$invalid"
                                       ng-click="$ctrl.updateInformation()">
                                Save
                            </md-button>
                        </div>
                    </form>
                </md-content>
            </md-tab>

            <md-tab label="Modules">
                <md-content class="md-padding">
                    <md-list>
                        <md-list-item ng-repeat="item in $ctrl.allModules">
                            <p> {{ item.name }} </p>
                            <md-switch class="md-secondary" ng-model="$ctrl.model.modules[item.id]"></md-switch>
                        </md-list-item>
                    </md-list>

                    <div layout-align="center center" layout="row">
                        <md-button class="md-raised md-primary animation-target" ng-click="$ctrl.updateModules()">
                            Save
                        </md-button>
                    </div>
                </md-content>
            </md-tab>

            <md-tab label="Members">
                <md-content class="md-padding">
                    <md-list>
                        <md-list-item class="md-2-line" ng-repeat="item in $ctrl.members" ng-click="null">
                            <div class="md-list-item-text">
                                <h3>{{ item.name }}</h3>
                                <p>{{ item.role }}</p>
                            </div>
                            <md-button class="md-secondary md-icon-button"
                                       ng-if="!item.inherited_member"
                                       ng-click="$ctrl.deleteMember(item.member_id)">
                                <md-icon>delete</md-icon>
                            </md-button>
                            <md-button class="md-secondary md-icon-button"
                                       ng-click="$ctrl.editMember($event, item.member_id, item.role_id, item.name)">
                                <md-icon>edit</md-icon>
                            </md-button>
                        </md-list-item>
                    </md-list>

                    <div layout-align="center center" layout="row">
                        <md-button class="md-raised md-primary animation-target" ng-click="$ctrl.addMember($event)">
                            New member
                        </md-button>
                    </div>
                </md-content>
            </md-tab>

            <md-tab label="Versions">
                <md-content class="md-padding">
                    <md-list>
                        <md-list-item class="md-3-line" ng-repeat="item in $ctrl.versions">
                            <div class="md-list-item-text">
                                <h3>
                                    {{ item.name }} | {{ $ctrl.versionStatuses[item.status].name }}
                                    {{ item.effective_date ? '| ' + item.effective_date + ' ': '' }}
                                </h3>
                                <h4>{{ item.description }}</h4>
                                <h4>{{ $ctrl.versionSharings[item.sharing].name }}</h4>
                            </div>
                            <md-button class="md-secondary md-icon-button"
                                       ng-click="$ctrl.versionWikiNavigate(item.wiki_page_title)">
                                <md-icon>receipt</md-icon>
                            </md-button>
                            <md-button class="md-secondary md-icon-button" ng-click="$ctrl.editVersion($event, item)">
                                <md-icon>edit</md-icon>
                            </md-button>
                            <md-button class="md-secondary md-icon-button" ng-click="$ctrl.deleteVersion(item.id)">
                                <md-icon>delete</md-icon>
                            </md-button>
                        </md-list-item>
                    </md-list>

                    <div layout-align="center center" layout="row">
                        <md-button class="md-raised md-primary animation-target" ng-click="$ctrl.addVersion($event)">
                            New version
                        </md-button>
                        <md-button class="md-raised animation-target" ng-click="$ctrl.closeCompletedVersions()">
                            Close completed versions
                        </md-button>
                    </div>
                </md-content>
            </md-tab>

            <md-tab label="Issue categories">
                <md-content class="md-padding">
                    <md-list>
                        <md-list-item class="md-2-line" ng-repeat="item in $ctrl.issuesCategories" ng-click="null">
                            <div class="md-list-item-text">
                                <h3>{{ item.name }}</h3>
                                <p>{{ $ctrl.members[item.assigned_to_id].name }}</p>
                            </div>
                            <md-button class="md-secondary md-icon-button" ng-click="$ctrl.editIssuesCategory($event, item)">
                                <md-icon>edit</md-icon>
                            </md-button>
                            <md-button class="md-secondary md-icon-button" ng-click="$ctrl.deleteIssuesCategory(item.id)">
                                <md-icon>delete</md-icon>
                            </md-button>
                        </md-list-item>
                    </md-list>

                    <div layout-align="center center" layout="row">
                        <md-button class="md-raised md-primary animation-target" ng-click="$ctrl.createIssuesCategory($event)">
                            New category
                        </md-button>
                    </div>
                </md-content>
            </md-tab>

            <md-tab label="Wiki">
                <md-content class="md-padding">
                    <form name="WikiForm">
                        <md-input-container class="md-block">
                            <label>Start page</label>
                            <input ng-model="$ctrl.model.wiki" name="wiki" type="text" required
                                   ng-pattern="/^[A-z0-9,./?;:|]+$/">
                            <div class="md-caption">Unallowed characters: , . / ? ; : |</div>
                            <div ng-messages="WikiForm.wiki.$error">
                                <div ng-message="required">Start page cannot be blank</div>
                                <div ng-message="pattern">Start page is invalid</div>
                            </div>
                        </md-input-container>

                        <div layout-align="center center" layout="row">
                            <md-button class="md-raised md-primary animation-target" type="submit"
                                       ng-disabled="WikiForm.$invalid">
                                Save
                            </md-button>
                            <md-button class="md-raised animation-target">
                                Delete
                            </md-button>
                        </div>
                    </form>
                </md-content>
            </md-tab>

            <md-tab label="Repositories">
                <md-content class="md-padding">
                    <md-list>
                        <md-list-item class="md-2-line" ng-repeat="item in $ctrl.repositories" ng-click="null">
                            <div class="md-list-item-text">
                                <h3>{{ item.identifier }}</h3>
                                <p>{{ item.scm }}</p>
                            </div>
                            <md-button class="md-secondary md-icon-button" ng-click="null">
                                <md-icon>delete</md-icon>
                            </md-button>
                        </md-list-item>
                    </md-list>

                    <div layout-align="center center" layout="row">
                        <md-button class="md-raised md-primary animation-target">
                            New repository
                        </md-button>
                    </div>
                </md-content>
            </md-tab>

            <md-tab label="Forums">
                <md-content class="md-padding">
                    <md-list>
                        <md-list-item class="md-2-line" ng-repeat="item in $ctrl.forums" ng-click="null">
                            <div class="md-list-item-text">
                                <h3>{{ item.name }}</h3>
                                <p>{{ item.description }}</p>
                            </div>
                            <md-button class="md-secondary md-icon-button" ng-click="null">
                                <md-icon>delete</md-icon>
                            </md-button>
                        </md-list-item>
                    </md-list>

                    <div layout-align="center center" layout="row">
                        <md-button class="md-raised md-primary animation-target">
                            New forum
                        </md-button>
                    </div>
                </md-content>
            </md-tab>

            <md-tab label="Activities (time tracking)">
                <md-content class="md-padding">
                    <md-list>
                        <md-list-item class="md-2-line" ng-repeat="item in $ctrl.activities" ng-click="null">
                            <div class="md-list-item-text">
                                <h3>{{ item.name }}</h3>
                                <p>System Activity</p>
                            </div>
                            <md-switch class="md-secondary"></md-switch>
                        </md-list-item>
                    </md-list>

                    <div layout-align="center center" layout="row">
                        <md-button class="md-raised md-primary animation-target">
                            Save
                        </md-button>
                        <md-button class="md-raised animation-target">
                            Reset
                        </md-button>
                    </div>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-card>
</div>