<md-card>
    <form name="ResetPassword" ng-submit="$ctrl.onSubmit()">
        <md-toolbar>
            <div layout="column" layout-padding layout-align="center center">
                <div class="md-headline md-padding">Reset password</div>
            </div>
        </md-toolbar>
        <md-card-content>
            <md-input-container class="md-icon-float md-block">
                <label>Email</label>
                <input ng-model="$ctrl.model.email" type="email" required>
            </md-input-container>
        </md-card-content>


        <md-card-actions layout="row" layout-align="center center">
            <md-button class="md-raised md-primary" type = "submit" ng-disabled="ResetPassword.$invalid">Apply
            </md-button>
        </md-card-actions>
    </form>

</md-card>

