mat-progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.chip-list {
    width: 100%;
}

.table-container {
    position: relative;
    //max-height: 65vh;
    //overflow-x: hidden;
    //overflow-y: auto;
}

table {
    width: 100%;
}

td:nth-child(1),
th:nth-child(1) {
    width: 10%;
}

td:nth-child(2),
th:nth-child(2) {
    width: 20%;
}

td:nth-child(3),
th:nth-child(3) {
    width: 20%;
}

td:nth-child(4),
th:nth-child(4) {
    width: 40%;
}

td:nth-child(5),
th:nth-child(5) {
    width: 10%;
}

.button-label {
    margin-left: 3px;
    padding: 0 8px;
    min-width: 66px;
    font-size: 12px;
    line-height: 24px;
}

.description {
    color: rgba(0, 0, 0, 0.4);
}
