<div fxLayout="row" fxLayoutAlign="center start">
    <mat-card [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="100" [fxFlex.gt-md]="100">
        <mat-progress-bar mode="indeterminate" *ngIf="pending$ | async"></mat-progress-bar>

        <div *ngIf="project$ | async as project">
            <mat-card-header>
                <mat-card-title>{{project.name}}</mat-card-title>
                <mat-card-subtitle>Administrator</mat-card-subtitle>
            </mat-card-header>

            <mat-card-content>
                {{project.description}}
            </mat-card-content>
        </div>
    </mat-card>
</div>
