body {
  //height: 100%;
  height: initial;
  display: flex;
  flex-direction: column;

  font-size: $body-font-size-base;

  background: url("../images/bg3.svg") top no-repeat fixed;
  background-size: cover;

  //> section {
  //  flex: 1 0 auto;
  //  display: flex;
  //  flex-direction: column;
  //
  > [ui-view] {
    //height: 100%;
    //    flex: 1;
    //    display: flex;
    //  }
  }

  footer {
    padding: 40px 0;
    flex: 0 0 auto;
    width: 100%;
    color: #71777c;
    clear: both;
    font-size: 0.9em;
    text-align: center;
  }

  .md-toast-animating {
    overflow: auto !important;
  }

  /*
  mdToast with fixed position
  the ">" selector selects only immediate descendants of...
  */
  > md-toast {
    position: fixed;
  }
}

a {
  color: rgb(96, 125, 139);
}

.label {
  padding: 2px 5px;
  margin: 0 2px;
  font-size: 10px;

  &.label-default {
    color: rgb(66, 66, 66);
    background: #e0e0e0;
  }

  &.label-primary {
    color: #fff;
    background: #ff5722;
  }
}

md-input-container {

  .md-caption {
    color: grey;
    padding-top: 5px;
    display: inline;
  }
}

@media (max-width: $layout-breakpoint-sm) {
  .layout-margin-gt-sm,
  .layout-margin-gt-sm > * {
    margin: 0 !important;
  }
}

// menu bar in list item
md-list-item {
  md-menu-bar {
    padding: 0;
  }
}

md-card {
  // progress line in card
  position: relative;

  > md-progress-linear {
    position: absolute;
  }

  // list in card
  md-list {
    padding: 0;
  }

  // button on card header
  .card-button {
    margin: 0 6px;
    height: 40px;
    min-width: 0;
    line-height: 24px;
    padding: 8px;
  }
}

// circle avatar by span tag
// todo: use theme colors or generate image on backend
md-list-item {
  span {
    &.md-avatar {
      text-align: center;
      color: rgb(255, 255, 255);
      background: rgb(96, 125, 139);
      line-height: 36px;
      font-weight: bold;
      justify-content: center;
      align-items: center;
      display: flex !important;
    }
  }
}

// animate repeat list
.animate-repeat {
  &.ng-move,
  &.ng-enter,
  &.ng-leave {
    transition: all linear 0.5s;
  }

  &.ng-enter,
  &.ng-leave.ng-leave-active {
    opacity: 0;
  }

  &.ng-leave,
  &.ng-enter.ng-enter-active {
    opacity: 1;
  }

  @for $i from 1 through 100 {
    &:nth-of-type(#{$i}) {
      transition-delay: #{($i * 5) + 10}ms;
    }
  }
}

.md-chips {
  md-chip {
    border-radius: 0;
  }
}

md-dialog {
  border-radius: 0 !important;
}

.markdown {
  pre {
    margin: 1em 1em 1em 1.6em;
    padding: 8px;
    background-color: #fafafa;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    width: auto;
    overflow-x: auto;
    overflow-y: hidden;
  }
}

md-content {
  background: none;
}

md-input-container input {
  color: #000000 !important;
}

.p-0 {
  padding: 0;
}

.p-v-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.p-h-0 {
  padding-left: 0;
  padding-right: 0;
}

.m-0 {
  margin: 0;
}

.m-v-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.m-h-0 {
  margin-left: 0;
  margin-right: 0;
}