body {
  height: initial;

  background: top no-repeat fixed;

  @media (max-width: $layout-breakpoint-md - 1) {
    background-image: url("../images/background_1280.png");
  }

  @media (min-width: $layout-breakpoint-md) and (max-width: $layout-breakpoint-lg) {
    background-image: url("../images/background_1920.png");
  }

  @media (min-width: $layout-breakpoint-lg + 1) {
    background-image: url("../images/background_4000.png");
  }

  .md-toast-animating {
    overflow: auto !important;
  }

  /*
  mdToast with fixed position
  the ">" selector selects only immediate descendants of...
  */
  > md-toast {
    position: fixed;
  }
}

.modal-dialog {
  min-width: 305px;
}

.modal-custom-dialog {
  width: 500px;
  background: white;
  border-radius: 4px;
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2),
  0 13px 19px 2px rgba(0, 0, 0, 0.14),
  0 5px 24px 4px rgba(0, 0, 0, 0.12);

  .popup-content {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}

md-input-container {

  .custom-error-message {
    font-size: 12px;
    line-height: 14px;
    color: rgb(221, 44, 0);
    overflow: hidden;
    -webkit-transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    opacity: 0;
    margin-top: -50px;
    padding-top: 5px;
  }

  .custom-messages {
    position: relative;
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
    overflow: hidden;
    clear: left;
  }

  .custom-error-message-show {
    opacity: 1;
    margin-top: 0;
  }

  .md-caption {
    color: grey;
    padding-top: 5px;
    display: inline;
  }
}

md-toast.notification {

  &.success {

    .md-toast-content {
      background: #32CD32;
    }
  }

  &.error {

    .md-toast-content {
      background: #FF0000;
    }
  }

  .md-toast-content {
    min-width: 300px;
    color: white;
    opacity: 0.7;
  }
}

@media (max-width: $layout-breakpoint-sm) {
  .layout-margin-gt-sm,
  .layout-margin-gt-sm > * {
    margin: 0;
  }
}