$font-size:   10px !default;

@function rem($multiplier) {
  @return $multiplier * $font-size;
}

$chip-delete-icon-size: rem(1.4) !default;
$chip-height: rem(3.0) !default;
$chip-font-size: rem(1.2) !default;

$swift-ease-out-duration: 0.2s !default;
$list-item-dense-line-height: 1.09 !default;