layout-default-component {
  .md-sidenav-right,
  .md-sidenav-left {
    .md-button.md-icon-button {
      margin-left: -8px;
    }
    position: fixed;
  }
  .md-sidenav-right {
    position: fixed;
  }
  .main-toolbar {
    position :fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color:inherit;
  }
  md-backdrop.md-sidenav-backdrop {
    position: fixed;
  }
}