layout-default-component {

  .md-sidenav-right,
  .md-sidenav-left {
    .md-button.md-icon-button {
      margin-left: -8px;
    }
    position: fixed;
  }

  .main-toolbar {
    position :fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color:inherit;
  }

  md-backdrop {
    position: fixed;
  }

  .toolbar-input-container {
    position: relative;

    .toolbar-input {
      &:focus {
        outline: none;
        background: rgb(255, 255, 255);
        fill: rgb(255, 255, 255);
      }

      padding: 0 35px;
      font-size: 70%;
      height: 32px;
      border: 0;
      border-radius: 0;
      background: rgba(255, 255, 255, 0.87);
      fill: rgba(255, 255, 255, 0.87);
    }

    .material-icons {
      position: absolute;
      left: 5px;
      top: 5px;
      color: #ccc !important;
    }
  }

}