<md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Menu" ng-click="$ctrl.toggle()">
            <md-icon>menu</md-icon>
        </md-button>

        <h2 flex>MaybeWorks PM</h2>

        <div class="md-block toolbar-input-container">
            <md-icon>search</md-icon>
            <input type="text" placeholder="Search" class="toolbar-input">
        </div>

        <md-button class="md-icon-button" ng-click="$ctrl.toggle('right')" aria-label="My Projects">
            <md-icon>work</md-icon>
        </md-button>

        <md-menu>
            <md-button class="md-icon-button" aria-label="User menu" ng-click="$ctrl.openUserMenu($mdMenu, $event)">
                <md-icon>more_vert</md-icon>
            </md-button>
            <md-menu-content width="4">
                <md-menu-item>
                    <md-button ng-click="$ctrl.myAccount()">
                        <md-icon>account_circle</md-icon>
                        Profile
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button>
                        <md-icon>settings</md-icon>
                        Settings
                    </md-button>
                </md-menu-item>
                <md-menu-divider></md-menu-divider>
                <md-menu-item>
                    <md-button ng-click="$ctrl.logout()">
                        <md-icon>exit_to_app</md-icon>
                        Logout
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>
</md-toolbar>

<section>
    <md-sidenav class="md-sidenav-left fixed"
                md-component-id="left"
                md-whiteframe="4"
                md-disable-scroll-target="body">
        <md-toolbar>
            <h1 class="md-toolbar-tools">
                <md-button class="md-icon-button" aria-label="Menu" ng-click="$ctrl.toggle()">
                    <md-icon>menu</md-icon>
                </md-button>
                <span>Menu</span>
            </h1>
        </md-toolbar>

        <md-list-item ng-repeat="item in ::$ctrl.items" ng-click="$ctrl.menuClick(item)">
            <md-button class="md-icon-button">
                <md-icon>{{ ::item.icon }}</md-icon>
            </md-button>
            {{ ::item.name }}
        </md-list-item>
    </md-sidenav>

    <!--<div ui-view="content"></div>-->
    <md-nav-bar class="md-primary md-hue-2" md-selected-nav-item="$ctrl.currentNavItem"
                nav-bar-aria-label="Project navigation links" ng-if="$ctrl.showProjectMenu">
        <!--<md-nav-item md-nav-sref="page6" sref-opts="{reload:true, notify:true}">-->
        <md-nav-item ng-repeat="item in ::$ctrl.projectItems" md-nav-click="$ctrl.goto(item.url)"
                     name="{{ ::item.url }}" ng-if="!item.name || item.enable">
            {{ ::item.title }}
        </md-nav-item>
    </md-nav-bar>

    <div ui-view="content"></div>

    <md-fab-speed-dial md-open="$ctrl.menuOpen" md-direction="up" class="md-scale md-fab-top-righ">
        <md-fab-trigger>
            <md-button aria-label="menu" class="md-fab md-warn">
                <md-icon>add</md-icon>
            </md-button>
        </md-fab-trigger>

        <md-fab-actions>
            <md-button class="md-fab md-raised md-mini" ng-click="$ctrl.goto(item.url)"
                       ng-repeat="item in ::$ctrl.newItems" ng-if="item.enable">
                <md-tooltip md-direction="left" md-visible="$ctrl.menuOpen"
                            md-autohide="true">{{ ::item.name }}
                </md-tooltip>
                <md-icon>{{ ::item.icon }}</md-icon>
            </md-button>
        </md-fab-actions>
    </md-fab-speed-dial>

    <md-sidenav class="md-sidenav-right md-whiteframe-4dp"
                md-component-id="right"
                md-disable-scroll-target="body">
        <md-toolbar>
            <h1 class="md-toolbar-tools">
                <span>Projects</span>
                <span flex></span>
                <md-button class="md-icon-button" aria-label="Menu" ng-click="$ctrl.newProject()">
                    <md-icon>add</md-icon>
                </md-button>
            </h1>
        </md-toolbar>

        <!--todo: convert this code into component-->
        <md-list>
            <div ng-repeat="project in $ctrl.projects">
                <md-list-item class="md-body-1" ng-click="$ctrl.gotToProject(project.identifier)">
                    <md-button class="md-icon-button">
                        <md-icon>folder</md-icon>
                    </md-button>
                    {{ project.name }}
                </md-list-item>

                <div ng-repeat="project2 in project.child_projects_recursive">
                    <md-list style="padding-top: 0px; padding-bottom: 0px;">
                        <md-list-item class="md-body-1" ng-click="$ctrl.gotToProject(project2.identifier)">
                            <md-button class="md-icon-button">
                                <md-icon>subdirectory_arrow_right</md-icon>
                            </md-button>
                            <md-button class="md-icon-button">
                                <md-icon>folder</md-icon>
                            </md-button>
                            {{ project2.name }}
                        </md-list-item>

                        <div ng-repeat="project3 in project2.child_projects_recursive">
                            <md-list style="padding-top: 0px; padding-bottom: 0px;">
                                <md-list-item class="md-body-1" ng-click="$ctrl.gotToProject(project3.identifier)">
                                    <md-button class="md-icon-button">
                                        <md-icon aria-label=""></md-icon>
                                    </md-button>
                                    <md-button class="md-icon-button">
                                        <md-icon>subdirectory_arrow_right</md-icon>
                                    </md-button>
                                    <md-button class="md-icon-button">
                                        <md-icon>folder</md-icon>
                                    </md-button>
                                    {{ project3.name }}
                                </md-list-item>
                            </md-list>
                        </div>
                    </md-list>
                </div>
            </div>
        </md-list>

    </md-sidenav>
</section>