<md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Menu" ng-click="$ctrl.toggle()">
            <md-icon>menu</md-icon>
        </md-button>

        <h2 flex>MaybeWorks PM</h2>

        <md-menu>
            <md-button class="md-icon-button" aria-label="User menu" ng-click="$ctrl.openUserMenu($mdMenu, $event)">
                <md-icon>more_vert</md-icon>
            </md-button>
            <md-menu-content width="4">
                <md-menu-item>
                    <md-button ng-click="$ctrl.myAccount()">
                        <!--<md-icon></md-icon>-->
                        Profile
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button>
                        <!--<md-icon></md-icon>-->
                        Settings
                    </md-button>
                </md-menu-item>
                <md-menu-divider></md-menu-divider>
                <md-menu-item>
                    <md-button ng-click="$ctrl.logout()">
                        Logout
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>
</md-toolbar>

<section layout="row" flex>
    <md-sidenav class="md-sidenav-left" md-component-id="left"
                md-disable-backdrop md-whiteframe="4">

        <md-toolbar class="md-theme-indigo">

            <h1 class="md-toolbar-tools">
                <md-button class="md-icon-button" aria-label="Menu" ng-click="$ctrl.toggle()">
                    <md-icon>menu</md-icon>
                </md-button>
                <span>Menu</span>
            </h1>
        </md-toolbar>

        <md-content>
            <md-list flex>
                <md-list-item class="md-2-line"  ng-click="null">
                    <a ui-sref="home" class="md-list-item-text" layout="column">
                        <div><md-icon>accessible</md-icon> Projects</div>
                    </a>
                </md-list-item>
                <md-list-item class="md-2-line"  ng-click="null">
                    <a ui-sref="projects.list" class="md-list-item-text" layout="column">
                        <div><md-icon>accessible</md-icon> Help</div>
                    </a>
                </md-list-item>
                <md-list-item class="md-2-line"  ng-click="null">
                    <a ui-sref="home" class="md-list-item-text" layout="column">
                        <div><md-icon>accessible</md-icon> My Page</div>
                    </a>
                </md-list-item>
                <md-list-item class="md-2-line"  ng-click="null">
                    <a ui-sref="home" class="md-list-item-text" layout="column">
                        <div><md-icon>accessible</md-icon> Help</div>
                    </a>
                </md-list-item>
            </md-list>
        </md-content>
    </md-sidenav>
    <md-content flex layout-padding>
        <div ui-view="content"></div>
    </md-content>
</section>

<!--<nav class="navbar navbar-inverse">-->
<!--<div class="container-fluid">-->
<!--<div class="navbar-header">-->
<!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"-->
<!--aria-expanded="false" aria-controls="navbar">-->
<!--<span class="sr-only">Toggle navigation</span>-->
<!--<span class="icon-bar"></span>-->
<!--<span class="icon-bar"></span>-->
<!--<span class="icon-bar"></span>-->
<!--</button>-->
<!--<a class="navbar-brand" href="#">MaybeWorks PM</a>-->
<!--</div>-->

<!--<div id="navbar" class="collapse navbar-collapse">-->
<!--<ul class="nav navbar-nav">-->
<!--<li ui-sref-active="home" ui-sref-active-eq="active"><a ui-sref="home">Home</a></li>-->
<!--<li><a href="#">My page</a></li>-->
<!--<li ui-sref-active="projects.list" ui-sref-active-eq="active"><a ui-sref="projects.list">Projects</a>-->
<!--</li>-->
<!--<li><a href="#">Administrator</a></li>-->
<!--&lt;!&ndash;<li><a href="#">Wiki</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;<li><a href="#">Files</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;<li><a href="#">Settings</a></li>&ndash;&gt;-->
<!--</ul>-->

<!--<form class="navbar-form navbar-left">-->
<!--<div class="form-group input-group">-->

<!--<input type="text" class="form-control" placeholder="Search for...">-->
<!--<span class="input-group-btn">-->
<!--<button class="btn btn-default" type="button">Go!</button>-->
<!--</span>-->

<!--</div>-->
<!--</form>-->
<!--<ul class="nav navbar-nav navbar-right">-->
    <!--<li class="dropdown">-->
        <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"-->
           <!--aria-expanded="false">Username <span class="caret"></span></a>-->
        <!--<ul class="dropdown-menu">-->
            <!--&lt;!&ndash;<li><a ui-sref="home">Home</a></li>&ndash;&gt;-->
            <!--&lt;!&ndash;<li><a href="#">My page</a></li>&ndash;&gt;-->
            <!--&lt;!&ndash;<li><a ui-sref="projects.list">Projects</a></li>&ndash;&gt;-->
            <!--&lt;!&ndash;<li><a href="#">Administrator</a></li>&ndash;&gt;-->
            <!--&lt;!&ndash;<li role="separator" class="divider"></li>&ndash;&gt;-->
            <!--<li><a href="#">Profile</a></li>-->
            <!--<li><a href="#">Settings</a></li>-->
            <!--<li role="separator" class="divider"></li>-->
            <!--<li><a ui-sref="logout">Logout</a></li>-->
        <!--</ul>-->
    <!--</li>-->
<!--</ul>-->
<!--</div>-->

<!--</div>-->
<!--</nav>-->

<!--<div ui-view="content"></div>-->