<md-dialog flex-xs="100" flex-sm="100" flex-md="50" flex-gt-md="25" aria-label="{{ ::$ctrl.title }}">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{ ::$ctrl.title }}</h2>

            <span flex></span>

            <md-button class="md-icon-button" ng-click="$ctrl.$mdDialog.cancel();">
                <md-icon aria-label="Close dialog">clear</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <div class="md-dialog-content" layout-align="start center" layout="column">
            <p>
                <span>{{ ::$ctrl.title }}</span>
                <span>
                    <md-tooltip md-direction="top">{{ $ctrl.token.updated_on }}</md-tooltip>
                    <span>created {{ $ctrl.token.updated_on_from_now }}</span>
                    <span>ago</span>
                </span>
            </p>
            <pre>{{ $ctrl.token.value }}</pre>
        </div>
    </md-dialog-content>

    <md-dialog-actions layout-align="end center" layout="row">
        <md-button class="md-icon-button" ng-click="$ctrl.refresh()" ng-disabled="$ctrl.loadProccess">
            <md-icon>cached</md-icon>
            <md-tooltip md-direction="top">Refresh</md-tooltip>
        </md-button>
    </md-dialog-actions>
</md-dialog>