<div layout="column" class="modal-dialog" layout-align="center center">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>New wiki page</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="$ctrl.cancel()">
                <md-icon aria-label="Close dialog">clear</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <div class="popup-content">

        <form name="WikiNew" ng-submit="$ctrl.onSubmit()">

            <md-card-content>
                <md-input-container class="md-icon-float md-block">
                    <label>Title</label>
                    <input ng-model="$ctrl.title" type="text" name="title" required>
                </md-input-container>
            </md-card-content>


            <md-card-actions layout="row" layout-align="center center">
                <md-button class="md-raised md-primary" type="submit">
                    Next
                </md-button>
            </md-card-actions>
        </form>

    </div>

</div>