<md-dialog layout="column" layout-align="center center" flex-xs="100" flex-sm="100" flex-md="50" flex-gt-md="30">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Emails</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="$ctrl.cancel()">
                <md-icon aria-label="Close dialog">clear</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <div class="popup-content-my-add-mail">
        <md-list>
            <md-list-item ng-repeat="email in $ctrl.emails">
                <p>{{ email.address }}</p>
                <md-icon>volume_up</md-icon>
                <md-switch class="md-primary" ng-model="$ctrl.emails[email.id].notify"
                           ng-change="$ctrl.updateEmailAddress(email.id)"></md-switch>
                <md-button class="md-secondary md-icon-button"
                           ng-if="!item.inherited_member"
                           ng-click="$ctrl.deleteEmailAddress(email.id)">
                    <md-icon>delete</md-icon>
                </md-button>
            </md-list-item>
        </md-list>

        <form name="$ctrl.addEmailForm">

            <md-card-content>
                <md-input-container class="md-icon-float md-block">
                    <label>Add email adress</label>
                    <input ng-model="$ctrl.newEmail" type="email" required ng-change="$ctrl.change('email')"
                           name="email">
                    <div ng-messages="$ctrl.addEmailForm.email.$error">
                        <div ng-message="server" ng-bind-html="$ctrl.errors.text | join"></div>
                    </div>
                </md-input-container>
            </md-card-content>
            <md-card-actions layout="row" layout-align="center center">
                <md-button class="md-raised md-primary" ng-click="$ctrl.addEmailAddress()"
                           ng-disabled="$ctrl.addEmailForm.$invalid || !$ctrl.newEmail">
                    Add
                </md-button>
            </md-card-actions>
        </form>
    </div>
</md-dialog>