<div class="container">
    <mat-card class="content-card mt-3">
        <mat-progress-bar mode="indeterminate" *ngIf="pending"></mat-progress-bar>

        <mat-card-header>
            <mat-card-title>Issues</mat-card-title>
            <mat-card-subtitle>All projects</mat-card-subtitle>

            <span class="flex-grow-1"></span>

            <button mat-icon-button (click)="refresh()">
                <mat-icon>refresh</mat-icon>
            </button>

            <mat-menu #appMenu="matMenu">
                <button mat-menu-item>
                    <mat-icon>rss_feed</mat-icon>
                    Atom
                </button>
                <button mat-menu-item>
                    <mat-icon>file_download</mat-icon>
                    CSV
                </button>
                <button mat-menu-item>
                    <mat-icon>file_download</mat-icon>
                    PDF
                </button>
            </mat-menu>
            <button mat-icon-button [matMenuTriggerFor]="appMenu">
                <mat-icon>more_vert</mat-icon>
            </button>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field class="filter-input">
                <mat-chip-list #chipList>
                    <mat-chip
                        *ngFor="let tag of tags"
                        [selectable]="false"
                        [removable]="true"
                        (removed)="removeTag(tag)"
                    >
                        {{ getTagLabel(tag) }}
                        <mat-icon matChipRemove>cancel</mat-icon>
                    </mat-chip>
                    <input
                        placeholder="Filter..."
                        #tagInput
                        [formControl]="tagCtrl"
                        [matAutocomplete]="auto"
                        [matChipInputFor]="chipList"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    />
                </mat-chip-list>
                <mat-autocomplete
                    #auto="matAutocomplete"
                    (optionSelected)="selected($event)"
                >
                    <mat-option
                        *ngFor="let tag of (filteredTags | async)"
                        [value]="getTagLabel(tag)"
                    >
                        {{ getTagLabel(tag) }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </mat-card-content>

        <mat-table [dataSource]="dataSource" matSort>
            <!-- Checkbox Column -->
            <ng-container matColumnDef="select">
                <mat-header-cell *matHeaderCellDef>
                    <mat-checkbox
                        (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="
                            selection.hasValue() && !isAllSelected()
                        "
                    >
                    </mat-checkbox>
                </mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <mat-checkbox
                        (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)"
                    >
                    </mat-checkbox>
                </mat-cell>
            </ng-container>

            <!-- Icon Column -->
            <ng-container matColumnDef="icon">
                <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
                <mat-cell *matCellDef="let row" class="flex-shrink-0">
                    <img src="{{row.assigned ? row.assigned.avatar : row.author.avatar}}"/>
                </mat-cell>
            </ng-container>

            <!-- Subject Column -->
            <ng-container matColumnDef="subject">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Subject</mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <!--<img src="{{row.assigned ? row.assigned.avatar : row.author.avatar}}"/>-->
                    <a [routerLink]="['/issues/', row.id]"></a>
                    <span>{{ row.subject }}</span>
                </mat-cell>
            </ng-container>

            <!-- Color Column -->
            <!--<ng-container matColumnDef="color">-->
            <!--<th mat-header-cell *matHeaderCellDef mat-sort-header> Color</th>-->
            <!--<td mat-cell *matCellDef="let row">color</td>-->
            <!--</ng-container>-->

            <!-- Menu Column -->
            <ng-container matColumnDef="menu">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let row" [style.color]="row.color">
                    <mat-menu #appMenu="matMenu">
                        <a mat-menu-item [routerLink]="['/issues', row.id]">
                            <mat-icon>open_in_browser</mat-icon>
                            Open
                        </a>
                        <mat-divider></mat-divider>
                        <button mat-menu-item>
                            Overview
                        </button>
                    </mat-menu>
                    <button
                        mat-icon-button
                        [matMenuTriggerFor]="appMenu"
                        (click)="$event.stopPropagation()"
                    >
                        <mat-icon>more_vert</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns; sticky: false"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>

        <!--</mat-card-content>-->

        <!--<mat-card-actions>-->
        <mat-paginator [pageSizeOptions]="pageSizeOptions" (page)="onPageChange($event)"></mat-paginator>
        <!--</mat-card-actions>-->
        <!--<mat-card-actions>-->
        <!--<button mat-button>LIKE</button>-->
        <!--<button mat-button>SHARE</button>-->
        <!--</mat-card-actions>-->
    </mat-card>
</div>

<a mat-fab class="fab-fixed" routerLink="/issues/new">
    <mat-icon>add</mat-icon>
</a>