<form [formGroup]="form" (ngSubmit)="form.valid && submit()">
    <div class="row flex-column">
        <mat-form-field class="col-12">
            <input
                matInput
                type="email"
                placeholder="Email"
                formControlName="email"
                required
            />
            <mat-error>{{ getErrorMessage() }}</mat-error>
        </mat-form-field>
    </div>
    <div class="text-center">
        <button mat-flat-button color="primary" class="submit">Submit</button>
    </div>
</form>
