table {
  width: 100%;
}

tr.mat-row {
  outline: none;

  &:hover {
    background: #f5f5f5;
    cursor: pointer;
  }

  td {
    line-height: 40px;
    white-space: nowrap;

    img {
      height: 32px;
      width: 32px;
      //padding: 4px 10px;
      padding: 4px 4px 4px 0;
      float: left;
    }
  }
}

.filter-input {
  width: 100%;
}

:host ::ng-deep .mat-card-header-text {
  margin: 0;
  white-space: nowrap;
}

mat-progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.mat-column-select {
  width: 24px;
}

.mat-column-id {
  width: 36px;

  //padding-left: 10px;
  //padding-right: 10px;
}

.mat-column-subject {
  position: relative;

  a {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}

.mat-column-menu {
  width: 40px;
}