<!--<md-content class="md-padding">-->
<div class="md-padding">
    <md-list>
        <md-list-item ng-repeat="item in ::$ctrl.modules">
            <p> {{ ::item.title }} </p>
            <md-switch class="md-secondary" ng-model="$ctrl.modules[$index].enable"></md-switch>
        </md-list-item>
    </md-list>
</div>

<div layout-align="center center" layout="row" class="md-padding">
    <md-button class="md-raised md-primary animation-target" ng-click="$ctrl.submit()">
        Save
    </md-button>
</div>
<!--</md-content>-->