<div layout-align="start start" layout="row" class="info-row"
     ng-if="$ctrl.prioritiesList[$ctrl.selectedIssue.priority_id]">
    <md-icon class="w-50">low_priority</md-icon>
    <div flex>
        {{ $ctrl.prioritiesList[$ctrl.selectedIssue.priority_id] }}
    </div>
</div>

<div layout-align="start start" layout="row" class="info-row" ng-if="$ctrl.authorInfo">
    <md-icon class="w-50">create</md-icon>
    <div flex>
        <a ui-sref="users.info({id:$ctrl.selectedIssue.author.id})" class="md-avatar">
            <img src="//www.gravatar.com/avatar/{{ $ctrl.selectedIssue.author.avatar_hash }}">
            {{ $ctrl.selectedIssue.author.firstname }} {{ $ctrl.selectedIssue.author.lastname }}
        </a>
    </div>
</div>

<div layout-align="start start" layout="row" class="info-row">
    <md-icon class="w-50">people</md-icon>
    <div flex>
        <a ui-sref="users.info({id:$ctrl.selectedIssue.user.id})" class="md-avatar">
            <img src="//www.gravatar.com/avatar/{{ $ctrl.selectedIssue.user.avatar_hash }}">
            {{ $ctrl.selectedIssue.user.firstname }} {{ $ctrl.selectedIssue.user.lastname }}
        </a>
    </div>
</div>

<div layout-align="start start" layout="row" class="info-row">
    <md-icon class="w-50">date_range</md-icon>
    <div flex>
        <p>{{ $ctrl.selectedIssue.start_date }}</p>
        <p ng-if="$ctrl.selectedIssue.due_date">{{ $ctrl.selectedIssue.due_date }}</p>
    </div>
</div>

<div layout-align="start start" layout="row" class="info-row">
    <md-icon class="w-50">short_text</md-icon>
    <div flex>
        <div markdown-to-html="$ctrl.selectedIssue.description || ''"></div>
    </div>
</div>

<history-component
        issue-id="$ctrl.selectedIssue.id"
        trackers="$ctrl.trackers"
        statuses="$ctrl.statuses"
        users="$ctrl.users"
        projects="$ctrl.projects"
        priorities="$ctrl.priorities"
        list="$ctrl.list">
</history-component>
