<!--<div class="md-padding">-->
<div ng-if="$ctrl.params.members.length === 0" layout-align="center center" layout="row" class="md-padding">
    No data to display
</div>

<md-list ng-if="$ctrl.params.members.length !== 0">
    <md-list-item class="md-2-line" ng-repeat="item in $ctrl.params.members" ng-click="$ctrl.edit($event, item)" aria-label="{{ ::item.user.full_name }}">

        <img ng-if="::item.user.avatar" ng-src="{{ ::item.user.avatar }}" class="md-avatar">
        <span ng-if="::(!item.user.avatar && item.user.is_group !== true)" class="md-avatar">{{ ::item.user.full_name | limitTo:1 }}</span>
        <span class="md-avatar" ng-if="::item.user.is_group === true"><md-icon>group</md-icon></span>

        <div class="md-list-item-text">
            <h3>{{ ::item.user.full_name }}</h3>
            <p>
                <span ng-repeat="role in ::item.roles">
                    {{ ::role.name }}
                    <span ng-if="!$last">, </span>
                </span>
            </p>
        </div>

        <md-menu>
            <md-button class="md-icon-button" aria-label="User menu" ng-click="$mdMenu.open()">
                <md-icon>more_vert</md-icon>
            </md-button>

            <md-menu-content width="3">
                <md-menu-item ng-click="$ctrl.open(item)" ng-if="::item.user.is_group !== true">
                    <md-button>
                        <md-icon>person</md-icon>
                        Profile
                    </md-button>
                </md-menu-item>

                <md-menu-item ng-click="$ctrl.remove(item)">
                    <md-button>
                        <md-icon>delete</md-icon>
                        Delete
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>

        <md-divider ng-if="!$last"></md-divider>
    </md-list-item>
</md-list>

<div layout-align="center center" layout="row" class="md-padding">
    <md-button class="md-raised md-primary animation-target" ng-click="$ctrl.add($event)">
        New member
    </md-button>
</div>