<div layout="column" layout-align="center center">
    <md-toolbar>
        <div layout="column" layout-padding layout-align="center center">
            <div class="md-headline md-padding">You API access key</div>
        </div>
    </md-toolbar>

    <div class="popup-content-show-api-key">
            <md-card-content>
                    <p layout-align="center center">{{$ctrl.apiKey}}</p>
            </md-card-content>

        <md-button ng-click="$ctrl.cancel()" layout-align="bottom">
            Close
        </md-button>

    </div>

</div>
