<div layout-gt-sm="row" layout-align="center start">
    <md-card flex-xs="100" flex-sm="100" flex-md="70" flex-gt-md="50">
        <md-card-header>
            <h1 flex>New issue</h1>
            <div>
                <md-switch ng-model="$ctrl.issue.private" aria-label="Private">
                    Private
                </md-switch>
            </div>
        </md-card-header>

        <md-card-content>
            <form name="editIssue">
                <md-input-container class="md-block">
                    <label for="subject">Subject</label>
                    <input id="subject" name="subject" ng-blur="$ctrl.validate()" ng-model="$ctrl.issue.subject"
                           required>
                    <div ng-messages="editIssue.subject.$error">
                        <div ng-message="required">This field can't be blank.</div>
                    </div>
                </md-input-container>

                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-md="50" flex-gt-md="50">
                        <label>Project</label>
                        <md-select ng-model="$ctrl.issue.project_id" ng-change="$ctrl.validate()" required>
                            <md-option ng-repeat="item in $ctrl.projectsList" ng-value="item.id">
                                {{ item.name }}
                            </md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container class="md-block" flex-md="50" flex-gt-md="50">
                        <label>Tracker</label>
                        <md-select ng-model="$ctrl.issue.tracker_id" ng-change="$ctrl.validate()" required>
                            <md-option ng-repeat="item in $ctrl.trackersList" ng-value="item.id">
                                {{ item.name }}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>

                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-md="50" flex-gt-md="50">
                        <label>Status</label>
                        <md-select ng-model="$ctrl.issue.status_id" ng-change="$ctrl.validate()" required>
                            <md-option ng-repeat="item in $ctrl.statusesList" ng-value="item.id">
                                {{ item.name }}
                            </md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container class="md-block" flex-md="50" flex-gt-md="50">
                        <label>Priority</label>
                        <md-select ng-model="$ctrl.issue.priority_id" ng-change="$ctrl.validate()" required>
                            <md-option ng-repeat="item in $ctrl.prioritiesList" ng-value="item.id">
                                {{ item.name }}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>

                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-md="50" flex-gt-md="50">
                        <label>Assignee</label>
                        <md-select ng-model="$ctrl.issue.assigned_to_id" ng-change="$ctrl.validate()">
                            <md-option ng-repeat="member in $ctrl.usersList" ng-value="member.user_id">
                                {{ member.users.firstname }} {{ member.users.lastname }}
                            </md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container class="md-block" flex-md="50" flex-gt-md="50">
                        <label>Category</label>
                        <md-select ng-model="$ctrl.issue.category_id" ng-change="$ctrl.validate()">
                            <md-option ng-repeat="item in $ctrl.categoriesList" ng-value="item.id">
                                {{ item.name }}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>

                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-md="50" flex-gt-md="25">
                        <label>Start date</label>
                        <md-datepicker ng-model="$ctrl.issue.start_date"></md-datepicker>
                    </md-input-container>

                    <md-input-container class="md-block" flex-md="50" flex-gt-md="25">
                        <label>Due date</label>
                        <md-datepicker ng-model="$ctrl.issue.due_date"></md-datepicker>
                    </md-input-container>

                    <md-input-container class="md-block" flex-md="50" flex-gt-md="16">
                        <label>Parent task</label>
                        <input name="estimate" ng-model="$ctrl.issue.parent" placeholder="id">
                    </md-input-container>

                    <md-input-container class="md-block" flex-md="50" flex-gt-md="16">
                        <label>Estimated time</label>
                        <input name="estimate" ng-model="$ctrl.issue.estimated_hours" placeholder="hours">
                    </md-input-container>

                    <md-input-container class="md-block" flex-md="50" flex-gt-md="16">
                        <label>% Done</label>
                        <!--<input name="estimate" ng-model="$ctrl.issue.done">-->
                        <md-select ng-model="$ctrl.issue.done" ng-change="$ctrl.validate()">
                            <md-option ng-repeat="n in [] | range:11" ng-value="n">
                                {{ n * 10 }}%
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>

                <md-input-container class="md-block">
                    <label>Description</label>
                    <textarea ng-model="$ctrl.issue.description" rows="5"></textarea>
                </md-input-container>
            </form>
        </md-card-content>

        <md-card-actions layout="row" layout-align="center center">
            <md-button class="md-raised md-primary animation-target md-button md-ink-ripple" ng-disabled="$ctrl.error"
                       ng-click="$ctrl.create()">
                Create
            </md-button>

            <md-button class="md-raised md-default animation-target md-button md-ink-ripple" ng-click="$ctrl.cancel()">
                Cancel
            </md-button>
        </md-card-actions>
    </md-card>
</div>