<div layout-gt-sm="row" layout-align="center start">
    <md-card flex-xs="100" flex-sm="100" flex-md="70" flex-gt-md="50">
        <md-toolbar class="md-warn">
            <div class="md-toolbar-tools">
                <div class="header">
                    <i class="material-icons" ng-click="$ctrl.previous($ctrl.info.id)" style="cursor: pointer">keyboard_arrow_left</i>
                        <span>{{ $ctrl.info.text }}</span>
                    <i class="material-icons" ng-click="$ctrl.next($ctrl.info.id)" style="cursor: pointer">keyboard_arrow_right</i>

                </div>
            </div>
        </md-toolbar>
        <md-content layout-padding="">
            <md-grid-list md-cols-gt-md="7" md-cols="3" md-cols-md="8" md-row-height-gt-md="1:1" md-row-height="2:1" md-gutter-gt-md="10px" md-gutter-md="5px" md-gutter="2px">
                <!--<md-grid-tile ng-repeat="week in $ctrl.weeks"> {{ week}} </md-grid-tile>-->
                <md-grid-tile ng-repeat="tile in $ctrl.tiles" style="background: #eceff1; text-align: center " >
                    <div ng-style="{ 'color' : (tile.day == $ctrl.now && tile.month == $ctrl.month) ? 'red' : 'black' }">
                        <h1 >
                            {{tile.day}} </h1>  &nbsp; <small> {{tile.week}} </small>
                    </div>
                </md-grid-tile>
            </md-grid-list>
        </md-content>
    </md-card>
</div>