<md-dialog flex-xs="100" flex-sm="100" flex-md="50" flex-gt-md="25"
           aria-label="{{ ::$ctrl.title }}">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{ ::$ctrl.title }}</h2>

            <span flex></span>

            <md-button class="md-icon-button" ng-click="$ctrl.cancel()">
                <md-icon aria-label="Close dialog">clear</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <div class="md-dialog-content">
            <form name="$ctrl.form" ng-submit="$ctrl.submit()" novalidate server-form="$ctrl.errors">
                <md-input-container class="md-block">
                    <label>Name</label>

                    <input ng-model="$ctrl.category.name" name="name" required server-field>

                    <div ng-messages="$ctrl.form.name.$error">
                        <div ng-message="required">Name can't be blank!</div>
                        <div ng-message="server" ng-bind-html="$ctrl.form.name.$server"></div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Assignee</label>

                    <md-select ng-model="$ctrl.category.assigned.id" server-field>
                        <md-option></md-option>
                        <md-option ng-repeat="member in ::$ctrl.project.members" ng-value="member.user.id">
                            {{ ::member.user.full_name }}
                        </md-option>
                    </md-select>

                    <div class="md-errors-spacer"></div>

                    <div ng-messages="$ctrl.form.assigned_to_id.$error">
                        <div ng-message="server" ng-bind-html="$ctrl.form.assigned_to_id.$server"></div>
                    </div>
                </md-input-container>

                <md-button class="md-raised md-primary animation-target" type="submit"
                           ng-disabled="$ctrl.form.$invalid">
                    Save
                </md-button>
            </form>
        </div>
    </md-dialog-content>
</md-dialog>
