calendar-index-component {
  .rotate-180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  md-list{
  /*  background-color: #dff0d8;*/
    height: 198px; overflow-y:auto;
  }

  /* Override default scrollbar */
  .style-3::-webkit-scrollbar{
    width: 5px;
  }

  .style-3::-webkit-scrollbar-thumb:hover{
  }

  .style-3::-webkit-scrollbar-thumb:active{
  }

  /* Customize Thumb */
  .style-3::-webkit-scrollbar-thumb{
    background-color: #607D8B;
  }

  .style-3::-webkit-scrollbar-button{
    height: 20px;
    border: 0px solid #607D8B;
    border-radius: 10px;
  }

  /* Customize Track */
  .style-3::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    border: 0px none #ffffff;
    border-radius: 10px;
  }
}