layout-default-component {

  //flex: 1;
  //display: flex;
  //flex-direction: column;
  //align-items: center;
  //justify-content: center;

  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  height: 100%;
  display: block;

  > div {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;

    > section {
      height: calc(100% + 0px);
      z-index: 1;
      display: flex;
      flex-direction: column;
      position: relative;

      > md-content {
        overflow-x: hidden;
        overflow-y: auto;
        flex: 1;
        //flex-basis: 0%;
        flex-basis: 0.000000001px;
      }
    }
  }

  md-fab-speed-dial {
    position: fixed;
    right: 20px;
    bottom: 20px;
  }

  md-sidenav.md-sidenav-right {
    //position: fixed;
  }

  .md-nav-bar-wrapper {
    min-height: 48px;
    position: relative;
  }

  md-nav-bar {
    //  position: fixed;
    //  left: 0;
    //  width: 100%;
    //  background-color: inherit;
    //  z-index: 10;
  }

  //.md-sidenav-right,
  //.md-sidenav-left {
  md-sidenav {
    //&.fixed {
    //position: fixed;
    //}

    position: fixed;
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;

    > md-list {
      flex: 1;
      //flex-basis: 0%;
      overflow-x: hidden;
      overflow-y: auto;
      position: relative;
      flex-basis: 0.000000001px;
    }

    .md-button.md-icon-button {
      margin-left: -8px;
    }
  }

  > md-toolbar {
    z-index: 10;

    > .md-toolbar-tools {
      //position: fixed;
      //top: 0;
      //left: 0;
      //width: 100%;
      //background-color: inherit;
    }
  }

  md-backdrop {
    position: fixed;
  }

  .toolbar-input-container {
    position: relative;

    .toolbar-input {
      &:focus {
        outline: none;
        background: rgb(255, 255, 255);
        fill: rgb(255, 255, 255);
      }

      padding: 0 35px;
      font-size: 70%;
      height: 32px;
      border: 0;
      border-radius: 0;
      background: rgba(255, 255, 255, 0.87);
      fill: rgba(255, 255, 255, 0.87);
    }

    .material-icons {
      position: absolute;
      left: 5px;
      top: 5px;
      color: #ccc !important;
    }
  }

  // todo: remove on small display
  .content-view-container {
    margin: 0 96px;
  }

  .with-project-menu {
    .q-nav-container {
      top: 112px;
    }
  }

  .q-nav-container {
    top: 64px;
    left: 0;
    position: fixed;
    z-index: 1;
    bottom: 90px;

    //.with-project-menu{
    //    top: 112px;
    //@extend: section
    //}

    .q-nav {
      height: calc(100% - 16px);
      margin-top: 16px;
      display: flex;

      flex-direction: column;
      align-items: center;
      width: 72px;

      min-height: 288px;

      .q-nav-items {
        flex: none;
        transition: opacity 0.2s ease-in-out;

        > .q-nav-item {
          display: block;
          position: relative;
          overflow: hidden;
          width: 72px;
          height: 72px;
          border-radius: 50%;

          a {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            outline: none;
            cursor: pointer;
            color: inherit;

            md-icon {
              display: inline-flex;
              align-items: center;
              justify-content: center;
              position: relative;
              vertical-align: middle;
              fill: currentcolor;
              stroke: none;
              width: 24px;
              height: 24px;
              margin: initial;
            }

            span {
              //display: block;
              overflow: hidden;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              //-webkit-line-clamp: 2;
              margin-top: 4px;
              max-width: 60px;
              max-height: 20px;
              font-size: 10px;
              line-height: 10px;
              text-align: center;
              hyphens: auto;
            }
          }
        }
      }
    }

  }
}