<mat-card [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="100" [fxFlex.gt-md]="100">
    <mat-progress-bar mode="indeterminate" *ngIf="pending$ | async"></mat-progress-bar>
    <div *ngIf="item$ | async as item">
        <mat-card-header>
            <mat-card-title>{{item.subject}}</mat-card-title>
            <div fxFlex="100"></div>
            <div fxLayout="row" fxLayoutAlign="right center">
                <mat-slide-toggle>Private</mat-slide-toggle>
            </div>
        </mat-card-header>

        <mat-card-content>
            <form [formGroup]="form" fxFlex="100" fxLayout="row wrap" fxLayoutGap="20px"
                  (ngSubmit)="form.valid && submit()">

                <div fxLayout="column" fxFlex="60">
                    <mat-form-field>
                        <input matInput placeholder="Subject" value={{item.subject}} formControlName="subject" required>
                    </mat-form-field>

                    <mat-form-field floatLabel="never">
                        <span class="textareaLabel">Description:</span>
                        <textarea matInput rows="15">{{item.description}}</textarea>
                    </mat-form-field>

                    <mat-form-field floatLabel="never">
                        <span class="textareaLabel">Notes:</span>
                        <textarea matInput rows="20"></textarea>
                    </mat-form-field>
                </div>

                <div fxLayout="column" fxFlex="38">
                    <mat-form-field>
                        <mat-select placeholder="Projects"
                                    name="project"
                                    required [(value)]="item.project.identifier"
                                    #projectSelect>
                            <mat-option matInput *ngFor="let project of myProjects$ | async"
                                        [value]="project.identifier">
                                {{project.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-select placeholder="Tracker" name="tracker" required [value]="item.tracker.id">
                            <mat-option matInput *ngFor="let tracker of trackers$ | async" [value]="tracker.id">
                                {{tracker.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-select placeholder="Status" name="status" required [value]="item.status.id">
                            <mat-option *ngFor="let status of statuses$ | async" [value]="status.id">
                                {{status.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-select placeholder="Priority" name="priority" required [value]="item.priority.id">
                            <mat-option *ngFor="let priority of priorities$ | async" [value]="priority.id">
                                {{priority.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <!--<div *ngIf="members$ | async as members">-->
                    <!--<div *ngFor="let member of members">-->
                    <!--{{member.user.full_name}}-->
                    <!--</div>-->
                    <!--</div>-->

                    <mat-form-field class="example-full-width">
                        <mat-select [placeholder]="item.assigned?.full_name" name="Assignee">
                            <mat-option *ngFor="let member of members$ | async" [value]="member.user.id">
                                {{member.user.full_name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <div fxLayout="row" fxLayoutAlign="space-between">
                        <mat-form-field [fxFlex.lg]="40" [fxFlex.xl]="40">
                            <input matInput [matDatepicker]="startDate" placeholder="Start date"
                                   value="{{item.start_date}}">
                            <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                            <mat-datepicker #startDate></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between">
                        <mat-form-field [fxFlex.lg]="40" [fxFlex.xl]="40">
                            <input matInput [matDatepicker]="dueDate" placeholder="Due date"
                                   value="{{item.due_date}}">
                            <mat-datepicker-toggle matSuffix [for]="dueDate"></mat-datepicker-toggle>
                            <mat-datepicker #dueDate></mat-datepicker>
                        </mat-form-field>
                    </div>

                    <div fxLayout.lt-lg="column" fxLayout.lg="row" fxLayoutAlign="space-between">
                        <mat-form-field [fxFlex.lg]="30">
                            <input matInput placeholder="Parent task (id)" value="">
                        </mat-form-field>
                        <mat-form-field [fxFlex.lg]="30">
                            <input matInput type="number" placeholder="Estimated time (hours)" min="0" value="">
                        </mat-form-field>
                        <mat-form-field [fxFlex.lg]="35">
                            <mat-select [(value)]="selected" placeholder="Done (%)">
                                <mat-option></mat-option>
                                <mat-option value="0">0%</mat-option>
                                <mat-option value="10">10%</mat-option>
                                <mat-option value="20">20%</mat-option>
                                <mat-option value="30">30%</mat-option>
                                <mat-option value="40">40%</mat-option>
                                <mat-option value="50">50%</mat-option>
                                <mat-option value="60">60%</mat-option>
                                <mat-option value="70">70%</mat-option>
                                <mat-option value="80">80%</mat-option>
                                <mat-option value="90">90%</mat-option>
                                <mat-option value="100">100%</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <mat-form-field>
                        <input matInput placeholder="watchers" value=''>
                    </mat-form-field>
                </div>
            </form>
        </mat-card-content>

        <div fxLayout="row" fxLayoutAlign="left center">
            <mat-slide-toggle>Private notes</mat-slide-toggle>
        </div>

        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
            <button mat-raised-button color="primary">SUBMIT</button>
            <button mat-raised-button>PREVIEW</button>
            <button mat-raised-button>CANCEL</button>
        </div>

    </div>
</mat-card>
