<mat-card [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="100" [fxFlex.gt-md]="100">
    <mat-card-header>
        <mat-card-title>Edit</mat-card-title>
    </mat-card-header>
    <!--<mat-progress-bar mode="indeterminate" *ngIf="pending$ | async"></mat-progress-bar>-->
    <!--<div *ngIf="item$ | async as item">-->

    <!--<mat-card-header>-->
    <!--<mat-card-title>{{item.subject}}</mat-card-title>-->
    <!--<div fxFlex="100"></div>-->
    <!--<div fxLayout="row" fxLayoutAlign="right center">-->
    <!--<mat-slide-toggle>Private</mat-slide-toggle>-->
    <!--</div>-->
    <!--</mat-card-header>-->

    <!--<mat-card-content>-->
    <!--<form [formGroup]="form" fxFlex="100" fxLayout="row" fxLayoutGap="30px" (ngSubmit)="form.valid && submit()">-->

    <!--<div fxLayout="column" fxFlex="70">-->
    <!--<mat-form-field class="example-full-width">-->
    <!--<input matInput placeholder="subject" value={{item.subject}} formControlName="subject">-->
    <!--</mat-form-field>-->

    <!--<mat-form-field class="example-full-width">-->
    <!--<textarea matInput placeholder="description"-->
    <!--formControlName="description">{{item.description}}-->
    <!--</textarea>-->
    <!--</mat-form-field>-->
    <!--</div>-->

    <!--<div fxLayout="column" fxFlex="30">-->

    <!--<mat-form-field class="example-full-width">-->
    <!--<input matInput placeholder="project" formControlName="project" value='project'>-->
    <!--</mat-form-field>-->

    <!--<mat-form-field class="example-full-width">-->
    <!--<input matInput placeholder="tracker" formControlName="tracker" value='tracker'>-->
    <!--</mat-form-field>-->

    <!--<mat-form-field class="example-full-width">-->
    <!--<input matInput placeholder="status" value='status'>-->
    <!--</mat-form-field>-->

    <!--<mat-form-field class="example-full-width">-->
    <!--<input matInput placeholder="priority" value='priority'>-->
    <!--</mat-form-field>-->

    <!--<mat-form-field class="example-full-width">-->
    <!--<input matInput placeholder="assigned" value='assigned'>-->
    <!--</mat-form-field>-->

    <!--<mat-form-field class="example-full-width">-->
    <!--<input matInput placeholder="start_date" value='start_date'>-->
    <!--</mat-form-field>-->

    <!--<mat-form-field class="example-full-width">-->
    <!--<input matInput placeholder="end_date" value='end_date'>-->
    <!--</mat-form-field>-->

    <!--<mat-form-field class="example-full-width">-->
    <!--<div fxLayout="row" fxLayoutGap="30px">-->
    <!--<input matInput placeholder="id" value="">-->
    <!--<input matInput type="number" placeholder="hour" min="10" value="0">-->
    <!--<mat-select [(value)]="selected" placeholder="%Done">-->
    <!--<mat-option></mat-option>-->
    <!--<mat-option value="10">10%</mat-option>-->
    <!--<mat-option value="20">20%</mat-option>-->
    <!--<mat-option value="30">30%</mat-option>-->
    <!--</mat-select>-->
    <!--</div>-->
    <!--</mat-form-field>-->

    <!--<mat-form-field class="example-full-width">-->
    <!--<input matInput placeholder="watchers" value='watchers'>-->
    <!--</mat-form-field>-->
    <!--</div>-->
    <!--</form>-->
    <!--</mat-card-content>-->

    <!--<div fxLayout="row" fxLayoutAlign="left center">-->
    <!--<mat-slide-toggle>Private notes</mat-slide-toggle>-->
    <!--</div>-->

    <!--<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">-->
    <!--<button mat-raised-button color="primary">SUBMIT</button>-->
    <!--<button mat-raised-button>PREVIEW</button>-->
    <!--<button mat-raised-button>CANCEL</button>-->
    <!--</div>-->

    <!--</div>-->
</mat-card>
