<div class="container">
    <mat-card class="content-card mt-3">
        <mat-progress-bar
            mode="indeterminate"
            *ngIf="(pending$ | async)"
        ></mat-progress-bar>
        <mat-card-title>
            <nav mat-tab-nav-bar>
                <a
                    mat-tab-link
                    *ngFor="let link of navLinks"
                    [routerLink]="link.path"
                    routerLinkActive
                    #rla="routerLinkActive"
                    [active]="rla.isActive"
                >
                    {{ link.title }}
                </a>
            </nav>
        </mat-card-title>
        <mat-card-content>
            <router-outlet></router-outlet>
        </mat-card-content>
    </mat-card>
</div>
