:host ::ng-deep .mat-card-header-text {
  margin: 0;
  white-space: nowrap;
}

.mat-card-header .mat-card-title {
  margin-bottom: 50px;
}

.textareaLabel {
  position: absolute;
  bottom: 100%;
  color: rgba(0, 0, 0, 0.54);
}