<div layout="row" layout-align="center start">
    <md-card flex-xs="100" flex-sm="100" flex-md="70" flex-gt-md="50">
        <md-progress-linear md-mode="indeterminate" ng-if="$ctrl.loadProcess"></md-progress-linear>

        <md-card-header>
            <md-card-avatar>
                <img ng-src="{{ ::$ctrl.user.avatar }}">
            </md-card-avatar>

            <md-card-header-text>
                <span class="md-title">{{ ::$ctrl.user.full_name }}</span>
                <span class="md-subhead">{{ ::$ctrl.user.login }}</span>
            </md-card-header-text>

            <md-menu ng-if="::$ctrl.isAdmin">
                <md-button class="md-icon-button" aria-label="User menu" ng-click="$mdMenu.open()">
                    <md-icon>more_vert</md-icon>
                </md-button>

                <md-menu-content width="3">
                    <md-menu-item>
                        <md-button ui-sref="users.page.edit({id:$ctrl.user.id})">
                            <md-icon>edit</md-icon>
                            Edit
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </md-card-header>

        <md-card-content>
            <p class="md-body-1" layout="column">
                <span><span class="md-body-2">Login:</span> {{ ::$ctrl.user.last_login_on }}</span>
                <span><span class="md-body-2">Created:</span> {{ ::$ctrl.user.created_on }}</span>
            </p>
        </md-card-content>

    </md-card>
</div>

<div layout="row" layout-align="center start">
    <md-card flex-xs="100" flex-sm="100" flex-md="70" flex-gt-md="50">
        <md-card-header>
            <md-card-header-text>
                <span class="md-title">Projects</span>
            </md-card-header-text>
        </md-card-header>

        <md-card-content>
            coming soon
        </md-card-content>
    </md-card>
</div>