<div layout="row" layout-align="center start">
    <md-card flex-gt-sm="70" flex-gt-md="50" flex-xs="100" flex-sm="100">

        <md-card-header>
            <h1>Server error</h1>
        </md-card-header>

        <md-card-content>
            <!--<p>The page you were trying to access doesn't exist or has been removed.</p>-->
        </md-card-content>

        <md-card-actions layout="row" layout-align="center center">
            <md-button ui-sref="home">Home</md-button>
        </md-card-actions>
    </md-card>
</div>