<div layout-gt-sm="row" layout-align="center start">
    <md-card flex-xs="100" flex-sm="100" flex-md="70" flex-gt-md="50">
        <md-card-header>
            <md-button class="md-icon-button" ng-click="$ctrl.selectAll()">
                <md-icon>done_all</md-icon>
            </md-button>

            <md-button class="md-icon-button" ng-click="$ctrl.load()">
                <md-icon>refresh</md-icon>
            </md-button>

            <div flex></div>

            <md-button class="pages-button">
                {{$ctrl.offset === 0 ? $ctrl.offset + 1 : $ctrl.offset}}-{{($ctrl.count < 20 || $ctrl.count <
                $ctrl.offset + 20) ? $ctrl.count :
                $ctrl.offset + 20}} {{($ctrl.count > 20) ? ' / ' +
                $ctrl.count : ''}}
            </md-button>

            <md-button ng-click="$ctrl.previous()" ng-disabled="$ctrl.offset === 0" class="md-icon-button">
                <md-icon>keyboard_arrow_left</md-icon>
            </md-button>

            <md-button ng-click="$ctrl.next()" ng-disabled="$ctrl.offset + 20 >= $ctrl.count" class="md-icon-button">
                <md-icon>keyboard_arrow_right</md-icon>
            </md-button>

            <md-button class="md-icon-button">
                <md-icon>settings</md-icon>
            </md-button>
        </md-card-header>

        <md-card-content>
            <md-chips
                    ng-model="$ctrl.tags"
                    readonly="false"
                    md-removable="true"
                    placeholder="Filter"
                    md-require-match="true"
                    delete-button-label="Remove param"
                    md-on-add="$ctrl.onChangeFilterValue()"
                    md-on-remove="$ctrl.onChangeFilterValue()"
                    delete-hint="Press delete to remove param">

                <md-chip-template>
                    <strong>{{ $chip.name }}</strong>
                    <em>({{ $chip.type }})</em>
                </md-chip-template>

                <md-autocomplete
                        md-no-cache="true"
                        md-search-text="$ctrl.searchText"
                        md-item-text="item.name"
                        md-items="item in $ctrl.querySearch($ctrl.searchText)">
                    <span md-highlight-text="$ctrl.searchText">{{item.name}} :: {{item.type}}</span>
                </md-autocomplete>
            </md-chips>
        </md-card-content>

        <md-list class="md-dense" ng-scrollbars ng-scrollbars-config="$ctrl.scrollBarConfigIssue">

            <md-list-item class="md-2-line" ng-repeat="row in $ctrl.list" ng-click="$ctrl.viewIssue(row)">
                <md-checkbox ng-model="row.selected" aria-label="Select issue"></md-checkbox>

                <div class="md-list-item-text" layout="column">
                    <h3>{{ row.id + ' | ' + row.trackers.name + ' | ' + $ctrl.statusesList[row.status_id] + ' | ' +
                        row.subject}}</h3>
                    <p>{{row.user.firstname + ' ' + row.user.lastname}}</p>
                </div>

                <md-icon ng-if="row.is_private">lock</md-icon>
                <md-icon ng-if="row.priority_id == 5">priority_high</md-icon>

                <md-divider ng-if="!$last"></md-divider>
            </md-list-item>

        </md-list>

        <md-card-actions layout="row" layout-align="center center">
            <md-button ng-click="null">
                <md-icon>rss_feed</md-icon>
                Atom
            </md-button>

            <md-button ng-click="null">
                <md-icon>file_download</md-icon>
                CSV
            </md-button>

            <md-button ng-click="null">
                <md-icon>file_download</md-icon>
                PDF
            </md-button>
        </md-card-actions>
    </md-card>

    <md-card flex-xs="100" flex-sm="100" flex-md="70" flex-gt-md="50" ng-if="$ctrl.selectedIssue">
        <!--<md-progress-linear md-mode="determinate" ng-value="$ctrl.selectedIssue.done_ratio"></md-progress-linear>-->

        <md-card-header>
            <md-card-avatar>
                <img src="/images/avatar.jpg" class="md-user-avatar" alt="">
            </md-card-avatar>
            <md-card-header-text>
                <span class="md-title">
                    <md-icon ng-if="$ctrl.selectedIssue.is_private">lock</md-icon>
                    {{ $ctrl.selectedIssue.subject }}
                </span>
                <!--<span class="md-subhead">#{{ $ctrl.selectedIssue.id }} | Feature | Open</span>-->
                <span class="md-subhead">#{{ $ctrl.selectedIssue.id  + ' | ' + $ctrl.selectedIssue.trackers.name + ' | ' + $ctrl.statusesList[$ctrl.selectedIssue.status_id]}}</span>
            </md-card-header-text>

            <div flex></div>

            <md-button class="md-icon-button" ng-click="$ctrl.toggleShowMore()">
                <md-icon>{{ $ctrl.showMore ? 'expand_less' :'expand_more' }}</md-icon>
            </md-button>

            <md-button class="md-icon-button" ng-click="$ctrl.closeIssueCard()">
                <md-icon>close</md-icon>
            </md-button>
        </md-card-header>

        <md-card-content ng-scrollbars ng-scrollbars-config="$ctrl.scrollBarConfigDescription">
            <div ng-if="$ctrl.showMore">
                <p><b>Priority:</b> {{ $ctrl.prioritiesList[$ctrl.selectedIssue.priority_id] }}</p>
                <p><b>Assignee:</b> <a ui-sref="users.info({id:$ctrl.selectedIssue.user.id})">{{
                    $ctrl.selectedIssue.user.firstname + ' ' + $ctrl.selectedIssue.user.lastname }}</a></p>
                <!--<p><b>Target version:</b> -</p>-->
                <p ng-show="$ctrl.selectedIssue.start_date"><b>Start date:</b> {{ $ctrl.selectedIssue.start_date }}</p>
                <p ng-show="$ctrl.selectedIssue.due_date"><b>Due date:</b> {{ $ctrl.selectedIssue.due_date }}</p>
                <md-divider></md-divider>
            </div>
            <div markdown-to-html="$ctrl.selectedIssue.description || ''"></div>

            <md-list ng-if="$ctrl.history">
                <md-list-item ng-repeat="item in $ctrl.history">
                    <div>
                        <img src="{{$ctrl.showAvatar(item.user.avatar_hash)}}" width="24" height="24">
                        Updated by
                        <md-button ng-click="$ctrl.$state.go('users.info', {id: item.user.id})">
                            {{item.user.firstname + ' ' + item.user.lastname }}
                        </md-button>
                        <md-button
                                ng-click="$ctrl.$state.go('projects.inner.activity', {id: item.user.id, from: item.created_on})">
                            {{$ctrl.IssuesService.timeAgo(item.created_on)}}
                        </md-button>
                        ago
                        <ul>
                            <li ng-repeat="detail in item.journal_details | filter: {available: true}">
                                <div ng-if="detail.prop_key==='tracker_id'">
                                    <strong>Tracker</strong>
                                    changed from
                                    <i>{{$ctrl.trackers[+detail.old_value] ? $ctrl.trackers[+detail.old_value].name :
                                        detail.old_value}}</i>
                                    to
                                    <i>{{$ctrl.trackers[+detail.value] ? $ctrl.trackers[+detail.value].name :
                                        detail.value}}</i>
                                </div>
                                <div ng-if="detail.prop_key==='status_id'">
                                    <strong>Status</strong>
                                    changed from
                                    <i>{{$ctrl.statuses[+detail.old_value] ? $ctrl.statuses[+detail.old_value].name :
                                        detail.old_value}}</i>
                                    to
                                    <i>{{$ctrl.statuses[+detail.value] ? $ctrl.statuses[+detail.value].name :
                                        detail.value}}</i>
                                </div>
                                <div ng-if="detail.prop_key==='estimated_hours'">
                                    <strong>Estimated time</strong>
                                    set to
                                    <i>{{detail.value ? detail.value : 0}} h</i>
                                </div>
                                <div ng-if="detail.prop_key==='assigned_to_id'">
                                    <strong>Assignee</strong>
                                    changed from
                                    <i>{{$ctrl.users[+detail.old_value] ?
                                        ($ctrl.users[+detail.old_value].firstname + ' ' +
                                        $ctrl.users[+detail.old_value].lastname):
                                        detail.old_value}}</i>
                                    to
                                    <i>{{$ctrl.users[+detail.value] ?
                                        ($ctrl.users[+detail.value].firstname + ' ' +
                                        $ctrl.users[+detail.value].lastname):
                                        detail.value}}</i>
                                </div>
                                <div ng-if="detail.prop_key==='priority_id'">
                                    <strong>Project</strong>
                                    changed from
                                    <i>{{$ctrl.projects[+detail.old_value] ?
                                        $ctrl.projects[+detail.old_value].name : detail.old_value}}</i>
                                    to
                                    <i>{{$ctrl.projects[+detail.value] ?
                                        $ctrl.projects[+detail.value].name : detail.value}}</i>
                                </div>
                                <div ng-if="detail.prop_key==='project_id'">
                                    <strong>Priority</strong>
                                    changed from
                                    <i>{{$ctrl.priorities[+detail.old_value] ?
                                        $ctrl.priorities[+detail.old_value].name : detail.old_value}}</i>
                                    to
                                    <i>{{$ctrl.priorities[+detail.value] ?
                                        $ctrl.priorities[+detail.value].name : detail.value}}</i>
                                </div>
                                <div ng-if="detail.prop_key==='relates'">
                                    <strong>Related to</strong>
                                    <md-button ng-click="$ctrl.viewIssue($ctrl.list[+detail.value])">
                                        <i>Feature {{detail.value}}</i>
                                    </md-button>
                                    <i>{{$ctrl.list[+detail.value] ?
                                        $ctrl.list[+detail.value].subject : detail.value}} added</i>
                                </div>
                                <div ng-if="detail.prop_key==='done_ratio'">
                                    <strong>% Done</strong> changed from <i>{{detail.old_value}}</i> to <i>{{detail.value}}</i>
                                </div>
                                <div ng-if="detail.prop_key==='subject'">
                                    <strong>Subject</strong> changed from <i>{{detail.old_value}}</i> to <i>{{detail.value}}</i>
                                </div>
                                <div ng-if="detail.prop_key==='description'">
                                    <strong>Description</strong> updated</i>
                                </div>
                                <div ng-if="detail.prop_key==='parent_id'">
                                    <strong>Parent task</strong> set to <i>#{{detail.value}}</i>
                                </div>
                                <div ng-if="detail.prop_key==='due_date'">
                                    <strong>Due date</strong> set to <i>{{$ctrl.convertDate(detail.value)}}</i>
                                </div>
                                <div ng-if="detail.prop_key==='is_private'">
                                    <strong>Private</strong> changed from
                                    <i>{{+detail.old_value ? 'Yes' : 'No'}}</i>
                                    to
                                    <i>{{+detail.value ? 'Yes' : 'No'}}</i>
                                </div>
                                <div ng-if="detail.property==='attachment'">
                                    <strong>File</strong>
                                    <i>{{detail.old_value ? detail.old_value : detail.value}}</i>
                                    <span ng-if="detail.old_value">deleted</span>
                                    <span ng-if="detail.value">added</span>
                                </div>
                            </li>
                        </ul>
                        <div ng-if="item.notes">
                            <p>{{item.notes}}</p>
                        </div>
                    </div>
                </md-list-item>
            </md-list>
        </md-card-content>

        <md-card-actions layout="row" layout-align="center center">
            <md-button ng-click="$ctrl.openIssue($ctrl.selectedIssue.id)">
                <md-icon>open_in_browser</md-icon>
                Open
            </md-button>

            <md-button ng-click="$ctrl.editIssue($ctrl.selectedIssue.id)">
                <md-icon>mode_edit</md-icon>
                Edit
            </md-button>

            <md-button ng-click="null">
                <md-icon>star_border</md-icon>
                Watch
            </md-button>

            <md-button ng-click="$ctrl.copyIssue($ctrl.selectedIssue.id)">
                <md-icon>content_copy</md-icon>
                Copy
            </md-button>

            <md-button ng-click="$ctrl.deleteIssue($ctrl.selectedIssue.id)">
                <md-icon>delete</md-icon>
                Delete
            </md-button>
        </md-card-actions>
    </md-card>
</div>