<div layout-gt-sm="row" layout-align="center start">
    <md-card flex-xs="100" flex-sm="100" flex-md="70" flex-gt-md="50">
        <md-card-header>
            <md-button class="md-icon-button" ng-click="$ctrl.selectAll()">
                <md-icon>done_all</md-icon>
            </md-button>

            <md-button class="md-icon-button" ng-click="$ctrl.load()">
                <md-icon>refresh</md-icon>
            </md-button>

            <div flex></div>

            <md-menu-bar ng-if="$ctrl.selectedGroup.length > 0">
                <md-menu md-position-mode="target-right target">
                    <md-button aria-label="More actions" ng-click="$mdMenu.open()">
                        Selected items: {{ $ctrl.selectedGroup.length }}
                    </md-button>

                    <md-menu-content width="3">
                        <md-menu-item class="md-indent" ng-click="null">
                            <md-icon>mode_edit</md-icon>

                            <md-button>
                                Edit
                            </md-button>
                        </md-menu-item>

                        <md-menu-item class="md-indent">
                            <md-menu>
                                <md-button ng-click="$mdMenu.open()">
                                    Status
                                </md-button>

                                <md-menu-content width="3">
                                    <md-menu-item class="md-indent" ng-repeat="status in ::$ctrl.statusList">
                                        <md-button ng-click="null">
                                            {{ ::status.name }}
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </md-menu-item>

                        <md-menu-item class="md-indent">
                            <md-menu>
                                <md-button ng-click="$mdMenu.open()">
                                    Tracker
                                </md-button>

                                <md-menu-content width="3">
                                    <md-menu-item class="md-indent" ng-repeat="tracker in ::row.project.trackers">
                                        <md-button ng-click="null">
                                            {{ ::tracker.name }}
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </md-menu-item>

                        <md-menu-item class="md-indent">
                            <md-menu>
                                <md-button ng-click="$mdMenu.open()">
                                    Priority
                                </md-button>

                                <md-menu-content width="3">
                                    <md-menu-item class="md-indent" ng-repeat="priority in ::$ctrl.priorityList">
                                        <md-button ng-click="">
                                            {{ ::priority.name }}
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </md-menu-item>

                        <md-menu-item class="md-indent">
                            <md-menu>
                                <md-button ng-click="$mdMenu.open()">
                                    Assignee
                                </md-button>

                                <md-menu-content width="3">
                                    <md-menu-item ng-repeat="member in ::$ctrl.members">
                                        <md-button ng-click="$ctrl.assignTo(row.id, member.user_id)">
                                            {{ ::member.name }}
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </md-menu-item>

                        <md-menu-item class="md-indent">
                            <md-menu>
                                <md-button ng-click="$mdMenu.open()">
                                    Category
                                </md-button>

                                <md-menu-content width="3">
                                    <md-menu-item>
                                        <md-button ng-click="null">
                                            Category
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </md-menu-item>

                        <md-menu-item class="md-indent">
                            <md-menu>
                                <md-button ng-click="$mdMenu.open()">
                                    % Done
                                </md-button>

                                <md-menu-content width="2">
                                    <md-menu-item class="md-indent" ng-repeat="item in [] | range:11">
                                        <md-button ng-click="null">
                                            {{ ::item * 10 }}%
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </md-menu-item>

                        <md-menu-item class="md-indent">
                            <md-menu>
                                <md-button ng-click="$mdMenu.open()">
                                    Watchers
                                </md-button>

                                <md-menu-content width="3">
                                    <md-menu-item>
                                        <md-button ng-click="null">
                                            Add
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </md-menu-item>

                        <md-menu-item class="md-indent">
                            <md-icon>delete</md-icon>

                            <md-button ng-click="null">
                                Delete
                            </md-button>
                        </md-menu-item>

                    </md-menu-content>
                </md-menu>
            </md-menu-bar>

            <div ng-if="$ctrl.selectedGroup.length === 0 && $ctrl.count > 0">
                <md-menu>
                    <md-button class="pages-button" ng-click="$mdMenu.open()">
                        {{ $ctrl.pager }}
                    </md-button>
                    <md-menu-content>
                        <md-menu-item ng-repeat="item in ::$ctrl.perPageList">
                            <md-button ng-click="$ctrl.setLimitPerPage(item)" ng-disabled="$ctrl.limitPerPage === item">
                                {{ ::item }}
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>

                <md-button
                        ng-click="$ctrl.previous()"
                        ng-disabled="$ctrl.offset === 0" class="md-icon-button">
                    <md-icon>keyboard_arrow_left</md-icon>
                </md-button>

                <md-button
                        ng-click="$ctrl.next()"
                        ng-disabled="$ctrl.offset + $ctrl.limitPerPage >= $ctrl.count"
                        class="md-icon-button">
                    <md-icon>keyboard_arrow_right</md-icon>
                </md-button>

                <md-menu>
                    <md-button class="pages-button" ng-click="$mdMenu.open()">
                        <md-icon>sort</md-icon>
                    </md-button>
                    <md-menu-content width="3">
                        <md-menu-item ng-repeat="item in ::$ctrl.sortList">
                            <md-button ng-click="$ctrl.setSort(item)" ng-disabled="$ctrl.sort.param === item.param">
                                {{ ::item.name }}
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>

                <md-menu>
                    <md-button class="md-icon-button" aria-label="User menu" ng-click="$mdMenu.open()">
                        <md-icon>more_vert</md-icon>
                    </md-button>
                    <md-menu-content width="3">
                        <md-menu-item ng-click="null">
                            <md-button>
                                <md-icon>rss_feed</md-icon>
                                Atom
                            </md-button>
                        </md-menu-item>

                        <md-menu-item ng-click="null">
                            <md-button>
                                <md-icon>file_download</md-icon>
                                CSV
                            </md-button>
                        </md-menu-item>

                        <md-menu-item ng-click="null">
                            <md-button>
                                <md-icon>file_download</md-icon>
                                PDF
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
        </md-card-header>

        <md-card-content>
            <md-chips
                    ng-model="$ctrl.tags"
                    readonly="false"
                    md-removable="true"
                    placeholder="Filter"
                    md-require-match="true"
                    delete-button-label="Remove param"
                    md-on-add="$ctrl.onChangeFilterValue()"
                    md-on-remove="$ctrl.onChangeFilterValue()"
                    delete-hint="Press delete to remove param">

                <md-chip-template>
                    <strong>{{ ::$chip.name }}</strong>
                    <em>({{ ::$chip.type }})</em>
                </md-chip-template>

                <md-autocomplete
                        md-no-cache="true"
                        md-search-text="$ctrl.searchText"
                        md-item-text="item.name"
                        md-items="item in $ctrl.querySearch()"
                        md-min-length="0"
                        placeholder="Add filter">
                    <span md-highlight-text="$ctrl.searchText" md-highlight-flags="i">{{ ::item.name }} ({{ ::item.type }})</span>
                </md-autocomplete>
            </md-chips>
        </md-card-content>

        <md-list class="md-dense">
            <div ng-if="$ctrl.count === 0" layout-align="center center" layout="row" class="md-padding">
                No data to display
            </div>

            <md-list-item class="md-2-line" ng-repeat="row in $ctrl.list" ng-click="$ctrl.viewIssue($even,row)">
                <md-checkbox ng-model="row.selected" ng-change="$ctrl.onSelectIssue(row)"
                             aria-label="Select issue"></md-checkbox>

                <img src="//www.gravatar.com/avatar/{{ ::row.user.avatar_hash }}" class="md-avatar">

                <div class="md-list-item-text" layout="column">
                    <h3>#{{ ::row.id }}: {{ ::row.subject}}</h3>
                    <h4 layout="row">
                        <span flex>
                            {{ ::[row.tracker.name, row.priority.name, row.status.name] | join:' | ' }}
                        </span>
                        <span>{{ ::row.updated_on }}</span>
                    </h4>
                </div>

                <md-menu-bar>
                    <md-menu md-position-mode="target-right target">
                        <md-button aria-label="More actions" class="md-icon-button" ng-click="$mdMenu.open()">
                            <md-icon>more_vert</md-icon>
                        </md-button>

                        <md-menu-content width="3">
                            <md-menu-item class="md-indent" ng-click="$ctrl.openIssue(row.id)">
                                <md-icon>open_in_browser</md-icon>

                                <md-button>
                                    Open
                                </md-button>
                            </md-menu-item>

                            <md-menu-item class="md-indent" ng-click="$ctrl.editIssue(row.id)">
                                <md-icon>mode_edit</md-icon>

                                <md-button>
                                    Edit
                                </md-button>
                            </md-menu-item>

                            <md-menu-item class="md-indent">
                                <md-menu>
                                    <md-button ng-click="$mdMenu.open()">
                                        Status
                                    </md-button>

                                    <md-menu-content width="3">
                                        <md-menu-item class="md-indent" ng-repeat="status in ::$ctrl.statusList">
                                            <md-icon ng-if="::row.status_id === status.id">check</md-icon>
                                            <md-button ng-click="null">
                                                {{ ::status.name }}
                                            </md-button>
                                        </md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                            </md-menu-item>

                            <md-menu-item class="md-indent">
                                <md-menu>
                                    <md-button ng-click="$mdMenu.open()">
                                        Tracker
                                    </md-button>

                                    <md-menu-content width="3">
                                        <md-menu-item class="md-indent" ng-repeat="tracker in ::row.project.trackers">
                                            <md-icon ng-if="::row.tracker_id === tracker.id">check</md-icon>
                                            <md-button ng-click="null">
                                                {{ ::tracker.name }}
                                            </md-button>
                                        </md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                            </md-menu-item>

                            <md-menu-item class="md-indent">
                                <md-menu>
                                    <md-button ng-click="$mdMenu.open()">
                                        Priority
                                    </md-button>

                                    <md-menu-content width="3">
                                        <md-menu-item class="md-indent" ng-repeat="priority in ::$ctrl.priorityList">
                                            <md-icon ng-if="::row.priority_id === priority.id">check</md-icon>
                                            <md-button ng-click="">
                                                {{ ::priority.name }}
                                            </md-button>
                                        </md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                            </md-menu-item>

                            <md-menu-item class="md-indent">
                                <md-menu>
                                    <md-button ng-click="$mdMenu.open()">
                                        Assignee
                                    </md-button>

                                    <md-menu-content width="3">
                                        <md-menu-item ng-repeat="member in ::$ctrl.members">
                                            <md-button ng-click="$ctrl.assignTo(row.id, member.user_id)">
                                                {{ ::member.name }}
                                            </md-button>
                                        </md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                            </md-menu-item>

                            <md-menu-item class="md-indent">
                                <md-menu>
                                    <md-button ng-click="$mdMenu.open()">
                                        Category
                                    </md-button>

                                    <md-menu-content width="3">
                                        <md-menu-item>
                                            <md-button ng-click="null">
                                                Category
                                            </md-button>
                                        </md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                            </md-menu-item>

                            <md-menu-item class="md-indent">
                                <md-menu>
                                    <md-button ng-click="$mdMenu.open()">
                                        % Done
                                    </md-button>

                                    <md-menu-content width="2">
                                        <md-menu-item class="md-indent" ng-repeat="item in [] | range:11">
                                            <md-icon ng-if="::row.done_ratio === (item * 10)">check</md-icon>
                                            <md-button ng-click="null">
                                                {{ ::item * 10 }}%
                                            </md-button>
                                        </md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                            </md-menu-item>

                            <md-menu-item class="md-indent">
                                <md-menu>
                                    <md-button ng-click="$mdMenu.open()">
                                        Watchers
                                    </md-button>

                                    <md-menu-content width="3">
                                        <md-menu-item>
                                            <md-button ng-click="null">
                                                Add
                                            </md-button>
                                        </md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                            </md-menu-item>

                            <md-menu-item class="md-indent" ng-click="$ctrl.copyIssue(row.id)">
                                <md-icon>content_copy</md-icon>

                                <md-button>
                                    Copy
                                </md-button>
                            </md-menu-item>

                            <md-menu-divider></md-menu-divider>

                            <md-menu-item class="md-indent">
                                <md-icon>delete</md-icon>

                                <md-button ng-click="$ctrl.deleteIssue(row)">
                                    Delete
                                </md-button>
                            </md-menu-item>

                        </md-menu-content>
                    </md-menu>
                </md-menu-bar>

                <md-divider ng-if="!$last"></md-divider>
            </md-list-item>
        </md-list>
    </md-card>
</div>