issues-list-component {

  md-content {
    background: #fff;
  }

  md-list {
    padding: 0;
  }

  .pages-button {
    margin: 0 6px;
    height: 40px;
    min-width: 0;
    line-height: 24px;
    padding: 8px;
  }

  .context-menu {
    position: absolute;
    z-index: 40;
    width: 200px;
    border: 1px solid gainsboro;
  }

  .context-menu-item md-icon {
    margin: 0 4px 4px 0;
  }

  .md-icon-button, .pages-button {
    margin: 6px !important;
  }

  .md-list-item-inner {
    padding-right: 0;
  }

  .md-chip-input-container {
    width: 100%;
  }

  .md-button.small {
    margin: 0px;
    min-height: 27px !important;
    line-height: 27px !important;
    font-size: 11px !important;

    .material-icons {
      font-size: 20px;
    }
  }

  .empty-list-div {
    text-align: center;
  }

  //md-menu-item .md-button md-icon {
  //  margin: auto 16px auto 0;
  //}
}