<div ng-if="!$ctrl.forums.length" layout-align="center center" layout="row"
     class="md-padding">
    <div layout-align="center center" layout="row"
         class="md-padding">
        coming soon
    </div>
</div>

<!--<md-content class="md-padding">-->
<!--<md-list>-->
    <!--<md-list-item class="md-2-line" ng-repeat="item in $ctrl.forums"-->
                  <!--ng-click="$ctrl.editForum($even, item)">-->
        <!--<div class="md-list-item-text">-->
            <!--<h3>{{ item.name }}</h3>-->
            <!--<p>{{ item.description }}</p>-->
        <!--</div>-->

        <!--<md-button class="md-secondary md-icon-button" ng-click="$ctrl.forumNavigate(item.id)">-->
            <!--<md-icon>forum</md-icon>-->
        <!--</md-button>-->

        <!--&lt;!&ndash;<md-button class="md-secondary md-icon-button" ng-click="$ctrl.editForum($even, item)">&ndash;&gt;-->
        <!--&lt;!&ndash;<md-icon>edit</md-icon>&ndash;&gt;-->
        <!--&lt;!&ndash;</md-button>&ndash;&gt;-->

        <!--<md-button class="md-secondary md-icon-button" ng-click="$ctrl.deleteForum(item.id, item.name)">-->
            <!--<md-icon>delete</md-icon>-->
        <!--</md-button>-->
    <!--</md-list-item>-->
<!--</md-list>-->

<!--<div layout-align="center center" layout="row" class="md-padding">-->
    <!--<md-button class="md-raised md-primary animation-target" ng-click="$ctrl.createForum($event)">-->
        <!--New forum-->
    <!--</md-button>-->
<!--</div>-->
<!--</md-content>-->