<mat-icon>history</mat-icon>
<div fxFlex="100">
    <ul>
        <li *ngFor="let journal of journals">
            <img src="{{journal.user ? journal.user.avatar : journal.user.avatar}}">
            Updated by <a href="user/{{journal.user.id}}"> {{journal.user.full_name}}</a> on
            <span matTooltip="{{journal.created_on}}"
                  matTooltipPosition="above"><strong>{{journal.format_created_on}}</strong></span>
            <p *ngIf="journal.notes">{{journal.notes}}</p>
            <ul *ngIf="journal.details && journal.details.length" class="journal">
                <li *ngFor="let detail of journal.details">
                    <strong>{{detail.prop_key}}</strong> changed from {{detail.value}}
                    <span *ngIf="detail.old_value"><strong>to</strong> {{detail.old_value}}</span>
                </li>
            </ul>
        </li>
    </ul>
</div>