$space: 20px;

.my-0 {
  margin-top: 0 * $space;
  margin-bottom: 0 * $space;
}

.ml-1 {
  margin-left: 1 * $space;
}

$text-muted: #ababab;
$icon-size: 24px;

.journal-list {
  padding-left: 0;
  list-style: none;

  .journal {
    display: flex;
    align-items: flex-end;

    figure {
      margin: 0 $space 0 0;
      text-align: center;

      img {
        width: $icon-size;
        height: $icon-size;
        border-radius: 50%;
      }
    }
  }

  .details {
    padding-left: 0;
    margin-left: $icon-size + $space;

    li {
      list-style: disc;

      .label{
        color: $text-muted;
      }
    }
  }
}
