<div layout="column" layout-align="center center">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Add member</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="$ctrl.cancel()">
                <md-icon aria-label="Close dialog">clear</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <div class="popup-content-show-add-member">
        <md-content class="md-padding">
            <md-input-container class="md-icon-float md-block">
                <label>Users</label>
                <md-select ng-model="$ctrl.member.user_id">
                    <md-option
                            ng-repeat="user in $ctrl.users"
                            ng-value="user.id">
                        {{ user.firstname }} {{ user.lastname }}
                    </md-option>
                </md-select>
                <div class="md-errors-spacer"></div>
            </md-input-container>

            <md-input-container class="md-icon-float md-block">
                <label>Roles</label>
                <md-select ng-model="$ctrl.member.role_id">
                    <md-option
                            ng-repeat="role in $ctrl.roles"
                            ng-value="role.id">
                        {{ role.name }}
                    </md-option>
                </md-select>
                <div class="md-errors-spacer"></div>
            </md-input-container>

            <md-button class="md-raised md-primary animation-target"
                       ng-disabled="!$ctrl.member.user_id || !$ctrl.member.role_id"
                       ng-click="$ctrl.addMember()">
                Save
            </md-button>
        </md-content>
    </div>

</div>
