<div layout="column" layout-align="center center">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>New Issue Category</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="$ctrl.cancel()">
                <md-icon aria-label="Close dialog">clear</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <div class="popup-content-show-add-issue-category">
        <md-content class="md-padding">
            <form name="issueCategoryForm">
                <md-input-container class="md-block">
                    <label>Name</label>
                    <input ng-model="$ctrl.issueCategory.name" name="name" required>
                    <div ng-messages="issueCategoryForm.name.$error">
                        <div ng-message="required">
                            Name can't be blank!
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Assignee</label>
                    <md-select ng-model="$ctrl.issueCategory.assigned_to_id">
                        <md-option></md-option>
                        <md-option
                                ng-repeat="(key, member) in $ctrl.currentMembers"
                                ng-value="member.user_id">
                            {{ member.name }}
                        </md-option>
                    </md-select>
                    <div class="md-errors-spacer"></div>
                </md-input-container>

                <md-button class="md-raised md-primary animation-target"
                           ng-disabled="issueCategoryForm.$invalid"
                           ng-click="$ctrl.createIssueCategory()">
                    Save
                </md-button>
            </form>
        </md-content>
    </div>

</div>
