<div layout="row" layout-align="center start">
    <md-card flex-gt-sm="70" flex-gt-md="50" flex-xs="100" flex-sm="100">

        <md-card-header>
            <md-card-header-text>
                <span class="md-title">Workflows edit</span>
            </md-card-header-text>
        </md-card-header>

        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Statuses - transitions" md-on-select="$ctrl.selectTab()">
                <!--<md-content class="md-padding">-->
                <form name="$ctrl.infoForm" class="md-padding">
                    <md-input-container class="md-block">
                        <label>Statuses - transitions</label>

                        <!--<input ng-model="$ctrl.model.name" name="name" type="text" required>-->

                        <!--<div ng-messages="$ctrl.infoForm.name.$error">-->
                            <!--<div ng-message="required">-->
                                <!--Name can't be blank!-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</md-input-container>-->

                    <!--<md-input-container class="md-block">-->
                        <!--<label>Description</label>-->
                        <!--<textarea ng-model="$ctrl.model.description" name="description"></textarea>-->
                        <!--<div ng-messages="$ctrl.infoForm.description.$error">-->
                            <!--<div ng-message="server" ng-bind-html="$ctrl.errors.description | join"></div>-->
                        <!--</div>-->
                    <!--</md-input-container>-->

                    <!--<md-input-container class="md-block">-->
                        <!--<label>Identifier</label>-->
                        <!--<input ng-model="$ctrl.model.identifier" type="text" ng-readonly="true">-->
                    <!--</md-input-container>-->

                    <!--<md-input-container class="md-block">-->
                        <!--<label>Homepage</label>-->
                        <!--<input ng-model="$ctrl.model.homepage" name="homepage" type="text"  ng-change="$ctrl.change('homepage')">-->
                        <!--<div ng-messages="$ctrl.infoForm.homepage.$error">-->
                            <!--<div ng-message="server" ng-bind-html="$ctrl.errors.homepage | join"></div>-->
                        <!--</div>-->
                    <!--</md-input-container>-->


                    <!--<md-input-container class="md-block">-->
                        <!--<md-checkbox class="md-primary" ng-model="$ctrl.model.is_public" aria-label="Public">-->
                            <!--Public-->
                        <!--</md-checkbox>-->
                    <!--</md-input-container>-->

                    <!--<md-divider></md-divider>-->

                    <!--<md-input-container class="md-block">-->
                        <!--<label>Subproject of</label>-->

                        <!--<md-select ng-model="$ctrl.model.parent_identifier">-->
                            <!--<md-option md-option-empty></md-option>-->
                            <!--<md-option ng-value="item.identifier" ng-repeat="item in $ctrl.projects">-->
                                <!--{{ item.name }}-->
                            <!--</md-option>-->
                        <!--</md-select>-->
                    <!--</md-input-container>-->

                    <!--<md-input-container class="md-block">-->
                        <!--<md-checkbox class="md-primary" ng-model="$ctrl.model.inherit_members"-->
                                     <!--aria-label="Inherit members"-->
                                     <!--ng-disabled="!$ctrl.model.parent_identifier">-->
                            <!--Inherit members-->
                        <!--</md-checkbox>-->
                    <!--</md-input-container>-->

                    <!--<div layout-align="center center" layout="row">-->
                        <!--<md-button class="md-raised md-primary animation-target" ng-disabled="$ctrl.infoForm.$invalid"-->
                                   <!--ng-click="$ctrl.updateInformation()">-->
                            <!--Save-->
                        <!--</md-button>-->
                    <!--</div>-->
                </form>
                <!--</md-content>-->
            </md-tab>
            <md-tab label="Rights to change fields" md-on-select="$ctrl.selectTab('permissions')">
                <!--<md-content class="md-padding">-->
                <form name="$ctrl.infoForm" class="md-padding">
                    <md-input-container class="md-block">
                        <label>Rights to change fields</label>

                        <!--<input ng-model="$ctrl.model.name" name="name" type="text" required>-->

                        <!--<div ng-messages="$ctrl.infoForm.name.$error">-->
                        <!--<div ng-message="required">-->
                        <!--Name can't be blank!-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</md-input-container>-->

                        <!--<md-input-container class="md-block">-->
                        <!--<label>Description</label>-->
                        <!--<textarea ng-model="$ctrl.model.description" name="description"></textarea>-->
                        <!--<div ng-messages="$ctrl.infoForm.description.$error">-->
                        <!--<div ng-message="server" ng-bind-html="$ctrl.errors.description | join"></div>-->
                        <!--</div>-->
                        <!--</md-input-container>-->

                        <!--<md-input-container class="md-block">-->
                        <!--<label>Identifier</label>-->
                        <!--<input ng-model="$ctrl.model.identifier" type="text" ng-readonly="true">-->
                        <!--</md-input-container>-->

                        <!--<md-input-container class="md-block">-->
                        <!--<label>Homepage</label>-->
                        <!--<input ng-model="$ctrl.model.homepage" name="homepage" type="text"  ng-change="$ctrl.change('homepage')">-->
                        <!--<div ng-messages="$ctrl.infoForm.homepage.$error">-->
                        <!--<div ng-message="server" ng-bind-html="$ctrl.errors.homepage | join"></div>-->
                        <!--</div>-->
                        <!--</md-input-container>-->


                        <!--<md-input-container class="md-block">-->
                        <!--<md-checkbox class="md-primary" ng-model="$ctrl.model.is_public" aria-label="Public">-->
                        <!--Public-->
                        <!--</md-checkbox>-->
                        <!--</md-input-container>-->

                        <!--<md-divider></md-divider>-->

                        <!--<md-input-container class="md-block">-->
                        <!--<label>Subproject of</label>-->

                        <!--<md-select ng-model="$ctrl.model.parent_identifier">-->
                        <!--<md-option md-option-empty></md-option>-->
                        <!--<md-option ng-value="item.identifier" ng-repeat="item in $ctrl.projects">-->
                        <!--{{ item.name }}-->
                        <!--</md-option>-->
                        <!--</md-select>-->
                        <!--</md-input-container>-->

                        <!--<md-input-container class="md-block">-->
                        <!--<md-checkbox class="md-primary" ng-model="$ctrl.model.inherit_members"-->
                        <!--aria-label="Inherit members"-->
                        <!--ng-disabled="!$ctrl.model.parent_identifier">-->
                        <!--Inherit members-->
                        <!--</md-checkbox>-->
                        <!--</md-input-container>-->

                        <!--<div layout-align="center center" layout="row">-->
                        <!--<md-button class="md-raised md-primary animation-target" ng-disabled="$ctrl.infoForm.$invalid"-->
                        <!--ng-click="$ctrl.updateInformation()">-->
                        <!--Save-->
                        <!--</md-button>-->
                        <!--</div>-->
                </form>
                <!--</md-content>-->
            </md-tab>

        </md-tabs>

    </md-card>
</div>