<md-list ng-if="$ctrl.history" class="md-dense">
    <md-list-item ng-repeat="item in $ctrl.history">
        <div class="history">
            <img width="24" height="24"
                 src="//www.gravatar.com/avatar/{{ item.user.avatar_hash }}?rating=PG&amp;size=24&amp;default=">
            Updated by
            <a ui-sref="users.info({id: item.user.id})">{{ item.user.firstname }} {{ item.user.lastname }}</a>
            <a ui-sref="projects.inner.activity.date({project_id: $ctrl.$state.data.layoutDefault.projectId, end_date: item.created_on.split(' ')[0]})">
                {{ $ctrl.IssuesService.timeAgo(item.created_on) }}
            </a>
            ago

            <md-list>
                <md-list-item ng-repeat="detail in item.journal_details">
                    <div ng-if="detail.prop_key =='tracker_id'">
                        <strong>Tracker</strong>
                        changed from
                        <i>{{ $ctrl.trackers[+detail.old_value] ?
                            $ctrl.trackers[+detail.old_value].name : detail.old_value }}</i>
                        to
                        <i>{{$ctrl.trackers[+detail.value] ? $ctrl.trackers[+detail.value].name :
                            detail.value}}</i>
                    </div>
                    <div ng-if="detail.prop_key==='status_id'">
                        <strong>Status</strong>
                        changed from
                        <i>{{$ctrl.statuses[+detail.old_value] ? $ctrl.statuses[+detail.old_value].name
                            :
                            detail.old_value}}</i>
                        to
                        <i>{{$ctrl.statuses[+detail.value] ? $ctrl.statuses[+detail.value].name :
                            detail.value}}</i>
                    </div>
                    <div ng-if="detail.prop_key==='estimated_hours'">
                        <strong>Estimated time</strong>
                        set to
                        <i>{{detail.value ? detail.value : 0}} h</i>
                    </div>
                    <div ng-if="detail.prop_key==='assigned_to_id'">
                        <strong>Assignee</strong>
                        changed from
                        <i>{{$ctrl.users[+detail.old_value] ?
                            ($ctrl.users[+detail.old_value].firstname + ' ' +
                            $ctrl.users[+detail.old_value].lastname):
                            detail.old_value}}</i>
                        to
                        <i>{{$ctrl.users[+detail.value] ?
                            ($ctrl.users[+detail.value].firstname + ' ' +
                            $ctrl.users[+detail.value].lastname):
                            detail.value}}</i>
                    </div>
                    <div ng-if="detail.prop_key==='priority_id'">
                        <strong>Project</strong>
                        changed from
                        <i>{{$ctrl.projects[+detail.old_value] ?
                            $ctrl.projects[+detail.old_value].name : detail.old_value}}</i>
                        to
                        <i>{{$ctrl.projects[+detail.value] ?
                            $ctrl.projects[+detail.value].name : detail.value}}</i>
                    </div>
                    <div ng-if="detail.prop_key==='project_id'">
                        <strong>Priority</strong>
                        changed from
                        <i>{{$ctrl.priorities[+detail.old_value] ?
                            $ctrl.priorities[+detail.old_value].name : detail.old_value}}</i>
                        to
                        <i>{{$ctrl.priorities[+detail.value] ?
                            $ctrl.priorities[+detail.value].name : detail.value}}</i>
                    </div>
                    <div ng-if="detail.prop_key==='relates'">
                        <strong>Related to</strong>
                        <md-button ng-click="$ctrl.viewIssue($ctrl.list[+detail.value])">
                            <i>Feature {{detail.value}}</i>
                        </md-button>
                        <i>{{$ctrl.list[+detail.value] ?
                            $ctrl.list[+detail.value].subject : detail.value}} added</i>
                    </div>
                    <div ng-if="detail.prop_key==='done_ratio'">
                        <strong>% Done</strong> changed from <i>{{detail.old_value}}</i> to <i>{{detail.value}}</i>
                    </div>
                    <div ng-if="detail.prop_key==='subject'">
                        <strong>Subject</strong> changed from <i>{{detail.old_value}}</i> to <i>{{detail.value}}</i>
                    </div>
                    <div ng-if="detail.prop_key==='description'">
                        <strong>Description</strong> updated</i>
                    </div>
                    <div ng-if="detail.prop_key==='parent_id'">
                        <strong>Parent task</strong> set to <i>#{{detail.value}}</i>
                    </div>
                    <div ng-if="detail.prop_key==='due_date'">
                        <strong>Due date</strong> set to <i>{{$ctrl.convertDate(detail.value)}}</i>
                    </div>
                    <div ng-if="detail.prop_key==='start_date'">
                        <strong>Start date</strong> set to <i>{{$ctrl.convertDate(detail.value)}}</i>
                    </div>
                    <div ng-if="detail.prop_key==='is_private'">
                        <strong>Private</strong> changed from
                        <i>{{+detail.old_value ? 'Yes' : 'No'}}</i>
                        to
                        <i>{{+detail.value ? 'Yes' : 'No'}}</i>
                    </div>
                    <div ng-if="detail.property==='attachment'">
                        <strong>File</strong>
                        <i>{{detail.old_value ? detail.old_value : detail.value}}</i>
                        <span ng-if="detail.old_value">deleted</span>
                        <span ng-if="detail.value">added</span>
                    </div>
                </md-list-item>
            </md-list>
            <p ng-if="item.notes">{{ item.notes }}</p>
            <md-divider ng-if="!$last"></md-divider>
        </div>
    </md-list-item>
</md-list>