<!--<md-divider></md-divider>-->
<div ng-repeat="journal in $ctrl.journals">
    <!--<md-divider></md-divider>-->
    <!--<div ng-repeat="journal in ::$ctrl.journals" id="note-{{ ::($index+1) }}">-->
    <span>
        <span>Updated by</span>
        <span class="md-avatar">
            <img src="{{ ::journal.user.avatar }}">
        </span>
        <a ui-sref="users.info({id:journal.user.id})">{{ ::journal.user.full_name }}</a>
        <strong>
            <md-tooltip md-direction="top">{{ ::journal.created_on }}</md-tooltip>
            {{ ::journal.created_on_from_now }}
        </strong>
        <span>ago</span>
        <!--<span flex></span>-->
        <!--<span><a target="_self" ui-sref=".({'#':'note-'+($index + 1)})">#{{ ::($index+1) }}</a></span>-->
    </span>
    <ul ng-if="::journal.details && journal.details.length != 0">
        <li ng-repeat="detail in ::journal.details">
            <strong>{{ ::detail.title }}</strong>
            <span>changed from </span>
            <em>{{ ::detail.old_value }}</em>
            <span> to </span>
            <em>{{ ::detail.value }}</em>
        </li>
    </ul>
    <p markdown-to-html="journal.notes || ''"></p>
</div>