<div fxLayout="row" fxLayoutAlign="center start">
    <mat-card [fxFlex.xs]="100" [fxFlex.sm]="100" [fxFlex.md]="70" [fxFlex.gt-md]="50">
        <mat-progress-bar mode="indeterminate" *ngIf="pending"></mat-progress-bar>

        <mat-card-header>
            <!--<div mat-card-avatar class="example-header-image"></div>-->
            <mat-card-title>Trackers</mat-card-title>
            <mat-card-subtitle>Administration</mat-card-subtitle>

            <div fxFlex="100"></div>

            <button mat-icon-button (click)="refresh()">
                <mat-icon>refresh</mat-icon>
            </button>
        </mat-card-header>

        <mat-card-content>
            <!--<mat-nav-list>-->
            <!--<mat-list-item *ngFor="let category of categories$ | async" [routerLink]="category.url">-->
            <!--<mat-icon mat-list-icon>{{category.icon}}</mat-icon>-->
            <!--<h4 mat-line>{{category.name}}</h4>-->
            <!--</mat-list-item>-->
            <!--</mat-nav-list>-->
        </mat-card-content>
    </mat-card>
</div>

