<div class="container mt-3">
    <mat-card class="content-card">
        <mat-progress-bar
            mode="indeterminate"
            *ngIf="(pending$ | async)"
        ></mat-progress-bar>
        <mat-card-header>
            <!--<div mat-card-avatar class="example-header-image"></div>-->
            <mat-card-title>Trackers</mat-card-title>
            <mat-card-subtitle>Administration</mat-card-subtitle>

            <button mat-icon-button (click)="refresh()">
                <mat-icon>refresh</mat-icon>
            </button>
        </mat-card-header>
        <mat-card-content>
            <!--<mat-nav-list>-->
            <!--<mat-list-item *ngFor="let category of categories$ | async" [routerLink]="category.url">-->
            <!--<mat-icon mat-list-icon>{{category.icon}}</mat-icon>-->
            <!--<h4 mat-line>{{category.name}}</h4>-->
            <!--</mat-list-item>-->
            <!--</mat-nav-list>-->
        </mat-card-content>
    </mat-card>
</div>
