<md-dialog flex-xs="100" flex-sm="100" flex-md="50" flex-gt-md="25"
           aria-label="{{ $ctrl.member.id ? $ctrl.member.user.full_name : 'New member' }}">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{ $ctrl.member.id ? $ctrl.member.user.full_name : 'New member' }}</h2>

            <span flex></span>

            <md-button class="md-icon-button" ng-click="$ctrl.cancel()">
                <md-icon aria-label="Close dialog">clear</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <div class="md-dialog-content">
            <form name="memberForm" ng-submit="$ctrl.submit()">
                <md-input-container class="md-icon-float md-block" ng-if="!$ctrl.member.id">
                    <label>Users</label>

                    <md-select ng-model="$ctrl.model.user" name="userId" required>
                        <md-option ng-repeat="user in $ctrl.users" ng-value="user.id">
                            {{ user.full_name }}
                        </md-option>
                    </md-select>

                    <div class="md-errors-spacer"></div>

                    <div class="errors" ng-messages="memberForm.userId.$error">
                        <div ng-message="required">Principal cannot be blank</div>
                    </div>
                </md-input-container>

                <md-input-container class="md-icon-float md-block">
                    <label>Roles</label>

                    <md-select ng-model="$ctrl.model.roles" name="roleId" required multiple>
                        <md-option ng-repeat="role in $ctrl.roles" ng-value="role.id">
                            {{ role.name }}
                        </md-option>
                    </md-select>

                    <div class="md-errors-spacer"></div>

                    <div class="errors" ng-messages="memberForm.roleId.$error">
                        <div ng-message="required">Role cannot be empty</div>
                    </div>
                </md-input-container>

                <div layout-align="center center" layout="row">
                    <md-button class="md-raised md-primary animation-target" type="submit"
                               ng-disabled="memberForm.$invalid">
                        Save
                    </md-button>
                </div>
            </form>
        </div>
    </md-dialog-content>
</md-dialog>



