:host {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

mat-sidenav-container {
  flex: 1;
}

mat-sidenav {
  width: 280px;
}

.spacer {
  flex: 1 1 auto;
}

mat-sidenav-container {
  //background-color: transparent;
}