<mat-sidenav-container>
    <mat-sidenav #sidenav mode="'over'" fixedInViewport="true">
        <mat-toolbar color="primary">Menu</mat-toolbar>
        <mat-nav-list>
            <a mat-list-item routerLink="/404" (click)="sidenav.toggle()">
                404
            </a>
            <a mat-list-item routerLink="/500" (click)="sidenav.toggle()">
                500
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar
            color="primary"
            [ngClass]="{'multiple-toolbars': tabs.length > 0}"
        >
            <mat-toolbar-row>
                <button mat-icon-button (click)="sidenav.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
                <span>PM</span>
                <span class="spacer"></span>
                <button
                    mat-icon-button
                    [matMenuTriggerFor]="topMenu"
                    *ngIf="topMenuItems.length"
                >
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #topMenu="matMenu">
                    <a
                        [routerLink]="item.path"
                        mat-menu-item
                        *ngFor="let item of topMenuItems"
                    >
                        <mat-icon>{{ item.icon }}</mat-icon>
                        <span>{{ item.title }}</span>
                    </a>
                    <!--<button mat-menu-item disabled>-->
                    <!--<mat-icon>voicemail</mat-icon>-->
                    <!--<span>Check voicemail</span>-->
                    <!--</button>-->
                    <!--<button mat-menu-item>-->
                    <!--<mat-icon>notifications_off</mat-icon>-->
                    <!--<span>Disable alerts</span>-->
                    <!--</button>-->
                </mat-menu>
            </mat-toolbar-row>
            <mat-toolbar-row *ngIf="tabs.length > 0" class="sub-toolbar">
                <nav mat-tab-nav-bar color="accent">
                    <a
                        mat-tab-link
                        disableRipple="true"
                        *ngFor="let tab of tabs"
                        [routerLink]="tab.path"
                        [active]="isActiveTab(tab)"
                    >
                        {{ tab.title | uppercase }}
                    </a>
                </nav>
            </mat-toolbar-row>
        </mat-toolbar>
        <div class="d-flex">
            <div>
                <div class="q-nav-container">
                    <div class="q-nav">
                        <div class="q-nav-items">
                            <div
                                class="q-nav-item"
                                *ngFor="let item of sideItems"
                            >
                                <a [routerLink]="item.url">
                                    <mat-icon>{{ item.icon }}</mat-icon>
                                    <span>{{ item.name }}</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex-grow-1">
                <router-outlet></router-outlet>
                <footer>Powered by MaybeWorks</footer>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
