<div layout="row" layout-align="center start">
    <md-card flex-xs="100" flex-sm="50" flex-md="40" flex-gt-md="25">
        <md-progress-linear md-mode="indeterminate" ng-if="$ctrl.loadProccess"></md-progress-linear>

        <md-card-header>
            <h1>Sign up</h1>
        </md-card-header>

        <md-card-content>
            <form name="$ctrl.form" ng-submit="$ctrl.submit()" server-form="$ctrl.errors">
                <md-input-container class="md-icon-float md-block">
                    <label>Login</label>
                    <input ng-model="$ctrl.signup.login" name="login" type="text"
                           ng-pattern="/^[a-z0-9_\-@\.]*$/i" maxlength="60"
                           required server-field>

                    <div ng-messages="$ctrl.form.login.$error">
                        <div ng-message="required">Login cannot be blank</div>
                        <div ng-message="maxlength">Login is too long (maximum is 60 characters)</div>
                        <div ng-message-exp="['pattern']">Login is invalid</div>
                        <div ng-message="server" ng-bind-html="$ctrl.form.login.$server"></div>
                    </div>
                </md-input-container>

                <md-input-container class="md-icon-float md-block">
                    <label>Password</label>
                    <input ng-model="$ctrl.signup.password" minlength="8"
                           name="password" type="password" required server-field>

                    <div ng-messages="$ctrl.form.password.$error">
                        <div ng-message="minlength">Password is too short (minimum is 8 characters)</div>
                        <div ng-message="required">Password cannot be blank!</div>
                        <div ng-message="server" ng-bind-html="$ctrl.form.password.$server"></div>
                    </div>
                </md-input-container>

                <md-input-container class="md-icon-float md-block">
                    <label>Repeat Password</label>
                    <input ng-model="$ctrl.signup.repeatPassword"
                           ng-pattern="{{ $ctrl.signup.password }}"
                           name="repeatPassword" type="password" required server-field>

                    <div ng-messages="$ctrl.form.repeatPassword.$error">
                        <div ng-message="required">Repeat Password cannot blank!</div>
                        <div ng-message-exp="['pattern']">Password doesn't match confirmation</div>
                        <div ng-message="server" ng-bind-html="$ctrl.form.repeatPassword.$server"></div>
                    </div>
                </md-input-container>

                <md-input-container class="md-icon-float md-block">
                    <label>First Name</label>
                    <input ng-model="$ctrl.signup.firstName" name="firstName" type="text"
                           maxlength="30" required server-field>

                    <div ng-messages="$ctrl.form.firstName.$error">
                        <div ng-message="required">First name cannot be blank</div>
                        <div ng-message="maxlength">First name is too long (maximum is 30 characters)</div>
                        <div ng-message="server" ng-bind-html="$ctrl.form.firstName.$server"></div>
                    </div>
                </md-input-container>

                <md-input-container class="md-icon-float md-block">
                    <label>Last Name</label>
                    <input ng-model="$ctrl.signup.lastName" name="lastName" type="text"
                           maxlength="30" required server-field>

                    <div ng-messages="$ctrl.form.lastName.$error">
                        <div ng-message="required">Last name cannot be blank</div>
                        <div ng-message="maxlength">Last name is too long (maximum is 30 characters)</div>
                        <div ng-message="server" ng-bind-html="$ctrl.form.lastName.$server"></div>
                    </div>
                </md-input-container>

                <md-input-container class="md-icon-float md-block">
                    <label>Email</label>
                    <input ng-model="$ctrl.signup.email" name="email" type="email"
                           maxlength="60" ng-pattern="/^.+@.+\..+$/" required server-field>

                    <div ng-messages="$ctrl.form.email.$error">
                        <div ng-message="required">Email cannot be blank</div>
                        <div ng-message="required">Email is too long (maximum is 60 characters)</div>
                        <div ng-message-exp="['pattern']">Email is invalid</div>
                        <div ng-message="server" ng-bind-html="$ctrl.form.email.$server"></div>
                    </div>
                </md-input-container>

                <md-input-container class="md-icon-float md-block">
                    <md-checkbox class="md-primary" name="hideEmail" md-no-ink ng-model="$ctrl.signup.hideEmail"
                                 aria-label="Hide my Email">
                        Hide my Email
                    </md-checkbox>
                </md-input-container>

                <md-input-container class="md-icon-float md-block">
                    <label>Language</label>
                    <md-select ng-model="$ctrl.signup.lang" name="lang" server-field>
                        <md-option ng-value="language.id" ng-repeat="language in $ctrl.languages">
                            {{ language.name }}
                        </md-option>
                    </md-select>

                    <div ng-messages="$ctrl.form.lang.$error">
                        <div ng-message="server" ng-bind-html="$ctrl.form.lang.$server"></div>
                    </div>
                </md-input-container>

                <md-card-actions layout="row" layout-align="center center">
                    <md-button class="md-raised md-primary" type="submit"
                               ng-disabled="$ctrl.form.$invalid">
                        Registration
                    </md-button>

                    <md-button class="md-raised md-default" type="submit" ng-click="$ctrl.$state.go('login')">
                        Sign in
                    </md-button>
                </md-card-actions>
            </form>
        </md-card-content>
    </md-card>
</div>

<!--<p layout="row" layout-align="center center">-->
<!--<a ui-sref="login" class="md-body-1">Already have an account? Sign in!</a>-->
<!--</p>-->

