<div layout="column" layout-align="center none">
    <md-card ng-if="!$ctrl.editMode">
        <md-list>
            <md-list-item>
                <md-button class="md-raised md-primary animation-target md-secondary"
                           ng-click="$ctrl.newWikiPage($event)">
                    New wiki page
                </md-button>
                <md-button class="md-raised md-primary animation-target md-secondary"
                           ng-click="$ctrl.goToEdit()">
                    Edit
                </md-button>
                <md-button class="md-raised md-primary animation-target md-secondary"
                           ng-click="$ctrl.watchPage()">
                    Watch
                </md-button>
                <md-button class="md-raised md-primary animation-target md-secondary"
                           ng-click="$ctrl.deletePage()">
                    Delete
                </md-button>
                <md-button class="md-raised md-primary animation-target md-secondary"
                           ng-click="$ctrl.showHistory()">
                    History
                </md-button>
            </md-list-item>
        </md-list>
        <md-card-content class="md-body-1" markdown-to-html="$ctrl.data.text || ''"></md-card-content>
        <md-list>
            <md-list-item>
                <md-button class="md-raised md-primary animation-target md-secondary"
                           ng-click="$ctrl.addFile($event)">
                    Add File
                </md-button>
            </md-list-item>
        </md-list>
    </md-card>
    <form ng-if="$ctrl.editMode" name="EditWikiForm" ng-submit="$ctrl.submit()">
            <md-card>
                <md-input-container flex layout-padding>
                <textarea name="editor" ng-model="$ctrl.data.text" required>
                </textarea>
                    <div ng-messages="EditWikiForm.editor.$error">
                        <div ng-message="required">
                            Wiki can't be blank!
                        </div>
                    </div>
                </md-input-container>

                <md-card-actions layout="row" layout-align="center center">
                    <md-button class="md-raised md-primary animation-target" type="submit"
                               ng-disabled="EditWikiForm.$invalid">Save
                    </md-button>
                    <md-button class="md-raised animation-target" ng-click="$ctrl.cancel()">
                        Cancel
                    </md-button>
                </md-card-actions>
            </md-card>
    </form>
    <md-card>
        <p class="md-padding" ng-repeat="page in $ctrl.pageList">
            {{ page.title }}
        <p>
    </md-card>
</div>