<div layout-gt-sm="row" layout-align="center start">
    <md-card flex-xs="100" flex-sm="100" flex-md="70" flex-gt-md="50">

        <md-card-header>
            <md-card-header-text>
                <span class="md-title">Admin Projects list</span>
            </md-card-header-text>
        </md-card-header>
        <div class="md-padding">
            <h2>Filters</h2>
            <div layout="row">
                <form name="$ctrl.filterForm">
                    <div class="demo-md-panel-content">
                        <md-input-container>
                            <label>Status</label>
                                <md-select ng-model="$ctrl.filterForm.myOption" ng-change="$ctrl.sortBy()">
                                <md-option ng-value="key" ng-repeat="(key, item)  in ::$ctrl.statuses">{{::item}}</md-option>
                            </md-select>
                        </md-input-container>

                        <md-input-container class="md-icon-float md-block">
                            <label>Project</label>
                                <input ng-model="$ctrl.filterForm.text" type="text">
                        </md-input-container>

                        <div layout-align="center center" >
                            <md-button class="md-raised md-primary animation-target"
                                ng-click="$ctrl.search()">
                            Search
                            </md-button>
                        </div>

                        <div layout-align="center center">
                            <md-button class="md-raised md-primary animation-target"
                                ng-click="$ctrl.clearFilters()">
                            Clear
                        </md-button>

                    </div>
                    </div>
                </form>
            </div>
        </div>

        <md-list>
            <div ng-repeat="row in $ctrl.projects">
                <md-list-item class="md-3-line" ng-click="$ctrl.goToProject(row.identifier)">
                    <div class="md-list-item-text" layout="column">
                        <h3>{{ ::row.name }}</h3>
                        {{ row.is_public ?' Publicly available':'Not available' }}
                       {{ row.created_on ?' | Created on ' + row.namerow.created_on :'' }}

                    </div>
                    <md-icon>{{ row.status == '9' ?'archive':'' }}</md-icon>

                    <md-menu md-position-mode="target-right target">
                        <md-button aria-label="More actions" class="md-icon-button" ng-click="$mdMenu.open()">
                            <md-icon>more_vert</md-icon>
                        </md-button>
                        <md-menu-content width="3">
                            <md-menu-item ng-click="$ctrl.archiveProject(row.identifier,row.status)">
                                <md-button>
                                    <md-icon>{{ row.status == '9' ?'unarchive':'archive' }}</md-icon>
                                    {{ row.status == '9' ?'Unarchive':'Archive' }}
                                </md-button>
                            </md-menu-item>

                            <md-menu-item ng-click="$ctrl.copyProject(row.identifier)">
                                <md-button>
                                    <md-icon>content_copy</md-icon>
                                    Copy
                                </md-button>
                            </md-menu-item>

                            <md-menu-divider></md-menu-divider>

                            <md-menu-item>
                                <md-button ng-click="$ctrl.deleteProject(row.identifier)">
                                    <md-icon>delete</md-icon>
                                    Delete
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                    <md-divider ng-if="!$last"></md-divider>
                </md-list-item>
            </div>
        </md-list>
    </md-card>
</div>