<md-dialog flex-xs="100" flex-sm="100" flex-md="70" flex-gt-md="50"
           aria-label="{{ $ctrl.title }}">
    <md-toolbar>

        <div class="md-toolbar-tools">
            <h2>{{ $ctrl.title }}</h2>

            <span flex></span>

            <md-button class="md-icon-button" ng-click="$ctrl.cancel()">
                <md-icon aria-label="Close dialog">clear</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <div class="md-dialog-content">
            <issues-view-component selected-issue="$ctrl.selectedIssue" author-info="true"></issues-view-component>
        </div>
    </md-dialog-content>

    <md-dialog-actions layout-align="end center" layout="row">
        <issues-view-actions-component selected-issue="$ctrl.selectedIssue"
                                       open-button="true"></issues-view-actions-component>
    </md-dialog-actions>
</md-dialog>
