<div layout="row" layout-margin  layout-align="center start" >
    <md-content ng-repeat=" container in $ctrl.containers " flex layout-padding  class="style-3">
        <div ng-style="{'text-align':'center', 'text-transform': 'uppercase'}">
            <h4 class="card-title">{{ container.name }}</h4>
        </div>

        <div class="dnd-list" flex dnd-list="container.items" >
            <!--dnd-moved="$ctrl.toMoved(item)"-->
            <md-card ng-repeat="item in container.items" dnd-draggable="item"
                     dnd-type="'item'"
                     dnd-effect-allowed="all"
                     dnd-dragstart=""
                     dnd-moved="container.items.splice($index, 1)"
                     dnd-dragend="">

                <md-card-header ng-click="">
                    {{ ::item.subject}}
                </md-card-header>

                <md-card-content class="card-text">
                    <small>Author : {{::item.author}}</small><br>
                    <small>Start date: {{::item.start_date}}</small><br>
                    <small>Due date: {{::item.due_date}}</small><br>
                        <md-divider flex></md-divider>
                    <small>Assigned: {{::item.assigned}}</small>
                </md-card-content>

            </md-card>
        </div>
    </md-content>
</div>