<form name="AccountForm" ng-submit="$ctrl.submit()">
    <div layout="column" layout-align="center none">

        <md-card>
            <md-card-header>
                <md-card-header-text>
                    <span class="md-title">My Account</span>
                </md-card-header-text>
            </md-card-header>

            <md-card-content>
                <p class="md-body-1" layout="column">
                    <span><span class="md-body-2">Login:</span> {{ $ctrl.model.login }}</span>
                    <span><span class="md-body-2">Created:</span> {{ $ctrl.model.created }}</span>
                </p>

                <md-list>
                    <md-list-item>
                        <p class="md-list-item-text md-body-1" layout="column">
                            <span>Atom access key</span>
                            <span>created {{ $ctrl.model.atom_key_updated_on }}</span>
                        </p>
                        <md-button class="md-raised md-primary animation-target md-secondary"
                                   ng-click="$ctrl.resetAtomKey()">
                            Reset
                        </md-button>
                    </md-list-item>

                    <md-divider></md-divider>

                    <md-list-item>
                        <p class="md-list-item-text md-body-1" layout="column">
                            <span>API access key</span>
                            <span>created {{ $ctrl.model.api_key_updated_on  }}</span>
                        </p>
                        <md-button class="md-raised md-primary animation-target md-secondary"
                                   ng-click="$ctrl.showApiKey($event)">
                            Show
                        </md-button>
                        <md-button class="md-raised md-primary animation-target md-secondary"
                                   ng-click="$ctrl.resetApiKey()">
                            Reset
                        </md-button>
                    </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>

        <md-card>

            <md-card-header>
                <md-card-header-text>
                    <span class="md-title">Information</span>
                </md-card-header-text>
            </md-card-header>

            <md-card-content>

                <md-input-container class="md-icon-float md-block">
                    <label>First Name</label>
                    <input ng-model="$ctrl.model.firstname" name="firstName" type="text" required>
                    <div ng-messages="AccountForm.firstName.$error">
                        <div ng-message="required">
                            First name can't be blank!
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-icon-float md-block">
                    <label>Last Name</label>
                    <input ng-model="$ctrl.model.lastname" name="lastName" type="text" required>
                    <div ng-messages="AccountForm.lastName.$error">
                        <div ng-message="required">
                            Last name can't be blank
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-icon-float md-block">
                    <label>Email</label>
                    <input ng-model="$ctrl.model.email" type="email" name="email" ng-pattern="/^.+@.+\..+$/" required>
                    <div ng-messages="AccountForm.email.$error">
                        <div ng-message-exp="['required', 'pattern']">Email is invalid or already taken</div>
                    </div>
                </md-input-container>

                <md-input-container class="md-icon-float md-block">
                    <label>Language</label>
                    <md-select ng-model="$ctrl.model.lang" required>
                        <md-option ng-value="language.id" ng-repeat="language in $ctrl.languages">
                            {{language.name }}
                        </md-option>
                    </md-select>
                    <div class="md-errors-spacer"></div>
                </md-input-container>

                <md-input-container class="md-icon-float md-block">
                    <label>Email notifications</label>
                    <md-select ng-model="$ctrl.model.mail_notification" required>
                        <md-option value="selected">For any event on the selected projects only...
                        </md-option>
                        <md-option value="only_my_events">Only for things I watch or I'm involved in
                        </md-option>
                        <md-option value="only_assigned">Only for things I am assigned to</md-option>
                        <md-option value="only_owner">Only for things I am the owner of</md-option>
                        <md-option value="none">No events</md-option>
                        </select>
                    </md-select>
                    <div class="md-errors-spacer"></div>
                </md-input-container>

                <md-input-container class="md-icon-float md-block">
                    <md-switch class="md-primary" md-no-ink ng-model="$ctrl.model.no_self_notified"
                                 aria-label="I don't want to be notified of changes that I make myself">
                        I don't want to be notified of changes that I make myself
                    </md-switch>
                </md-input-container>

                <md-input-container class="md-icon-float md-block">
                    <md-switch class="md-primary" md-no-ink ng-model="$ctrl.model.hide_mail"
                                 aria-label="Hide my Email">
                        Hide my Email
                    </md-switch>
                </md-input-container>

                <md-input-container class="md-icon-float md-block">
                    <label>Time zone</label>
                    <md-select ng-model="$ctrl.model.time_zone" required>
                        <md-option ng-value="zone.value" ng-repeat="zone in $ctrl.timeZone">
                            {{ zone.name }}
                        </md-option>
                    </md-select>
                    <div class="md-errors-spacer"></div>
                </md-input-container>

                <md-input-container class="md-icon-float md-block">
                    <label>Display comments</label>
                    <md-select ng-model="$ctrl.model.comments_sorting" required>
                        <md-option value="asc">In chronological order</md-option>
                        <md-option value="desc">In reverse chronological order</md-option>
                    </md-select>
                    <div class="md-errors-spacer"></div>
                </md-input-container>

                <md-input-container class="md-icon-float md-block">
                    <md-switch class="md-primary" md-no-ink ng-model="$ctrl.model.warn_on_leaving_unsaved"
                                 aria-label="Warn me when leaving a page with unsaved text">
                        Warn me when leaving a page with unsaved text
                    </md-switch>
                </md-input-container>

            </md-card-content>

            <md-card-actions layout="row" layout-align="center center">
                <md-button class="md-raised md-primary animation-target" type="submit"
                           ng-disabled="AccountForm.$invalid">Save
                </md-button>

                <md-button class="md-raised animation-target" ng-click="$ctrl.addEmail($event)">
                    Emails
                </md-button>

                <md-button class="md-raised animation-target" ng-click="$ctrl.changePassword($event)">
                    Change password
                </md-button>
            </md-card-actions>
        </md-card>
    </div>

</form>



