my-account-component {
  md-card {
    width: 100%;
    max-width: 600px;
    //padding: 3%;
    margin: 16px auto;

    .md-subheader{
      background: #fff;
    }

    md-list-item{
      &.md-no-proxy{
        padding: 0;
      }
    }
  }
}

