<form name="AccountForm" ng-submit="$ctrl.submit()">
    <md-toolbar class="md-menu-toolbar">
        <h2 layout-padding>My Account</h2>
    </md-toolbar>
    <div class="custom-panel" layout="column" layout-margin layout-padding>

        <div layout="row" layout-margin layout-padding>

            <div flex>
                <md-input-container class="md-icon-float md-block">
                    <label>First Name</label>
                    <input ng-model="$ctrl.model.firstName" type="text" required>
                </md-input-container>

                <md-input-container class="md-icon-float md-block">
                    <label>Last Name</label>
                    <input ng-model="$ctrl.model.lastName" type="text" required>
                </md-input-container>

                <md-input-container class="md-icon-float md-block">
                    <label>Email</label>
                    <input ng-model="$ctrl.model.email" type="email" required>
                </md-input-container>

                <md-input-container class="md-icon-float md-block">
                    <label>Language</label>
                    <md-select ng-model="$ctrl.model.selectedLang" required>
                        <md-option ng-value="language" ng-repeat="language in $ctrl.languages">
                            {{language.name }}
                        </md-option>
                    </md-select>
                </md-input-container>

                <md-input-container class="md-icon-float md-block">
                    <label>Email notifications</label>
                    <md-select ng-model="$ctrl.model.EmailNotifications" required>
                        <md-option value="selected">For any event on the selected projects only...
                        </md-option>
                        <md-option value="only_my_events">Only for things I watch or I'm involved in
                        </md-option>
                        <md-option value="only_assigned">Only for things I am assigned to</md-option>
                        <md-option value="only_owner">Only for things I am the owner of</md-option>
                        <md-option value="none">No events</md-option>
                        </select>
                    </md-select>
                </md-input-container>

                <md-input-container class="md-icon-float md-block">
                    <md-checkbox class="md-primary" md-no-ink ng-model="$ctrl.model.noSelfNotified"
                                 aria-label="I don't want to be notified of changes that I make myself">
                        I don't want to be notified of changes that I make myself
                    </md-checkbox>
                </md-input-container>
                <md-input-container class="md-icon-float md-block">
                    <md-checkbox class="md-primary" md-no-ink ng-model="$ctrl.model.hideMail"
                                 aria-label="Hide my Email">
                        Hide my Email
                    </md-checkbox>
                </md-input-container>

                <md-input-container class="md-icon-float md-block">
                    <label>Time zone</label>
                    <md-select ng-model="$ctrl.model.timeZone" required>
                        <md-option value="American Samoa">(GMT-11:00) American Samoa</md-option>
                        <md-option value="International Date Line West">(GMT-11:00) International Date Line
                            West
                        </md-option>
                        <md-option value="Midway Island">(GMT-11:00) Midway Island</md-option>
                        <md-option value="Hawaii">(GMT-10:00) Hawaii</md-option>
                        <md-option value="Alaska">(GMT-09:00) Alaska</md-option>
                        <md-option value="Pacific Time (US &amp; Canada)">(GMT-08:00) Pacific Time (US &amp;
                            Canada)
                        </md-option>
                        <md-option value="Tijuana">(GMT-08:00) Tijuana</md-option>
                        <md-option value="Arizona">(GMT-07:00) Arizona</md-option>
                        <md-option value="Mazatlan">(GMT-07:00) Mazatlan</md-option>
                        <md-option value="Mountain Time (US &amp; Canada)">(GMT-07:00) Mountain Time (US
                            &amp; Canada)
                        </md-option>
                        <md-option value="Central America">(GMT-06:00) Central America</md-option>
                        <md-option value="Central Time (US &amp; Canada)">(GMT-06:00) Central Time (US &amp;
                            Canada)
                        </md-option>
                        <md-option value="Guadalajara">(GMT-06:00) Guadalajara</md-option>
                        <md-option value="Mexico City">(GMT-06:00) Mexico City</md-option>
                        <md-option value="Monterrey">(GMT-06:00) Monterrey</md-option>
                        <md-option value="Saskatchewan">(GMT-06:00) Saskatchewan</md-option>
                        <md-option value="Bogota">(GMT-05:00) Bogota</md-option>
                        <md-option value="Eastern Time (US &amp; Canada)">(GMT-05:00) Eastern Time (US &amp;
                            Canada)
                        </md-option>
                        <md-option value="Indiana (East)">(GMT-05:00) Indiana (East)</md-option>
                        <md-option value="Lima">(GMT-05:00) Lima</md-option>
                        <md-option value="Quito">(GMT-05:00) Quito</md-option>
                        <md-option value="Atlantic Time (Canada)">(GMT-04:00) Atlantic Time (Canada)
                        </md-option>
                        <md-option value="Caracas">(GMT-04:00) Caracas</md-option>
                        <md-option value="Georgetown">(GMT-04:00) Georgetown</md-option>
                        <md-option value="La Paz">(GMT-04:00) La Paz</md-option>
                        <md-option value="Santiago">(GMT-04:00) Santiago</md-option>
                        <md-option value="Newfoundland">(GMT-03:30) Newfoundland</md-option>
                        <md-option value="Brasilia">(GMT-03:00) Brasilia</md-option>
                        <md-option value="Buenos Aires">(GMT-03:00) Buenos Aires</md-option>
                        <md-option value="Greenland">(GMT-03:00) Greenland</md-option>
                        <md-option value="Montevideo">(GMT-03:00) Montevideo</md-option>
                        <md-option value="Mid-Atlantic">(GMT-02:00) Mid-Atlantic</md-option>
                        <md-option value="Azores">(GMT-01:00) Azores</md-option>
                        <md-option value="Cape Verde Is.">(GMT-01:00) Cape Verde Is.</md-option>
                        <md-option value="Casablanca">(GMT+00:00) Casablanca</md-option>
                        <md-option value="Dublin">(GMT+00:00) Dublin</md-option>
                        <md-option value="Edinburgh">(GMT+00:00) Edinburgh</md-option>
                        <md-option value="Lisbon">(GMT+00:00) Lisbon</md-option>
                        <md-option value="London">(GMT+00:00) London</md-option>
                        <md-option value="Monrovia">(GMT+00:00) Monrovia</md-option>
                        <md-option value="UTC">(GMT+00:00) UTC</md-option>
                        <md-option value="Amsterdam">(GMT+01:00) Amsterdam</md-option>
                        <md-option value="Belgrade">(GMT+01:00) Belgrade</md-option>
                        <md-option value="Berlin">(GMT+01:00) Berlin</md-option>
                        <md-option value="Bern">(GMT+01:00) Bern</md-option>
                        <md-option value="Bratislava">(GMT+01:00) Bratislava</md-option>
                        <md-option value="Brussels">(GMT+01:00) Brussels</md-option>
                        <md-option value="Budapest">(GMT+01:00) Budapest</md-option>
                        <md-option value="Copenhagen">(GMT+01:00) Copenhagen</md-option>
                        <md-option value="Ljubljana">(GMT+01:00) Ljubljana</md-option>
                        <md-option value="Madrid">(GMT+01:00) Madrid</md-option>
                        <md-option value="Paris">(GMT+01:00) Paris</md-option>
                        <md-option value="Prague">(GMT+01:00) Prague</md-option>
                        <md-option value="Rome">(GMT+01:00) Rome</md-option>
                        <md-option value="Sarajevo">(GMT+01:00) Sarajevo</md-option>
                        <md-option value="Skopje">(GMT+01:00) Skopje</md-option>
                        <md-option value="Stockholm">(GMT+01:00) Stockholm</md-option>
                        <md-option value="Vienna">(GMT+01:00) Vienna</md-option>
                        <md-option value="Warsaw">(GMT+01:00) Warsaw</md-option>
                        <md-option value="West Central Africa">(GMT+01:00) West Central Africa</md-option>
                        <md-option value="Zagreb">(GMT+01:00) Zagreb</md-option>
                        <md-option value="Athens">(GMT+02:00) Athens</md-option>
                        <md-option value="Bucharest">(GMT+02:00) Bucharest</md-option>
                        <md-option value="Cairo">(GMT+02:00) Cairo</md-option>
                        <md-option value="Harare">(GMT+02:00) Harare</md-option>
                        <md-option value="Helsinki">(GMT+02:00) Helsinki</md-option>
                        <md-option value="Jerusalem">(GMT+02:00) Jerusalem</md-option>
                        <md-option value="Kaliningrad">(GMT+02:00) Kaliningrad</md-option>
                        <md-option value="Kyiv">(GMT+02:00) Kyiv</md-option>
                        <md-option value="Pretoria">(GMT+02:00) Pretoria</md-option>
                        <md-option value="Riga">(GMT+02:00) Riga</md-option>
                        <md-option value="Sofia">(GMT+02:00) Sofia</md-option>
                        <md-option value="Tallinn">(GMT+02:00) Tallinn</md-option>
                        <md-option value="Vilnius">(GMT+02:00) Vilnius</md-option>
                        <md-option value="Baghdad">(GMT+03:00) Baghdad</md-option>
                        <md-option value="Istanbul">(GMT+03:00) Istanbul</md-option>
                        <md-option value="Kuwait">(GMT+03:00) Kuwait</md-option>
                        <md-option value="Minsk">(GMT+03:00) Minsk</md-option>
                        <md-option value="Moscow">(GMT+03:00) Moscow</md-option>
                        <md-option value="Nairobi">(GMT+03:00) Nairobi</md-option>
                        <md-option value="Riyadh">(GMT+03:00) Riyadh</md-option>
                        <md-option value="St. Petersburg">(GMT+03:00) St. Petersburg</md-option>
                        <md-option value="Volgograd">(GMT+03:00) Volgograd</md-option>
                        <md-option value="Tehran">(GMT+03:30) Tehran</md-option>
                        <md-option value="Abu Dhabi">(GMT+04:00) Abu Dhabi</md-option>
                        <md-option value="Baku">(GMT+04:00) Baku</md-option>
                        <md-option value="Muscat">(GMT+04:00) Muscat</md-option>
                        <md-option value="Samara">(GMT+04:00) Samara</md-option>
                        <md-option value="Tbilisi">(GMT+04:00) Tbilisi</md-option>
                        <md-option value="Yerevan">(GMT+04:00) Yerevan</md-option>
                        <md-option value="Kabul">(GMT+04:30) Kabul</md-option>
                        <md-option value="Ekaterinburg">(GMT+05:00) Ekaterinburg</md-option>
                        <md-option value="Islamabad">(GMT+05:00) Islamabad</md-option>
                        <md-option value="Karachi">(GMT+05:00) Karachi</md-option>
                        <md-option value="Tashkent">(GMT+05:00) Tashkent</md-option>
                        <md-option value="Chennai">(GMT+05:30) Chennai</md-option>
                        <md-option value="Kolkata">(GMT+05:30) Kolkata</md-option>
                        <md-option value="Mumbai">(GMT+05:30) Mumbai</md-option>
                        <md-option value="New Delhi">(GMT+05:30) New Delhi</md-option>
                        <md-option value="Sri Jayawardenepura">(GMT+05:30) Sri Jayawardenepura</md-option>
                        <md-option value="Kathmandu">(GMT+05:45) Kathmandu</md-option>
                        <md-option value="Almaty">(GMT+06:00) Almaty</md-option>
                        <md-option value="Astana">(GMT+06:00) Astana</md-option>
                        <md-option value="Dhaka">(GMT+06:00) Dhaka</md-option>
                        <md-option value="Urumqi">(GMT+06:00) Urumqi</md-option>
                        <md-option value="Rangoon">(GMT+06:30) Rangoon</md-option>
                        <md-option value="Bangkok">(GMT+07:00) Bangkok</md-option>
                        <md-option value="Hanoi">(GMT+07:00) Hanoi</md-option>
                        <md-option value="Jakarta">(GMT+07:00) Jakarta</md-option>
                        <md-option value="Krasnoyarsk">(GMT+07:00) Krasnoyarsk</md-option>
                        <md-option value="Novosibirsk">(GMT+07:00) Novosibirsk</md-option>
                        <md-option value="Beijing">(GMT+08:00) Beijing</md-option>
                        <md-option value="Chongqing">(GMT+08:00) Chongqing</md-option>
                        <md-option value="Hong Kong">(GMT+08:00) Hong Kong</md-option>
                        <md-option value="Irkutsk">(GMT+08:00) Irkutsk</md-option>
                        <md-option value="Kuala Lumpur">(GMT+08:00) Kuala Lumpur</md-option>
                        <md-option value="Perth">(GMT+08:00) Perth</md-option>
                        <md-option value="Singapore">(GMT+08:00) Singapore</md-option>
                        <md-option value="Taipei">(GMT+08:00) Taipei</md-option>
                        <md-option value="Ulaanbaatar">(GMT+08:00) Ulaanbaatar</md-option>
                        <md-option value="Osaka">(GMT+09:00) Osaka</md-option>
                        <md-option value="Sapporo">(GMT+09:00) Sapporo</md-option>
                        <md-option value="Seoul">(GMT+09:00) Seoul</md-option>
                        <md-option value="Tokyo">(GMT+09:00) Tokyo</md-option>
                        <md-option value="Yakutsk">(GMT+09:00) Yakutsk</md-option>
                        <md-option value="Adelaide">(GMT+09:30) Adelaide</md-option>
                        <md-option value="Darwin">(GMT+09:30) Darwin</md-option>
                        <md-option value="Brisbane">(GMT+10:00) Brisbane</md-option>
                        <md-option value="Canberra">(GMT+10:00) Canberra</md-option>
                        <md-option value="Guam">(GMT+10:00) Guam</md-option>
                        <md-option value="Hobart">(GMT+10:00) Hobart</md-option>
                        <md-option value="Melbourne">(GMT+10:00) Melbourne</md-option>
                        <md-option value="Port Moresby">(GMT+10:00) Port Moresby</md-option>
                        <md-option value="Sydney">(GMT+10:00) Sydney</md-option>
                        <md-option value="Vladivostok">(GMT+10:00) Vladivostok</md-option>
                        <md-option value="Magadan">(GMT+11:00) Magadan</md-option>
                        <md-option value="New Caledonia">(GMT+11:00) New Caledonia</md-option>
                        <md-option value="Solomon Is.">(GMT+11:00) Solomon Is.</md-option>
                        <md-option value="Srednekolymsk">(GMT+11:00) Srednekolymsk</md-option>
                        <md-option value="Auckland">(GMT+12:00) Auckland</md-option>
                        <md-option value="Fiji">(GMT+12:00) Fiji</md-option>
                        <md-option value="Kamchatka">(GMT+12:00) Kamchatka</md-option>
                        <md-option value="Marshall Is.">(GMT+12:00) Marshall Is.</md-option>
                        <md-option value="Wellington">(GMT+12:00) Wellington</md-option>
                        <md-option value="Chatham Is.">(GMT+12:45) Chatham Is.</md-option>
                        <md-option value="Nuku'alofa">(GMT+13:00) Nuku'alofa</md-option>
                        <md-option value="Samoa">(GMT+13:00) Samoa</md-option>
                        <md-option value="Tokelau Is.">(GMT+13:00) Tokelau Is.</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="md-icon-float md-block">
                    <label>Display comments</label>
                    <md-select ng-model="$ctrl.model.commentSorting" required>
                        <md-option value="asc">In chronological order</md-option>
                        <md-option value="desc">In reverse chronological order</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="md-icon-float md-block">
                    <md-checkbox class="md-primary" md-no-ink ng-model="$ctrl.model.warnOnLeavingUnsaved"
                                 aria-label="Warn me when leaving a page with unsaved text">
                        Warn me when leaving a page with unsaved text
                    </md-checkbox>
                </md-input-container>

                <p class="topUrl">
                    <a ui-sref="emails">Emails</a>
                    <!--<a class="animation-target" ng-click="$ctrl.changePassword()">Change password</a>-->
                    <!--<a ui-sref="my.change-password">Change password</a>-->
                    <md-button class="md-raised md-primary animation-target" ng-click="$ctrl.changePassword()">Change password
                    </md-button>
                </p>
            </div>

            <div flex layout-margin layout-padding>
                <md-input-container class="md-icon-float md-block">
                    <p>My account</p>
                    <p>Login: {{ $ctrl.model.login }}</p>
                    <p>Created: {{ $ctrl.model.createdAt }}</p>
                    <p><b>Atom access key</b></p>
                    <hr>
                    <p>Atom access key created {{ $ctrl.model.atomAccessKeyCreated }} ago (<a
                            ng-click="resetAtomAccesKey()"> Reset </a>)</p>
                    <p><b>API access key</b></p>
                    <hr>
                    <p><a class="show-key" ng-click="$ctrl.showApiKey()">Show</a></p>
                    <p>{{ $ctrl.model.apiAccessKey }}</p>
                    <p>API access key created {{ $ctrl.model.apiAccessKeyCreated }} ago (<a
                            ng-click="resetApiAccesKey()"> Reset </a>)</p>
                </md-input-container>
            </div>

        </div>

        <div layout="row" layout-align="end">
            <md-button class="md-raised md-primary animation-target" type="submit" ng-disabled="RegistrationForm.$invalid">Save
            </md-button>
        </div>

    </div>

</form>



