issues-view-component {
  .w-50 {
    width: 52px;
    margin: 0;
  }

  .md-avatar {
    line-height: 24px;

    > img {
      width: 24px;
      height: 24px;
      //line-height: 24px;
      margin-right: 20px;
      border-radius: 50%;
      box-sizing: content-box;
      float: left;
    }
  }

  //.markdown {
  //  p {
  //    &:first-child {
  //      margin-top: 0;
  //    }
  //
  //    &:last-child {
  //      margin-bottom: 0;
  //    }
  //  }
  //}

  .info-row {
    padding: 4px 0;

    p {
      &:first-child {
        margin-top: 0;
      }

      //&:last-child {
      //  margin-bottom: 0;
      //}
    }
  }
}