<div layout-align="start start" layout="row" class="info-row"
     ng-if="$ctrl.prioritiesList[$ctrl.selectedIssue.priority_id]">
    <md-icon class="w-50">low_priority</md-icon>
    <div flex>
        {{ $ctrl.prioritiesList[$ctrl.selectedIssue.priority_id] }}
    </div>
</div>

<div layout-align="start start" layout="row" class="info-row" ng-if="$ctrl.authorInfo">
    <md-icon class="w-50">create</md-icon>
    <div flex>
        <a ui-sref="users.page.info({id:$ctrl.selectedIssue.author.id})" ng-click="$ctrl.cancel()" class="md-avatar">
            <img src="{{ $ctrl.selectedIssue.author.avatar }}">
            {{ $ctrl.selectedIssue.author.full_name }}
        </a>
    </div>
</div>

<div layout-align="start start" layout="row" class="info-row" ng-if="$ctrl.selectedIssue.assigned">
    <md-icon class="w-50">people</md-icon>
    <div flex>
        <a ui-sref="users.page.info({id:$ctrl.selectedIssue.assigned.id})" ng-click="$ctrl.cancel()" class="md-avatar">
            <img ng-src="{{ $ctrl.selectedIssue.assigned.avatar }}">
            {{ $ctrl.selectedIssue.assigned.full_name }}
        </a>
    </div>
</div>

<div layout-align="start start" layout="row" class="info-row">
    <md-icon class="w-50">date_range</md-icon>
    <div flex>
        <div>{{ $ctrl.selectedIssue.start_date }}</div>
        <div ng-if="$ctrl.selectedIssue.due_date">{{ $ctrl.selectedIssue.due_date }}</div>
    </div>
</div>

<div layout-align="start start" layout="row" class="info-row">
    <md-icon class="w-50">short_text</md-icon>
    <div flex>
        <div class="markdown" markdown-to-html="$ctrl.selectedIssue.description || ''"></div>
    </div>
</div>

<div layout-align="start start" layout="row" class="info-row">
    <md-icon class="w-50">attachment</md-icon>
    <div flex>
        <p layout="column" ng-repeat="attachment in $ctrl.selectedIssue.attachments">
            <span>
                <span>
                    <a href ng-click="$ctrl.download(attachment)">
                        {{ attachment.filename }}
                    </a>
                </span>
                <span>({{ attachment.filesize| bytesToSizeUnits }})</span>
                <span class="md-caption">{{ attachment.author.full_name }}, {{ attachment.created_on }}</span>
                <md-progress-linear ng-if="attachment._progress" md-mode="indeterminate"></md-progress-linear>
            </span>
            <span>{{ attachment.description }}</span>
        </p>
    </div>
</div>

<div layout-align="start start" layout="row" class="info-row"
     ng-if="$ctrl.selectedIssue.journals && $ctrl.selectedIssue.journals.length != 0">
    <md-icon class="w-50">history</md-icon>
    <div flex>
        <!--<md-divider></md-divider>-->
        <issues-history-component issue="$ctrl.selectedIssue"></issues-history-component>
    </div>
</div>
