<div layout="column" layout-align="center center">
    <md-toolbar>
        <div layout="column" layout-padding layout-align="center center">
            <div class="md-headline md-padding">Change password</div>
        </div>
    </md-toolbar>

    <div class="popup-content">

        <form name="ChangePassword" ng-submit="$ctrl.onSubmit()">

            <md-card-content>
                <md-input-container class="md-icon-float md-block">
                    <label>Password</label>
                    <input ng-model="$ctrl.model.password" type="password" required>
                </md-input-container>
                <md-input-container class="md-icon-float md-block">
                    <label>New password</label>
                    <input ng-model="$ctrl.model.newpassword" type="password" required>
                </md-input-container>
                <md-input-container class="md-icon-float md-block">
                    <label>Confirmation</label>
                    <input ng-model="$ctrl.model.confirmation" type="password" required>
                </md-input-container>
            </md-card-content>


            <md-card-actions layout="row" layout-align="center center">
                <md-button class="md-raised md-primary" type = "submit" ng-disabled="ChangePassword.$invalid">Apply
                </md-button>
            </md-card-actions>
        </form>

    </div>

</div>

