<div layout="column" class="modal-dialog" layout-align="center center">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Change password</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="$ctrl.cancel()">
                <md-icon aria-label="Close dialog">clear</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <div class="popup-content md-padding">

        <form name="$ctrl.changePasswordForm" ng-submit="$ctrl.onSubmit()">

            <md-card-content>
                <md-input-container class="md-icon-float md-block">
                    <label>Password</label>
                    <input type="password" required name="password"
                           ng-model="$ctrl.model.password"
                           ng-change="$ctrl.change('password')">
                    <div ng-messages="$ctrl.changePasswordForm.password.$error">
                        <div ng-message="server" ng-bind-html="$ctrl.errors.password | join"></div>
                    </div>
                </md-input-container>
                <md-input-container class="md-icon-float md-block">
                    <label>New password</label>
                    <input type="password" required name="new_password"
                           ng-model="$ctrl.model.new_password"
                           ng-change="$ctrl.change('new_password')">
                    <div ng-messages="$ctrl.changePasswordForm.new_password.$error">
                        <div ng-message="server" ng-bind-html="$ctrl.errors.new_password | join"></div>
                    </div>
                </md-input-container>
                <md-input-container class="md-icon-float md-block">
                    <label>Confirmation</label>
                    <input type="password" required name="confirm_new_password"
                           ng-model="$ctrl.model.confirm_new_password"
                           ng-change="$ctrl.change('confirm_new_password')">
                    <div ng-messages="$ctrl.changePasswordForm.confirm_new_password.$error">
                        <div ng-message="server" ng-bind-html="$ctrl.errors.confirm_new_password | join"></div>
                    </div>
                </md-input-container>
            </md-card-content>


            <md-card-actions layout="row" layout-align="center center">
                <md-button class="md-raised md-primary" ng-disabled="$ctrl.changePasswordForm.$invalid" ng-click="$ctrl.changePassword()">
                    Apply
                </md-button>
            </md-card-actions>
        </form>

    </div>

</div>

